﻿@brand-black: #000;
@brand-white: #fff;
@brand-primary: #0e67a9;
@brand-success: #408800;
@brand-warning: #e87700;
@btn-success: @brand-success;
@seashell: #F0F0F0;

@btn-success-old: #29a66f;
@focus-border-input: #2eaf7a;
@brand-light-blue: #f3f9fc;
@pre-footer: #444;
@footer-bg: #3d3d3d;
@error-color: #d0021b;
@brand-gray-light: #f5f5f5;

@font-success-color: #73a828;

@icon-color-success: @font-success-color;

//social-color

@twitter-color: #1da1f2;
@facebook-color: #3b5898;
@pinterest-color: #cc2127;
@tumbler-color: #36465d;
@linkedin-color: @tumbler-color;
@googleplus-color: @pinterest-color;

@link-color: #0084c4;
