﻿@smallerThanLG: ~'(max-width: 1279px)';
@smallerThanMD: ~'(max-width: 1023px)';
@smallerThanSM: ~'(max-width: 767px)';
@smallerThanXS: ~'(max-width: 480px)';

@LargerThanLG: ~'(min-width: 1280px)';
@largerThanMD: ~'(min-width: 1024px)';
@largerThanSM: ~'(min-width: 768px)';
@largerThanXS: ~'(min-width: 481px)';
@media-lg : 1280px;
@media-lg-200 : 1200px;
@media-md : 992px;
@media-sm : 768px;
@media-xs : 480px;