﻿.col-md-6-custom{
    &:first-child{
        @media(min-width: @media-md){
            padding-right: 0;
        }
    }
    &:last-child{
        @media(min-width: @media-md){
            padding-left: 0;
        }
    }
}

.center-block{
    margin: 0 auto;
}

.pull-right-md{
    @media(min-width: @media-md){
        float: right;
    }
}

.pull-left-md{
    @media(min-width: @media-md){
        float: left;
    }
}