﻿.loading-form-ng {
  height: 244px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .loading-form-ng {
    height: 62px;
  }
}

.spinner-ng {
    width: 50px;
    height: 50px;
    -moz-animation: spin 1.3s infinite linear;
    -o-animation: spin 1.3s infinite linear;
    -webkit-animation: spin 1.3s infinite linear;
    animation: spin 1.3s infinite linear;
    background: url(../images/loader.svg) no-repeat;
    background-size: cover;
    color: transparent;
}

.form-loader .cube2 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s;
}

/*.cube1,.cube2{
    display: none;
}*/