﻿.brand-gradient() {
    background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #3ab44b 0%, #0285c3 100%);
    background: -webkit-linear-gradient(top, #1e5799 0%,#3ab44b 0%,#0285c3 100%);
    background: linear-gradient(to bottom, #1e5799 0%,#3ab44b 0%,#0285c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0285c3',GradientType=0 );
}

.col-full-height-mix(@media-brekpoint){
    @media(min-width: @media-brekpoint){
        position: absolute;
        top: 0;
        bottom: 0;
    }
}

.transition() {
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.transition-2(@time,@effect){
    -moz-transition: @time @effect;
    -o-transition: @time @effect;
    -webkit-transition: @time @effect;
    transition: @time @effect;
}

.transform-y(@value-y){
    -moz-transform: translateY(@value-y);
    -ms-transform: translateY(@value-y);
    -o-transform: translateY(@value-y);
    -webkit-transform: translateY(@value-y);
    transform: translateY(@value-y);
}

.placeholder-color(@color: rgba(0,0,0,0.4)){
    &::-webkit-input-placeholder {
        color: @color;
        .transition();
    }
    &::-moz-placeholder { 
        color: @color;
        .transition();
    }
    &:-ms-input-placeholder { 
        color: @color;
        .transition();
    }
    &:-moz-placeholder {
        color: @color;
        .transition();
    }
}
.placeholder-animation(){
    &::-webkit-input-placeholder {
      .transition();
    }
    &::-moz-placeholder { 
      .transition();
    }
    &:-ms-input-placeholder { 
      .transition();
    }
    &:-moz-placeholder {
      .transition();
    }
}

.placeholder(@opacity: 1){
    &::-webkit-input-placeholder {
      opacity: @opacity;
    }
    &::-moz-placeholder { 
      opacity: @opacity;
    }
    &:-ms-input-placeholder { 
      opacity: @opacity;
    }
    &:-moz-placeholder {
      opacity: @opacity;
    }
}

.placeholder-opacity-color(@opacity,@color){
    &::-webkit-input-placeholder {
      opacity: @opacity;
      color: @color;
    }
    &::-moz-placeholder { 
      opacity: @opacity;
      color: @color;
    }
    &:-ms-input-placeholder { 
      opacity: @opacity;
      color: @color;
    }
    &:-moz-placeholder {
      opacity: @opacity;
      color: @color;
    }

}

.clearfix(){
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
}

.aligner-flexbox(){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.rotate(@value) {
    -moz-transform: rotate(@value);
    -ms-transform: rotate(@value);
    -o-transform: rotate(@value);
    -webkit-transform: rotate(@value);
    transform: rotate(@value);
}

.animation-name(@name) {
    -moz-animation-name: @name;
    -o-animation-name: @name;
    -webkit-animation-name: @name;
    animation-name: @name;
}

.animation-duration(@value) {
    -moz-animation-duration: @value;
    -o-animation-duration: @value;
    -webkit-animation-duration: @value;
    animation-duration: @value;
}
.animation-fill-mode(@value) {
    -moz-animation-fill-mode: @value;
    -o-animation-fill-mode: @value;
    -webkit-animation-fill-mode: @value;
    animation-fill-mode: @value;
}

.animation-delay(@value) {
    -moz-animation-delay: @value;
    -o-animation-delay: @value;
    -webkit-animation-delay: @value;
    animation-delay: @value;
}

.brand-gradient_vertical(){
    background: rgb(115,168,40);
    background: -moz-linear-gradient(186deg,#73a828,#1697f2);
    background: -webkit-linear-gradient(186deg,#73a828,#1697f2);
    background: linear-gradient(186deg,#73a828,#1697f2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73a828', endColorstr='#1697f2',GradientType=0 );
}

.default-gradient(){
    background: #75ab0c;
    background: -moz-linear-gradient(top, #75ab0c 0%, #0285c3 100%);
    background: -webkit-linear-gradient(top, #75ab0c 0%, #0285c3 100%);
    background: linear-gradient(to bottom, #75ab0c 0%, #0285c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ab44b', endColorstr='#0285c3', GradientType=0);
}

.animation(@name,@duration,@timing-function,@fill-mode) {
    -moz-animation-name: @name;
    -o-animation-name: @name;
    -webkit-animation-name: @name;
    animation-name: @name;
    -moz-animation-duration: @duration;
    -o-animation-duration: @duration;
    -webkit-animation-duration: @duration;
    animation-duration: @duration;
    -moz-animation-timing-function: @timing-function;
    -o-animation-timing-function: @timing-function;
    -webkit-animation-timing-function: @timing-function;
    animation-timing-function: @timing-function;
    -moz-animation-fill-mode: @fill-mode !important;
    -o-animation-fill-mode: @fill-mode !important;
    -webkit-animation-fill-mode: @fill-mode !important;
    animation-fill-mode: @fill-mode !important;
}