﻿.btn{
    &-default{
        border: 1.2px solid #000000;
        border-radius: 3px;
        font-size: 14px;
        color: @brand-black;
        background-color: transparent;

        &:focus,&:active{
            background-color: @brand-success;
            border-color: @brand-success;
        }
        &:active{
            &:hover,&:focus{
                background-color: @brand-success;
                border-color: @brand-success;
            }
        }

        &:hover{
            color: @brand-success;
            border-color: @brand-success;
            background-color: transparent;
        }
    }

    &-warning-custom{
        background-color: @brand-warning;
        color: @brand-white;

        &:focus{
            background-color: lighten(@brand-warning,10%);
        }

        &:hover{
            background-color: darken(@brand-warning,10%);
        }

        &:active{
            background-color: darken(@brand-warning,20%);
        }
    }
    &-small{
        padding: 7px 20px;
    }
    &-x2 {
      padding: 18px 15px;
      min-width: 270px;
    }
}

.link-success{
    color: @brand-success;
    
    &:focus{
        color: darken(@brand-success,5%);
        text-decoration: underline;
    }

    &:hover{
        color: darken(@brand-success,10%);
    }
    &:active{
        color: darken(@brand-success,20%);
    }
}