﻿@import "_brand-colors";
@import "_breakpoints";
//.line-primary:
@line-primary-height: 3px;
@line-primary-width: 46px;
@line-primary-padding-bottom: 20px;
@line-primary-bg: #90b2d6;

//.line-default:
@line-default-height: 2px;
@line-default-width: 77px;
@line-default-bg: rgba(0, 0, 0, 0.1);
@line-default-padding-bottom: 17px;
@line-default-margin-bottom: 21px;

//.line-success:
@line-success-height: 2px;
@line-success-width: 56px;
@line-success-bg: @font-success-color;
@line-success-padding-bottom: 40px;
@line-success-margin-bottom: 20px;

.br-lg {
    br{
        @media(max-width: (@media-lg-200 - 1px)){
            display: none;
        }
    }
}

.lightgray-bg{
    background: @brand-gray-light;
}

.line-primary{
    padding-bottom: @line-primary-padding-bottom + @line-primary-height;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: @line-primary-height;
        width: @line-primary-width;
        background: @line-primary-bg;
        margin-left: -(@line-primary-width / 2);
        
        @media(min-width: @media-sm){
            left: 0;
            margin-left: 0;
        }
    }
}

.line-default{
    
    padding-bottom: @line-default-padding-bottom + @line-default-height;
    position: relative;
    //margin-bottom: @line-default-margin-bottom;
    display: inline-block;

    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: @line-default-height;
        width: @line-default-width;
        background: @line-default-bg;
        margin-left: -(@line-default-width / 2);
    }
}

.line-success{
    padding-bottom: (@line-success-padding-bottom - 10px - @line-success-height)+ @line-success-height;
    position: relative;
    margin-bottom: @line-success-margin-bottom;
    @media(min-width: @media-sm){
        padding-bottom: @line-success-padding-bottom + @line-success-height;
    }
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: @line-success-height;
        width: @line-success-width;
        background: @line-success-bg;
    }
}

.text-center-xs{
    @media(max-width: (@media-sm - 1px)){
        text-align: center;
    }
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-xs-30{
    @media(max-width: (@media-sm - 1px)){
        .margin-top-30();
    }
}

.padding-btm-30{
    padding-bottom: 30px;
}

.button-section{
    padding: 67px 0;
}

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.light-font {
    font-weight: 300;
}

.ico-gradient:before{
    background: -webkit-gradient(linear, left top, left bottom, from(#76a924), to(#1496f4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block-relative{
    position: relative;
    width: 100%;
}

.negative-margin-row-xs{
    @media(max-width: (@media-sm - 1px)){
        margin-left: -15px;
        margin-right: -15px;
    }
}

.fs-18{
    font-size: 18px;
}

.no-margin-cm{
    margin: 0;
}

@media(max-width: 590px){
    iframe:not(.embed-responsive-item){
        width: 100% !important;
    }
}

.section-padding{
    padding: 30px 0;
    &-x2{
        padding: 30px 0;

        @media(min-width: @media-sm){
            padding: 70px 0;
        }
        
    }
}