﻿@import "_breakpoints";

.flex{
    display: flex;
}

.flex-grow-2-sm{
    @media(min-width: @media-sm){
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
}

.flex-column-xs{
    @media(max-width: (@media-sm - 1px)){
        flex-direction: column;
    }
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-align-center{
    align-items: center;
}

.flex-align-stretch{
    align-items: stretch;
}

.flex-justify-sb{
    justify-content: space-between;
}