@import 'fonts.css';
@import 'bootstrap-3.3.7.css';


h1,
h2,
h3,
.title,
.main,
.name {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
/* Buttons */
.btn-yellow {
    background-color: #FFBF00;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    display: block;
    height: 60px;
    line-height: 60px;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-yellow:hover {
    text-decoration: none;
    color: #2A2A2A;
}

.btn-success-custom {
    border: 2px solid #3d8900;
    color: #3d8900;
    background-color: #fff;
}

/* header */
header#header {
    padding: 19px 0;
    background: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}


#logo a {
    text-decoration: none;
    line-height: 24px;
    margin-right: 10px;
    font-size: 16px;
}

#logo img {
    vertical-align: top;
    margin-top: -4px;
}

#logo span {
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -1.87px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}


#logo span:first-child {
    color: #fff;
}
#logo sup {
    font-size: 60%;
    top: -1em;
    color: #ffffff;
}


footer {
    padding-top: 30px;
    background: rgba(240,244,247,.5);
    margin-top: 30px;
}

.footer-nav a {
    color: #030303;
    font-size: 16px;
    letter-spacing: -0.27px;
    line-height: 19px;
    display: block;
    font-family: Montserrat, sans-serif;
    margin-bottom: 8px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.footer-nav ul {
    list-style: none;
    padding-left: 0;
}

.footer-nav .menu-item-has-children {
    padding-left: 30px;
    padding-right: 30px;
    width: 33.333333%;
}

.footer-nav .menu-item-has-children > span {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dadbdd;
    display: block;
    color: #8c959a;
    font-size: 18px;
}

/* Footer */
.footer-nav a:hover {
    text-decoration: none;
    color: #030303;
    opacity: .8;
}

.copyright {
    text-align: center;
    opacity: 0.4;
    color: #030303;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 40px;
}

.xs-img img {
    max-width: 100%;
}

.top-content .hero-box  {
    min-height: calc(100vh - 110px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-box h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.3px;
    line-height: 55px;
}

.hero-box .subtitle {
    opacity: .9;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .7px;
    line-height: 20px;
    margin-bottom: 48px;
}

.benefits-wrapper {
    background: rgba(240,244,247,.5);
}

.benefits-container {
    height: 110px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.benefits__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 22px;
    color: #333;
    font-weight: 300;
}

.benefits__item .icon {
    display: inline-block;
    overflow: hidden;
    width: 65px;
    height: 65px;
    margin: 0 10px 0 0;
    vertical-align: top;
}

.icon svg {
    display: inline-block;
    overflow: hidden;
    background: inherit;
    height: 100%;
    width: 100%;
    fill: #0767ae;
}

.main-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.features-container {
    width: 70%;
    margin: 0 auto;
}

#blog-disclosure-box {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #767575;
}

#blog-disclosure-box h2 {
    font-size: 16px;
}

.social-buttons ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.social-buttons ul li {
    margin: 3px 5px;

}

.social-buttons a {
    line-height: 0;
}

.social-buttons a:hover {
    text-decoration: none;
    opacity: .8;
}

.social-buttons i {
    font-size: 16px;
    color: #030303;
}



.btn-success-custom {
    border: 2px solid #3d8900;
    color: #3d8900;
    background-color: #fff;
}
.btn-success-custom:focus {
    color: #3d8900;
}
.btn-success-custom:hover {
    color: #fff;
    background-color: #2d8e39;
    border-color: transparent;
}
.hasScrolled .btn-success-custom {
    color: #fff;
    background-color: #2d8e39;
    border-color: transparent;
}
.hasScrolled .btn-success-custom:hover {
    border: 2px solid #3d8900;
    color: #3d8900;
    background: #fff;
}

.home-installment jsf-form .jsf-btn-next,
.home-installment jsf-form .jsf-btn-radio {
    background: #ffbf00;
    color: #4a4a4a;
}

.home-installment jsf-form .jsf-btn-next:hover,
.home-installment jsf-form .jsf-progress-line,
.home-installment jsf-form .jsf-btn-radio:hover{
    background: #f5ad03;
    color: #2a2a2a;
}

/* Media */

@media (max-width:991px) {
    .footer-nav a {
        margin-bottom: 6px;
    }
}

@media (max-width: 768px) {
    header#header {
        background: #ffffff;
        padding: 19px 0 12px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 2px 2px 20px 0 rgba(0,0,0,.3);
    }

    #logo span {
        font-size: 25px;
    }

    #logo sup,
    #logo span {
        color: #0e67a9;
    }

    #logo span:first-child {
        color: #408800;
    }

    .top-content .hero-box {
        padding-top: 70px;
        min-height: 100vh;
        padding-bottom: 60px;
    }
    .hero-box h1 {
        font-size: 26px;
        line-height: 28px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;

        /*display: none;*/
    }

    .hero-box .subtitle {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;

        display: none;
    }

    .home-installment jsf-form .jsf-form-container {
        padding: 20px 15px;
    }

    .benefits-container {
        display: block;
        height: auto;
        padding: 20px 0;
    }

    .benefits__item {
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }

    .benefits__item > * {
        display: block;
    }

    .benefits__item > .icon {
        margin: 0 0 10px;
    }

    .features-container {
        width: 100%;
    }

    .features-container p br {
        display: none;
    }

    .footer-nav {
        display: block;
        text-align: center;
    }

    .footer-nav .menu-item-has-children {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-nav .menu-item-has-children:not(:first-child) > span {
        margin-top: 25px;
    }

    .footer-nav a {
        margin-bottom: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    footer {
        padding-bottom: 40px;
    }

}