@import "variables-icomoon";

@font-face {
    font-family: 'icomoon-new';
    src: url('@{icomoon-font-path}/icomoon.eot?5u42jf');
    src: url('@{icomoon-font-path}/icomoon.eot?5u42jf#iefix') format('embedded-opentype'), url('@{icomoon-font-path}/icomoon.ttf?5u42jf') format('truetype'), url('@{icomoon-font-path}/icomoon.woff?5u42jf') format('woff'), url('@{icomoon-font-path}/icomoon.svg?5u42jf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-new' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-circle-minus {
  &:before {
    content: @icomoon-circle-minus;
  }
}
.icomoon-circle-plus {
  &:before {
    content: @icomoon-circle-plus;
  }
}

.icomoon-percent-circle {
    &:before {
        content: @icomoon-percent-circle;
    }
}

.icomoon-documents {
    &:before {
        content: @icomoon-documents;
    }
}

.icomoon-tumblr {
    &:before {
        content: @icomoon-tumblr;
    }
}

.icomoon-twitter {
    &:before {
        content: @icomoon-twitter;
    }
}

.icomoon-user-star {
    &:before {
        content: @icomoon-user-star;
    }
}

.icomoon-address-small {
    &:before {
        content: @icomoon-address-small;
    }
}

.icomoon-arrow-right-circle {
    &:before {
        content: @icomoon-arrow-right-circle;
    }
}

.icomoon-calendar-small {
    &:before {
        content: @icomoon-calendar-small;
    }
}

.icomoon-cards {
    &:before {
        content: @icomoon-cards;
    }
}

.icomoon-case {
    &:before {
        content: @icomoon-case;
    }
}

.icomoon-cash {
    &:before {
        content: @icomoon-cash;
    }
}

.icomoon-cash-24 {
    &:before {
        content: @icomoon-cash-24;
    }
}

.icomoon-clock-small {
    &:before {
        content: @icomoon-clock-small;
    }
}

.icomoon-compare-options {
    &:before {
        content: @icomoon-compare-options;
    }
}

.icomoon-cross-small {
    &:before {
        content: @icomoon-cross-small;
    }
}

.icomoon-doc-time {
    &:before {
        content: @icomoon-doc-time;
    }
}

.icomoon-documents-calendar {
    &:before {
        content: @icomoon-documents-calendar;
    }
}

.icomoon-documents-time {
    &:before {
        content: @icomoon-documents-time;
    }
}

.icomoon-dollar-arrows {
    &:before {
        content: @icomoon-dollar-arrows;
    }
}

.icomoon-dollar-circle {
    &:before {
        content: @icomoon-dollar-circle;
    }
}

.icomoon-dollar-noCircle {
    &:before {
        content: @icomoon-dollar-noCircle;
    }
}

.icomoon-dollar-small {
    &:before {
        content: @icomoon-dollar-small;
    }
}

.icomoon-equipment {
    &:before {
        content: @icomoon-equipment;
    }
}

.icomoon-facebook {
    &:before {
        content: @icomoon-facebook;
    }
}

.icomoon-free-circle {
    &:before {
        content: @icomoon-free-circle;
    }
}

.icomoon-government {
    &:before {
        content: @icomoon-government;
    }
}

.icomoon-idea-dollar {
    &:before {
        content: @icomoon-idea-dollar;
    }
}

.icomoon-instagram {
    &:before {
        content: @icomoon-instagram;
    }
}

.icomoon-linked-in {
    &:before {
        content: @icomoon-linked-in;
    }
}

.icomoon-mail-small {
    &:before {
        content: @icomoon-mail-small;
    }
}

.icomoon-menu-small {
    &:before {
        content: @icomoon-menu-small;
    }
}

.icomoon-mobile-dollar {
    &:before {
        content: @icomoon-mobile-dollar;
    }
}

.icomoon-multiple-offers {
    &:before {
        content: @icomoon-multiple-offers;
    }
}

.icomoon-percent-small {
    &:before {
        content: @icomoon-percent-small;
    }
}

.icomoon-phone {
    &:before {
        content: @icomoon-phone;
    }
}

.icomoon-phone-small {
    &:before {
        content: @icomoon-phone-small;
    }
}

.icomoon-pinterest {
    &:before {
        content: @icomoon-pinterest;
    }
}

.icomoon-preferences {
    &:before {
        content: @icomoon-preferences;
    }
}

.icomoon-search-small {
    &:before {
        content: @icomoon-search-small;
    }
}

.icomoon-shop {
    &:before {
        content: @icomoon-shop;
    }
}

.icomoon-simple {
    &:before {
        content: @icomoon-simple;
    }
}

.icomoon-speed {
    &:before {
        content: @icomoon-speed;
    }
}
