@icomoon-font-path: "../fonts/icomoon-new";


@icomoon-circle-minus: "\e900";
@icomoon-circle-plus: "\e901";
@icomoon-documents: "\e902";
@icomoon-tumblr: "\e903";
@icomoon-twitter: "\e904";
@icomoon-user-star: "\e905";
@icomoon-address-small: "\e906";
@icomoon-arrow-right-circle: "\e907";
@icomoon-calendar-small: "\e908";
@icomoon-cards: "\e909";
@icomoon-case: "\e90a";
@icomoon-cash: "\e90b";
@icomoon-cash-24: "\e90c";
@icomoon-clock-small: "\e90d";
@icomoon-compare-options: "\e90e";
@icomoon-cross-small: "\e90f";
@icomoon-doc-time: "\e910";
@icomoon-documents-calendar: "\e911";
@icomoon-documents-time: "\e912";
@icomoon-dollar-arrows: "\e913";
@icomoon-dollar-circle: "\e914";
@icomoon-dollar-noCircle: "\e915";
@icomoon-dollar-small: "\e916";
@icomoon-equipment: "\e917";
@icomoon-facebook: "\e918";
@icomoon-free-circle: "\e919";
@icomoon-government: "\e91a";
@icomoon-idea-dollar: "\e91b";
@icomoon-instagram: "\e91c";
@icomoon-linked-in: "\e91d";
@icomoon-mail-small: "\e91e";
@icomoon-menu-small: "\e91f";
@icomoon-mobile-dollar: "\e920";
@icomoon-multiple-offers: "\e921";
@icomoon-percent-small: "\e922";
@icomoon-phone: "\e923";
@icomoon-phone-small: "\e924";
@icomoon-pinterest: "\e925";
@icomoon-preferences: "\e926";
@icomoon-search-small: "\e927";
@icomoon-shop: "\e928";
@icomoon-simple: "\e929";
@icomoon-speed: "\e92a";
@icomoon-percent-circle: "\e92b";