/*
 Theme Name:   lendgenius
 Theme URI:    http://www.Lendgenius.com/
 Description:  Custom Theme for Lendgenius.com
 Author:       Lendgenius.com.
 Author URI:   http://Lendgenius.com
 Version:      1.0.0
 Text Domain:  lendgenius
*/

/*@font-face {
	font-family: "icomoon";
	src: url("assets/fonts/icomoon.eot?ntr70h");
	src: url("assets/fonts/icomoon.eot?ntr70h#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?ntr70h") format("truetype"), url("assets/fonts/icomoon.woff?ntr70h") format("woff"), url("assets/fonts/icomoon.svg?ntr70h#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}*/

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e90a";
}

.icon-calculator:before {
	content: "\e900";
}

.icon-cards:before {
	content: "\e901";
}

.icon-cash:before {
	content: "\e902";
}

.icon-credit-cards:before {
	content: "\e903";
}

.icon-equipment:before {
	content: "\e904";
}

.icon-loans:before {
	content: "\e905";
}

.icon-sba:before {
	content: "\e906";
}

.icon-term:before {
	content: "\e907";
}

.icon-tools:before {
	content: "\e908";
}

.icon-video:before {
	content: "\e909";
}

.visual .cycle-gallery .pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.widget:after,
.search-form:after,
.post-password-form p:after,
.navigation-single:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.comment-form input[type="text"],
.search-form input[type="text"],
.post-password-form input[type="text"],
.comment-form
input[type="tel"],
.search-form
input[type="tel"],
.post-password-form
input[type="tel"],
.comment-form
input[type="email"],
.search-form
input[type="email"],
.post-password-form
input[type="email"],
.comment-form
input[type="search"],
.search-form
input[type="search"],
.post-password-form
input[type="search"],
.comment-form
input[type="password"],
.search-form
input[type="password"],
.post-password-form
input[type="password"],
.comment-form
input[type="url"],
.search-form
input[type="url"],
.post-password-form
input[type="url"],
.comment-form
input[type="date"],
.search-form
input[type="date"],
.post-password-form
input[type="date"],
.comment-form
textarea,
.search-form
textarea,
.post-password-form
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
	padding: .5em .7em;
}

.comment-form input[type="text"]:focus,
.search-form input[type="text"]:focus,
.post-password-form input[type="text"]:focus,
.comment-form
  input[type="tel"]:focus,
.search-form
  input[type="tel"]:focus,
.post-password-form
  input[type="tel"]:focus,
.comment-form
  input[type="email"]:focus,
.search-form
  input[type="email"]:focus,
.post-password-form
  input[type="email"]:focus,
.comment-form
  input[type="search"]:focus,
.search-form
  input[type="search"]:focus,
.post-password-form
  input[type="search"]:focus,
.comment-form
  input[type="password"]:focus,
.search-form
  input[type="password"]:focus,
.post-password-form
  input[type="password"]:focus,
.comment-form
  input[type="url"]:focus,
.search-form
  input[type="url"]:focus,
.post-password-form
  input[type="url"]:focus,
.comment-form
  input[type="date"]:focus,
.search-form
  input[type="date"]:focus,
.post-password-form
  input[type="date"]:focus,
.comment-form
  textarea:focus,
.search-form
  textarea:focus,
.post-password-form
  textarea:focus {
	border-color: #333;
}

.comment-form input[type="text"]::-webkit-input-placeholder,
.search-form input[type="text"]::-webkit-input-placeholder,
.post-password-form input[type="text"]::-webkit-input-placeholder,
.comment-form
  input[type="tel"]::-webkit-input-placeholder,
.search-form
  input[type="tel"]::-webkit-input-placeholder,
.post-password-form
  input[type="tel"]::-webkit-input-placeholder,
.comment-form
  input[type="email"]::-webkit-input-placeholder,
.search-form
  input[type="email"]::-webkit-input-placeholder,
.post-password-form
  input[type="email"]::-webkit-input-placeholder,
.comment-form
  input[type="search"]::-webkit-input-placeholder,
.search-form
  input[type="search"]::-webkit-input-placeholder,
.post-password-form
  input[type="search"]::-webkit-input-placeholder,
.comment-form
  input[type="password"]::-webkit-input-placeholder,
.search-form
  input[type="password"]::-webkit-input-placeholder,
.post-password-form
  input[type="password"]::-webkit-input-placeholder,
.comment-form
  input[type="url"]::-webkit-input-placeholder,
.search-form
  input[type="url"]::-webkit-input-placeholder,
.post-password-form
  input[type="url"]::-webkit-input-placeholder,
.comment-form
  input[type="date"]::-webkit-input-placeholder,
.search-form
  input[type="date"]::-webkit-input-placeholder,
.post-password-form
  input[type="date"]::-webkit-input-placeholder,
.comment-form
  textarea::-webkit-input-placeholder,
.search-form
  textarea::-webkit-input-placeholder,
.post-password-form
  textarea::-webkit-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]::-moz-placeholder,
.search-form input[type="text"]::-moz-placeholder,
.post-password-form input[type="text"]::-moz-placeholder,
.comment-form
  input[type="tel"]::-moz-placeholder,
.search-form
  input[type="tel"]::-moz-placeholder,
.post-password-form
  input[type="tel"]::-moz-placeholder,
.comment-form
  input[type="email"]::-moz-placeholder,
.search-form
  input[type="email"]::-moz-placeholder,
.post-password-form
  input[type="email"]::-moz-placeholder,
.comment-form
  input[type="search"]::-moz-placeholder,
.search-form
  input[type="search"]::-moz-placeholder,
.post-password-form
  input[type="search"]::-moz-placeholder,
.comment-form
  input[type="password"]::-moz-placeholder,
.search-form
  input[type="password"]::-moz-placeholder,
.post-password-form
  input[type="password"]::-moz-placeholder,
.comment-form
  input[type="url"]::-moz-placeholder,
.search-form
  input[type="url"]::-moz-placeholder,
.post-password-form
  input[type="url"]::-moz-placeholder,
.comment-form
  input[type="date"]::-moz-placeholder,
.search-form
  input[type="date"]::-moz-placeholder,
.post-password-form
  input[type="date"]::-moz-placeholder,
.comment-form
  textarea::-moz-placeholder,
.search-form
  textarea::-moz-placeholder,
.post-password-form
  textarea::-moz-placeholder {
	opacity: 1;
	color: #ccc;
}

.comment-form input[type="text"]:-moz-placeholder,
.search-form input[type="text"]:-moz-placeholder,
.post-password-form input[type="text"]:-moz-placeholder,
.comment-form
  input[type="tel"]:-moz-placeholder,
.search-form
  input[type="tel"]:-moz-placeholder,
.post-password-form
  input[type="tel"]:-moz-placeholder,
.comment-form
  input[type="email"]:-moz-placeholder,
.search-form
  input[type="email"]:-moz-placeholder,
.post-password-form
  input[type="email"]:-moz-placeholder,
.comment-form
  input[type="search"]:-moz-placeholder,
.search-form
  input[type="search"]:-moz-placeholder,
.post-password-form
  input[type="search"]:-moz-placeholder,
.comment-form
  input[type="password"]:-moz-placeholder,
.search-form
  input[type="password"]:-moz-placeholder,
.post-password-form
  input[type="password"]:-moz-placeholder,
.comment-form
  input[type="url"]:-moz-placeholder,
.search-form
  input[type="url"]:-moz-placeholder,
.post-password-form
  input[type="url"]:-moz-placeholder,
.comment-form
  input[type="date"]:-moz-placeholder,
.search-form
  input[type="date"]:-moz-placeholder,
.post-password-form
  input[type="date"]:-moz-placeholder,
.comment-form
  textarea:-moz-placeholder,
.search-form
  textarea:-moz-placeholder,
.post-password-form
  textarea:-moz-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]:-ms-input-placeholder,
.search-form input[type="text"]:-ms-input-placeholder,
.post-password-form input[type="text"]:-ms-input-placeholder,
.comment-form
  input[type="tel"]:-ms-input-placeholder,
.search-form
  input[type="tel"]:-ms-input-placeholder,
.post-password-form
  input[type="tel"]:-ms-input-placeholder,
.comment-form
  input[type="email"]:-ms-input-placeholder,
.search-form
  input[type="email"]:-ms-input-placeholder,
.post-password-form
  input[type="email"]:-ms-input-placeholder,
.comment-form
  input[type="search"]:-ms-input-placeholder,
.search-form
  input[type="search"]:-ms-input-placeholder,
.post-password-form
  input[type="search"]:-ms-input-placeholder,
.comment-form
  input[type="password"]:-ms-input-placeholder,
.search-form
  input[type="password"]:-ms-input-placeholder,
.post-password-form
  input[type="password"]:-ms-input-placeholder,
.comment-form
  input[type="url"]:-ms-input-placeholder,
.search-form
  input[type="url"]:-ms-input-placeholder,
.post-password-form
  input[type="url"]:-ms-input-placeholder,
.comment-form
  input[type="date"]:-ms-input-placeholder,
.search-form
  input[type="date"]:-ms-input-placeholder,
.post-password-form
  input[type="date"]:-ms-input-placeholder,
.comment-form
  textarea:-ms-input-placeholder,
.search-form
  textarea:-ms-input-placeholder,
.post-password-form
  textarea:-ms-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"].placeholder,
.search-form input[type="text"].placeholder,
.post-password-form input[type="text"].placeholder,
.comment-form
  input[type="tel"].placeholder,
.search-form
  input[type="tel"].placeholder,
.post-password-form
  input[type="tel"].placeholder,
.comment-form
  input[type="email"].placeholder,
.search-form
  input[type="email"].placeholder,
.post-password-form
  input[type="email"].placeholder,
.comment-form
  input[type="search"].placeholder,
.search-form
  input[type="search"].placeholder,
.post-password-form
  input[type="search"].placeholder,
.comment-form
  input[type="password"].placeholder,
.search-form
  input[type="password"].placeholder,
.post-password-form
  input[type="password"].placeholder,
.comment-form
  input[type="url"].placeholder,
.search-form
  input[type="url"].placeholder,
.post-password-form
  input[type="url"].placeholder,
.comment-form
  input[type="date"].placeholder,
.search-form
  input[type="date"].placeholder,
.post-password-form
  input[type="date"].placeholder,
.comment-form
  textarea.placeholder,
.search-form
  textarea.placeholder,
.post-password-form
  textarea.placeholder {
	color: #ccc;
}

.widget {
	margin-bottom: 1.2em;
}

.widget ul {
	padding-left: 2em;
}

.widget select {
	min-width: 150px;
}

.comment-form label {
	display: block;
	padding-bottom: 4px;
}

.comment-form textarea {
	overflow: auto;
	margin: 0;
	height: 120px;
	min-height: 120px;
}

.comment-form textarea,
.comment-form input[type="text"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.comment-form input[type="submit"] {
	display: block;
	float: none;
}

.post-password-form label {
	display: block;
}

.post-password-form input[type="password"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.search-form input {
	float: left;
	height: 2em;
}

.search-form input[type="search"] {
	margin: 0 4px 0 0;
	width: 150px;
}

.post-password-form input {
	float: left;
	height: 2em;
}

.post-password-form input[type="password"] {
	width: 150px;
}

.comment-form input[type="submit"],
.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	background: #333;
	color: #fff;
	height: 2em;
	border: none;
	padding: 0 .5em;
}

.comment-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:hover,
.search-form input[type="submit"]:hover {
	opacity: .8;
}

.commentlist {
	margin: 0 0 1.2em;
}

.commentlist .edit-link {
	margin: 0;
}

.commentlist .avatar-holder {
	float: left;
	margin: 0 1.2em 4px 0;
}

.commentlist-item .commentlist-item {
	padding: 0;
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: 1.2em;
}

.widget_calendar #next {
	text-align: right;
}

.gallery-item dt {
	float: none;
	padding: 0;
}

.navigation,
.navigation-comments {
	position: relative;
	vertical-align: middle;
	margin-bottom: 1.2em;
}

.navigation .screen-reader-text,
.navigation-comments .screen-reader-text {
	position: absolute;
	left: -99999px;
}

.navigation .page-numbers,
.navigation-comments .page-numbers {
	display: inline-block;
	vertical-align: middle;
	padding: 0 .4em;
}

.navigation .next,
.navigation .prev,
.navigation-comments .next,
.navigation-comments .prev {
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	padding: .4em;
	text-decoration: none;
}

.navigation-single {
	margin-bottom: 1.2em;
}

.navigation-single .next,
.navigation-single .prev {
	float: left;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	text-decoration: none;
}

.navigation-single .next a,
.navigation-single .prev a {
	color: inherit;
	text-decoration: none;
	padding: .4em;
	display: block;
}

.navigation-single .next {
	float: right;
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid #ccc;
	padding: .4em;
	margin-bottom: 1.2em;
}

.wp-caption img {
	margin: 0;
	vertical-align: top;
}

.wp-caption p {
	margin: .4em 0 0;
}

div.aligncenter {
	margin: 0 auto 1.2em;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 1.2em 4px 0;
}

.alignright {
	float: right;
	margin: 0 0 4px 1.2em;
}

.mejs-container {
	margin-bottom: 1.2em;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

.content-funnel .how-much-wraper h1 {
	font-size: 53px;
	font-weight: 300;
	color: #fff;
	line-height: 1.4;
	margin: 0 0 25px;
	text-align: center;
}

.content-funnel .how-much-wraper h1 b {
	font-weight: 700;
	display: block;
}

.content-funnel .how-much-search-wraper.pull-left {
	padding: 0;
	width: 67%;
	margin: 0 0 -47px;
}

.content-funnel .how-much-search-wraper.pull-left .how-much-search {
	width: 55%;
}

.content-funnel .how-much-search-wraper.pull-left .how-much-button {
	width: 45%;
}

.content-funnel .how-much-search-wraper.pull-left .field-input {
	letter-spacing: 1px;
	word-spacing: -1px;
}

/*.options-block {
	background: #f8f9fb;
	padding: 80px 0;
}

.options-block h2 {
	margin: 30px 0 35px;
}

.options-block p {
	line-height: 26px;
	color: #777;
	margin: 0 0 60px;
}

.options-block .btn {
	border-radius: 4px;
	font-size: 18px;
	padding: 5px 35px;
	letter-spacing: 1px;
}

.options-block .text-holder {
	padding: 0 53px 0 30px;
}

.options-block .image-holder {
	margin: 12px 0 0 -103px;
	width: 125%;
}*/

.product-block {
	padding: 5.3% 0 5%;
}

.product-block h2 {
	margin: 0 0 72px;
}

.product-block .products-list {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	margin: 0 0 61px;
}

.product-block .products-list li {
	font-size: 18px;
	line-height: 1.2;
	display: inline-block;
	vertical-align: top;
	width: 16.66%;
	letter-spacing: .5px;
	position: relative;
}

.product-block .products-list li:first-child:before {
	display: none;
}

.product-block .products-list li:before {
	content: "";
	height: 55px;
	width: 1px;
	background: #777;
	position: absolute;
	left: 0;
	top: 35px;
}

.product-block .products-list li.active a {
	color: #0084c4;
}

.product-block .products-list li a {
  display: block;
  color: #000;
}

.product-block .products-list li a:hover {
	color: #0084c4;
}

.product-block .products-list i {
	display: block;
	font-size: 66px;
	margin: 0 0 21px;
}

.product-block .products-list i.icon-sba {
	font-size: 61px;
	margin: 4px 0 21px;
}

.product-block .products-list i.icon-equipment {
	font-size: 50px;
	margin: 16px 0 19px;
}

.product-block .products-list i.icon-equipment {
	font-size: 57px;
	margin: 9px 0 20px;
}

.product-block .products-list i.icon-cards {
	font-size: 50px;
	margin: 16px 0 19px;
}

.product-block .products-list i.icon-cash {
	font-size: 59px;
	margin: 4px 0 23px;
}

.product-block .btn.btn-primary {
	background: #0084c4;
	font-size: 18px;
	border-radius: 4px;
	padding: 5px 35px;
	letter-spacing: 1px;
}

.product-block .btn.btn-primary:hover {
	background: #286090;
}

.resources-block {
	background: #f8f9fb url("assets/images/bg-wave.png") repeat-x 0 -135px;
	padding: 7.75% 0 2.8%;
}

.resources-block h2 {
	margin: 0 0 9.3%;
}

.resources-block .image-block {
	float: left;
	position: relative;
	margin: 8px 56px 20px 4px;
	border-radius: 4px;
	overflow: hidden;
}

.resources-block .image-block .title-text {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.resources-block .text-block {
	color: #777;
	line-height: 30px;
	padding: 0 25px 87px 0;
	overflow: hidden;
}

.resources-block .text-block p {
	margin: 0 0 37px;
}

.resources-block .more {
	color: #0084c3;
}

.resources-block .more:hover {
	color: #286090;
}

.visual {
	background-size: cover;
	background-position: 50% 0;
	color: #fff;
	min-height: 358px;
}

.visual .cycle-gallery {
	position: relative;
}

.visual .cycle-gallery.gallery .mask {
	overflow: hidden;
}

.visual .cycle-gallery.gallery .text-holder {
	padding: 10px 11% 0 0;
}

.visual .cycle-gallery.gallery img {
	margin: 0 !important;
}

.visual .cycle-gallery .mask {
	position: relative;
	width: 100%;
}

.visual .cycle-gallery .slideset {
	width: 100%;
	float: left;
}

.visual .cycle-gallery .slide {
	width: 100%;
	float: left;
	padding: 63px 0 21px;
}

.visual .cycle-gallery .slide.active {
	z-index: 1;
}

.visual .cycle-gallery .slide img.pull-right {
	margin: 0 70px 0 7%;
}

.visual .cycle-gallery .text-holder {
	padding: 10px 3% 0 0;
	overflow: hidden;
}

.visual .cycle-gallery h2 {
	margin: 0 0 29px;
}

.visual .cycle-gallery p {
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 1.2px;
}

.visual .cycle-gallery .pagination {
	position: absolute;
	bottom: 16%;
	left: 0;
	z-index: 2;
}

.visual .cycle-gallery .pagination ul li {
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	margin: 0 41px 0 0;
}

.visual .cycle-gallery .pagination ul li.active a {
	opacity: 1;
}

.visual .cycle-gallery .pagination ul a {
	display: block;
	width: 11px;
	height: 11px;
	background: #fff;
	border-radius: 50%;
	opacity: .25;
}

.visual .cycle-gallery .pagination ul a:hover {
	opacity: 1;
}

.visual .cycle-gallery .ipad-holder {
	background: url(assets/images/bg-ipad.png) no-repeat 0 0/cover;
	width: 50.4%;
	height: 474px;
	float: right;
	margin: -23px 11px -177px 0;
	position: relative;
}

.visual .cycle-gallery .ipad-holder .glare {
	background: url(assets/images/bg-glare.png) no-repeat 0 0/cover;
	position: absolute;
	width: 38.8%;
	right: 9.2%;
	top: 4.2%;
	bottom: 12.1%;
	z-index: 2;
}

.visual .cycle-gallery .ipad-holder img {
	position: relative;
	padding: 10% 17.6% 16.6% 10.8%;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	border-radius: 2px;
}

.visual .cycle-gallery .imac-holder {
	background: url(assets/images/bg-mac.png) no-repeat 0 0/cover;
	width: 59.3%;
	height: 414px;
	float: right;
	margin: 7px -50px -147px -70px;
	position: relative;
}

.visual .cycle-gallery .imac-holder img {
	position: relative;
	padding: 3.1% 13.6% 15.9% 14.4%;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	border-radius: 2px;
}

.visual .cycle-gallery .imac-holder .glare {
	background: url(assets/images/bg-glare2.png) no-repeat 0 0/cover;
	position: absolute;
	width: 33.8%;
	right: 10.7%;
	top: 0;
	bottom: 39%;
	z-index: 2;
}

.visual .cycle-gallery .imac-holder .play {
	background: url(assets/images/bg-play.png) no-repeat 0 0/cover;
	width: 19%;
	height: 36%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 3;
	margin: -46px 0 0 7px;
	text-indent: -9999px;
	overflow: hidden;
}

.resources-section {
	padding: 3.95% 0 3.8%;
	overflow: hidden;
}

.resources-section h2 {
	margin: 0 0 21px;
}

.resources-section p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.875;
	word-spacing: -1px;
}

.resources-section .resources-list {
	line-height: 0;
	font-size: 0;
	margin: -3px -7px 0 -10px;
}

.resources-section .resources-list li {
	line-height: 22px;
	font-size: 18px;
	font-weight: 700;
	vertical-align: top;
	display: inline-block;
	border-left: 1px solid #777;
	padding: 41px 20px 0;
	width: 25%;
	min-height: 184px;
}

.resources-section .resources-list li:first-child {
	border-left: 0;
}

.resources-section .resources-list li.active a {
	color: #0084c4;
}

.resources-section .resources-list li i {
	display: block;
}

.resources-section .resources-list li i.icon-calculator {
	font-size: 63px;
	margin: 0 0 15px;
}

.resources-section .resources-list li i.icon-video {
	font-size: 40px;
	margin: 18px 0 19px;
}

.resources-section .resources-list li i.icon-credit-cards {
	font-size: 44px;
	margin: 6px 0 27px;
}

.resources-section .resources-list li i.icon-tools {
	font-size: 60px;
	margin: 0 0 17px;
}

.resources-section .resources-list a {
    color: inherit;
}

.resources-section .resources-list a:hover {
	color: #0084c4;
}

.articles-block {
	padding: 4.85% 0 5.29%;
	overflow: hidden;
}

.articles-block h1 {
	margin: 0 0 48px;
	font-weight: 400;
	font-size: 47px;
}

.articles-block .item-title-primary {
	padding: 0;
	margin: 0 0 18px;
}

.articles-block .content-blog .content-blog-items.in-columns {
	margin-bottom: 0;
}

.articles-block .content-blog .content-blog-items .blog-item {
	margin: 0 0 34px;
}

@media (max-width: 768px) {
	.articles-block .content-blog .content-blog-items.in-columns .blog-item {
		padding: 0;
	}
}

@media (min-width: 768px) {
	.articles-block .content-blog .content-blog-items.in-columns {
		margin: 0 -15px 64px;
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
		-webkit-column-fill: initial;
		-moz-column-fill: initial;
		column-fill: initial;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
		vertical-align: baseline;
	}

	.articles-block .content-blog .content-blog-items.in-columns .blog-item {
		vertical-align: baseline;
		max-width: none;
	}
}

.articles-block .content-blog .item-image .item-title {
	padding: 13px 25px 0;
	line-height: 40px;
}

.articles-block .lendgenius-banner {
	margin: 1px 0 30px;
}

.articles-block .content-aside {
	padding: 22px 0 0;
}

.articles-block .content-aside .item-wraper:last-child {
	border: 0;
}

.features-block {
	position: relative;
	background-size: cover;
	background-position: 50% 0;
	color: #fff;
	padding: 69px 0 26px;
}

.features-block:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 1;
}

.features-block .container {
	z-index: 2;
	position: relative;
}

.features-block .logo {
	width: 350px;
	height: 55px;
	margin: 0 auto 41px;
}

.features-block .list-holder ul {
	line-height: 42px;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 18px;
}

.features-block .list-holder li {
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #fff;
	padding: 0 20px;
	margin: 0 0 20px;
}

.features-block .list-holder li:first-child,
.features-block .list-holder li:nth-child(4) {
	border: 0;
}

.features-block .list-holder li a {
	color: #fff;
}

.features-block .list-holder li a:hover {
	color: #f00;
}

.search-results {
	padding: 72px 0 81px;
}

.search-results .search-form {
	padding: 0 0 97px;
}

.search-results .search-form input::-webkit-input-placeholder {
	color: #777;
}

.search-results .search-form input::-moz-placeholder {
	opacity: 1;
	color: #777;
}

.search-results .search-form input:-moz-placeholder {
	color: #777;
}

.search-results .search-form input:-ms-input-placeholder {
	color: #777;
}

.search-results .search-form input.placeholder {
	color: #777;
}

.search-results .search-form input[type="search"] {
	padding: 0 0 0 22px;
	margin: 0;
	border-color: #bfbfbf;
	height: 58px;
	width: 303px;
	border-radius: 30px 0 0 30px;
	letter-spacing: 1px;
}

.search-results .search-form .submit {
	width: 67px;
	height: 58px;
	border-radius: 0 30px 30px 0;
	border: 0;
	padding: 0;
}

.search-results .search-form .submit i {
	color: #fff;
	margin: 1px 5px 0 0;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
}

.search-results .block-holder {
	padding: 0 0 47px;
	color: #777;
}

.search-results .block-holder .row {
	line-height: 0;
	font-size: 0;
}

.search-results .block-holder .row div[class^="col-"] {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 27px;
}

.search-results .block-holder .text-container {
	background: #f8f9fb;
	padding: 48px 23px 19px;
}

.search-results .block-holder h2 {
	margin: 0 0 44px;
	font-size: 32px;
	font-weight: 300;
	line-height: 1.25;
	color: #444;
}

.search-results .block-holder p {
	line-height: 1.875;
	letter-spacing: 1px;
	word-spacing: -1px;
	font-size: 16px;
}

.search-results .btn {
	max-width: 68%;
	margin: 0 auto;
}

.about-block {
	padding: 4.05% 0 0;
	overflow: hidden;
}

.about-block h2 {
	font-size: 47px;
	margin: 0 0 32px;
}

.about-block p {
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 1px;
	word-spacing: -1px;
	margin: 0 0 30px;
	color: #777;
}

.about-block h3 {
	margin: 0;
	font-size: 24px;
	color: #0084c4;
	font-weight: 700;
	line-height: 29px;
	margin: 0 0 14px;
}

.about-block .info-row {
	padding: 34px 0 40px;
}

.about-block .info-row .row {
	line-height: 0;
	font-size: 0;
}

.about-block .info-row div[class^="col-"] {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 1.3;
	margin: 0 0 33px;
}

.about-block .info-row .card-block {
	background: #f8f9fb;
	border-radius: 6px;
	padding: 21px 5px 27px;
}

.about-block .info-row .info-title {
	display: block;
	font-size: 18px;
	color: #444;
	letter-spacing: 1px;
	margin: 0 0 10px;
}

.about-block .info-row h3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 87px;
	margin: 0 0 14px;
}

.about-block .info-row .info-text {
	display: block;
	font-size: 12px;
	color: #777;
	letter-spacing: .3px;
}

.about-block .info-row .btn {
	padding: 11px 62px 13px;
	min-width: 63%;
	font-size: 18px;
	line-height: 1.4;
	margin: 0 0 7px;
	word-spacing: 2px;
}

.about-block .info-row .btn.btn-success:hover {
	background: #226d2c;
}

.about-block .info-row sup {
	text-align: left;
}

.about-block .info-row .title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	display: block;
	margin: 0 0 29px;
}

.about-block .info-row ul {
	font-size: 14px;
	margin: 0 0 36px;
}

.about-block .info-row ul li {
	position: relative;
	padding: 0 0 0 11px;
	letter-spacing: 1px;
	word-spacing: -2px;
	margin: 0 0 12px;
}

.about-block .info-row ul li:after {
	content: "";
	position: absolute;
	left: 2px;
	top: 7px;
	width: 3px;
	height: 3px;
	background: #0084c4;
	border-radius: 50%;
}

.about-block .info-row ul a {
	color: #0084c4;
}

.about-block .info-row ul a:hover {
	color: #006291;
}

.about-block .cards-info h2 {
	margin: -4px 0 10px;
}

.about-block .cards-info h3 {
	word-spacing: -1px;
	margin: 0 0 25px;
}

.about-block .cards-info img {
	display: block;
	margin: 0 0 19px;
}

.about-block .cards-info a {
	color: #0084c4;
}

.about-block .cards-info a:hover {
	color: #006291;
}

.about-block .cards-info .btn {
	color: #fff !important;
}

.about-block .cards-info h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 36px 0 7px;
	letter-spacing: 1px;
	word-spacing: -1px;
}

.about-block .cards-info ul {
	color: #777;
	line-height: 30px;
    list-style: none;
    padding: 0;
}

.about-block .cards-info ul li {
	position: relative;
	text-indent: 34px;
	letter-spacing: 1px;
	word-spacing: -1px;
}

.about-block .cards-info ul li:after {
	content: "";
	position: absolute;
	left: 0;
	top: 13px;
	width: 4px;
	height: 4px;
	background: #777;
	border-radius: 50%;
}

.about-block .cards-info ul li li {
	padding: 0;
	text-indent: 71px;
}

.about-block .cards-info ul li li:after {
	border-radius: 0;
	width: 4px;
	height: 1px;
	top: 16px;
	left: 36px;
}

.about-block .cards-info .row {
	margin-bottom: 68px;
}

.about-block .cards-info .btn-primary {
	padding: 11px 62px 13px;
	font-size: 18px;
	line-height: 1.4;
	margin: 0 0 7px;
	word-spacing: 2px;
}

.about-block .cards-info .links-holder {
	border-top: 1px solid #a1a1a1;
	padding: 40px 0 0;
	margin: -42px 0 -26px;
	overflow: hidden;
}

.about-block .cards-info .links-holder .view {
	margin: 16px 0 0;
}

.comments-block .content-comments {
	padding: 38px 24px 0 74px;
}

.comments-block .item-comments-total {
	font-size: 18px;
	margin: 25px 0 22px;
}

.comments-block .item-comments-user {
	width: 37px;
	height: 37px;
}

.comments-block .item-comment-fieldwrap {
	margin-left: -37px;
	padding-left: 50px;
}

.comments-block .field-input {
	padding: 6px 15px 5px;
	height: 36px;
	min-height: 36px;
	min-width: 100%;
	border-radius: 0;
	border-color: #777;
}

.comments-block .comments-body {
	border-bottom: 0;
}

.comments-block .item-comment-content {
	margin-bottom: 30px;
}

.comments-block .comments-list {
	clear: both;
}

@media (min-width: 768px) {
	.commentlist-item .commentlist-item {
		padding: 0 0 0 2em;
	}
}

@media (min-width: 992px) {
	.visual .cycle-gallery.gallery .slide {
		padding: 55px 70px 56px 0;
	}
}

@media (max-width: 1199px) {
	.resources-block .image-block {
		width: 37%;
	}

	.visual .cycle-gallery .pagination {
		bottom: 8%;
	}

	.visual .cycle-gallery .ipad-holder {
		height: 381px;
	}

	.visual .cycle-gallery .imac-holder {
		height: 331px;
	}

	.visual .cycle-gallery .imac-holder .play {
		margin-top: -37px;
		margin: -37px 0 0 7px;
	}

	.about-block .info-row .btn {
		min-width: 0;
		width: 95%;
		padding: 11px 0 13px;
	}
}

@media (max-width: 991px) {
	.content-funnel h2 {
		font-size: 40px;
	}

	.content-funnel .how-much-wraper h1 {
		font-size: 62px;
	}

	.content-funnel .how-much-search-wraper.pull-left {
		float: none !important;
		width: 100%;
	}

	.content-funnel .how-much-search-wraper.pull-left .how-much-search {
		width: 100%;
	}

	.content-funnel .how-much-search-wraper.pull-left .how-much-button {
		width: 100%;
	}

	.options-block .image-holder {
		width: 80%;
		margin: 42px auto 0;
	}

	.product-block .products-list li {
		font-size: 16px;
		width: 33.33%;
		padding: 0 0 20px;
	}

	.product-block .products-list li:nth-child(4):before {
		display: none;
	}

	.resources-block {
		padding: 12% 0 2.8%;
	}

	.resources-block .image-block {
		margin: 0 28px 20px 0;
		width: auto;
	}

	.visual {
		min-height: 0;
	}

	.visual .cycle-gallery.gallery .slide {
		padding: 25px 0 46px;
	}

	.visual .cycle-gallery.gallery .text-holder {
		padding: 10px 3% 0 0;
	}

	.visual .cycle-gallery.gallery img {
		max-width: 40%;
	}

	.visual .cycle-gallery .slide {
		padding: 25px 0;
	}

	.visual .cycle-gallery .slide img.pull-right {
		margin: 0;
	}

	.visual .cycle-gallery .text-holder {
		padding: 10px 3% 0 0;
	}

	.visual .cycle-gallery h2 {
		font-size: 32px;
		line-height: 1.2;
	}

	.visual .cycle-gallery p {
		font-size: 18px;
		line-height: 1.2;
	}

	.visual .cycle-gallery .ipad-holder {
		height: 292px;
	}

	.visual .cycle-gallery .imac-holder {
		height: 254px;
	}

	.visual .cycle-gallery .imac-holder .play {
		margin-top: -27px;
	}

	.features-block .list-holder li:nth-child(3),
	.features-block .list-holder li:nth-child(5) {
		border: 0;
	}

	.features-block .list-holder li:nth-child(4) {
		border-left: 1px solid #fff;
	}

	.about-block .cards-info .btn-primary {
		width: 100%;
		padding: 11px 0 13px;
		margin: 20px 0 0;
	}

	.about-block .cards-info .links-holder {
		padding: 20px 0 0;
		margin: 0;
		text-align: center;
	}

	.about-block .cards-info .links-holder .view {
		float: none !important;
	}
}

@media (max-width: 767px) {
	.navigation .page-numbers,
	.navigation-comments .page-numbers {
		padding: 0;
	}

	.navigation .next,
	.navigation .prev,
	.navigation-comments .next,
	.navigation-comments .prev {
		padding: .2em;
	}

	.navigation-single .next a,
	.navigation-single .prev a {
		padding: .2em;
	}

	.content-funnel .how-much-wraper h1 {
		font-size: 42px;
	}

	/*.options-block {
		padding: 20px 0;
	}

	.options-block p {
		margin: 0 0 20px;
	}

	.options-block .btn.btn-big {
		width: 100%;
		padding: 0;
	}

	.options-block .text-holder {
		padding: 0;
	}*/

	.product-block .products-list {
		margin: 0 0 15px;
	}

	.product-block .products-list li {
		width: 50%;
		letter-spacing: 0;
	}

	.product-block .products-list li br {
		display: none;
	}

	.product-block .products-list li:before {
		display: none;
	}

	.product-block .btn.btn-primary {
		width: 100%;
	}

	.resources-block {
		padding: 22% 0 2.8%;
	}

	.resources-block .image-block {
		width: auto;
		margin: 0 0 20px;
		float: none;
		text-align: center;
	}

	.resources-block .text-block {
		padding: 0 0 15px;
	}

	.resources-block .text-block p {
		margin: 0 0 15px;
	}

	.visual .cycle-gallery.gallery img {
		width: 280px;
		margin: 0 auto !important;
		display: block;
		float: none !important;
		max-width: none;
	}

	.visual .cycle-gallery .slide img.pull-right {
		width: 280px;
		margin: 0 auto !important;
		display: block;
		float: none !important;
		max-width: none;
	}

	.visual .cycle-gallery .pagination {
		bottom: 5%;
	}

	.visual .cycle-gallery .ipad-holder {
		width: 100%;
		float: none;
		margin: 0;
		height: auto;
	}

	.visual .cycle-gallery .imac-holder {
		width: 100%;
		float: none;
		margin: 0;
		height: auto;
	}

	.visual .cycle-gallery .imac-holder .play {
		margin-top: -6%;
	}

	.resources-section {
		padding: 3.95% 0 9%;
	}

	.resources-section .resources-list li {
		width: 50%;
		border: 0;
		padding-top: 20px;
		min-height: 120px;
	}

	.articles-block {
		padding: 30px 0 10px;
	}

	.articles-block .content-blog {
		margin: 0;
	}

	.features-block {
		padding: 30px 0 10px;
	}

	.features-block .list-holder ul {
		line-height: 22px;
	}

	.features-block .list-holder li {
		border: 0 !important;
		padding: 0;
	}

	.search-results {
		padding: 27px 0;
	}

	.search-results .search-form {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		padding: 0 0 27px;
	}

	.search-results .search-form input[type="search"] {
		width: 100%;
	}

	.search-results .block-holder {
		padding: 0;
	}

	.search-results .block-holder .row div[class^="col-"] img {
		width: 100%;
	}

	.search-results .block-holder .text-container {
		padding: 19px 23px;
	}

	.search-results .block-holder h2 {
		margin: 0 0 20px;
		font-size: 26px;
	}

	.search-results .block-holder p {
		margin: 0 0 5px;
		font-size: 14px;
	}

	.search-results .btn {
		max-width: 100%;
	}

	.about-block p {
		margin: 0 0 20px;
	}

	.about-block .info-row {
		padding: 15px 0;
	}

	.about-block .info-row div[class^="col-"] {
		margin: 0 0 15px;
	}

	.about-block .cards-info img {
		margin: 0 auto 15px;
	}

	.about-block .cards-info h4 {
		margin: 0 0 15px;
	}

	.about-block .cards-info div[class^="col-"] {
		margin: 0 0 20px;
	}

	.about-block .cards-info .row {
		margin-bottom: 20px;
	}

	.comments-block .content-comments {
		padding: 0;
	}
}

@media (max-width: 479px) {
	.features-block .logo {
		width: 100%;
		padding: 0 10px;
	}
}

