a:hover {
    text-decoration: none;
}
table th {
    font-weight: bold;
}
table td,
table th {
    padding: 9px 10px;
    text-align: left;
}
/* Mobile */
@media only screen and (max-width: 767px) {
    table.responsive {
        margin-bottom: 0;
    }
    table.responsive td,
    table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }
    table.responsive td:first-child,
    table.responsive th:first-child {
        display: none;
    }
    .pinned {
        /*position: absolute;
            left: 0;
            top: 0;*/
        background: #f7f7f7;
        /*overflow: hidden;
            overflow-x: scroll;*/
        /*border-right: 2px solid rgba(226, 226, 226, 0.53);*/
    }
    .pinned table {
        border-right: none;
        border-left: none;
        width: 100%;
        box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.1);
    }
    .pinned table th,
    .pinned table td {
        white-space: nowrap;
    }
    .pinned td:last-child {
        border-bottom: 0;
    }
    div.table-wrapper {
        /*position: relative;
                margin-bottom: 20px;
                overflow: hidden;*/
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }
    div.table-wrapper div.scrollable {
        overflow: scroll;
        overflow-y: hidden;
    }
    table.responsive.pinned td {
        display: none;
    }
}
table {
    width: 100%;
}
.table-simple {
    font-family: 'Work Sans';
    margin-bottom: 20px;
}
.table-simple th {
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #000;
    padding: 10px 15px;
    min-height: 44px;
}
.table-simple td {
    font-size: 14px;
    border-bottom: 1px solid rgba(226, 226, 226, 0.53);
}
@media (min-width: 768px) {
    .table-simple td {
        font-size: 16px;
    }
}
.table-simple .scrollable tr:first-child {
    height: 44px;
}
.table-simple .scrollable th {
    padding: 12px 15px 12px;
}
@media (max-width: 767px) {
    .table-sm {
        display: none;
    }
}
.table-complex {
    font-family: 'Work Sans';
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    margin-bottom: 20px;
}
.table-complex thead {
    background-color: #f8f9fb;
}
.table-complex th {
    width: 33.33333%;
    white-space: nowrap;
}
.table-complex th:first-child {
    width: 15%;
}
.table-complex th,
.table-complex td {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
}
.table-complex th:last-child,
.table-complex td:last-child {
    border-right: 0;
}
.table-complex td {
    padding-top: 20px;
    padding-bottom: 25px;
    vertical-align: top;
}
.table-complex tbody tr:last-child td {
    border-bottom: 0;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-responsive table {
    width: 100%;
    max-width: 100%;
}
.table-funding-options {
    max-width: 125px;
    margin: 0 auto;
    text-align: center;
}
.table-funding-options-logo {
    padding: 0 14px;
    margin-bottom: 10px;
}
.table-funding-options .btn {
    margin-bottom: 5px;
}
.table-funding-options span {
    font-size: 14px;
    font-weight: 300;
}
.table-carousel-mobile {
    font-family: 'Work Sans';
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    .table-carousel-mobile {
        display: none;
    }
}
.table-carousel-wrapper {
    overflow: hidden;
}
.table-carousel-tr {
    background-color: #f8f9fb;
    padding: 30px 0 40px;
    max-height: 415px;
    overflow: hidden;
    overflow-y: auto;
}
.table-carousel-tr.slick-slide {
    display: block;
}
.table-carousel-tr:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    background-image: linear-gradient(to bottom, rgba(248, 249, 251, 0), #f8f9fb);
}
.table-carousel-th {
    margin: 22px 0 10px;
    padding-bottom: 8px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 500;
}
.subpage_menu {
    min-height: 55px;
}
@media (max-width: 767px) {
    .subpage_menu {
        min-height: 83px;
    }
}
.subpage_menu > div {
    top: 0;
    transition: top 0.5s ease-in-out;
}