/* Table Press */
.page-blog-rd .content-blog .item-text p span {
    font-weight: inherit !important;
}

.dataTable {
    color: #333;
}

.table-complex img {
    max-width: 100%;
    width: 100%;
}

.table-complex td a {
    display: block;
    border: 1.2px solid #000;
    border-radius: 3px;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    padding: 7px 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.table-complex td a:hover {
    color: #408800;
    border-color: #408800;
    background-color: transparent;
    text-decoration: none;
}

.table-complex td a:focus {
    background-color: #408800;
    border-color: #408800;
    color: #fff;
    text-decoration: none;
}
.table-complex td:first-child {
    text-align: center;
}
.table-complex td span {
    font-size: 14px;
    font-weight: 300;
}
.table-complex td br {
    display: none;
}
.table-complex td li {
    font-size: 16px;
    padding-left: 12px;
    position: relative;
    margin-bottom: 6px;
}
.table-complex ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000;
    font-weight: 400;
}

.table-complex td li:after {
    content: '';
    position: absolute;
    top: 5.5px;
    left: 0;
    width: 7px;
    height: 7px;
    border: 2px solid #38af4e;
    border-radius: 50%;
}

.dataTable {
    max-width: 100% !important;
    width: 100% !important;
}

.table-complex th {
    width: 33.33333% !important;
    white-space: nowrap !important;
}

.table-complex th:first-child {
    width: 15% !important;
}
/*@media (min-width:768px) and (max-width:991px) {*/
    /*.col-sm-8 .table-complex td,*/
    /*.col-sm-8 .table-complex th {*/
        /*font-size: 10px !important;*/
        /*padding: 10px 5px !important;*/
    /*}*/

    /*.col-sm-8 .table-complex td li {*/
        /*font-size: 12px;*/
    /*}*/
    /*.col-sm-8 .table-simple th,*/
    /*.col-sm-8 .table-simple td {*/
        /*font-size: 10px !important;*/
        /*padding: 9px 5px !important;*/
    /*}*/
/*}*/
    /* Responsive iframe*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#jsf-form {
    min-height: 260px;
}
@media (min-width: 767px) {
    #jsf-form {
        min-height: 288px;
    }
}
@media (max-width: 767px) {
    #jsf-form {
        /*margin-top: 20px;*/
        overflow: hidden;
    }
    /*#jsf-form .wrapper-single-questions:not(.start) {
        position: relative !important;
    }*/
}

/*@media (max-width: 767px) {
    .loans_subpage_banner {
        min-height: 500px;
    }
}

@media (min-width: 1160px) {
    .loans_subpage_banner {
        min-height: 400px;
    }
}

@media (min-width: 768px) and (max-width: 1160px) {
    .loans_subpage_banner {
        min-height: 360px;
    }
}*/

form .has-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red !important;
}
form .has-error::-moz-placeholder { /* Firefox 19+ */
    color: red !important;
}
form .has-error:-ms-input-placeholder { /* IE 10+ */
    color: red !important;
}
form .has-error:-moz-placeholder { /* Firefox 18- */
    color: red !important;
}


@media (max-width:767px) {
    .page-blog .loans_subpage_banner .darken-lining,
    .page-blog .loans_subpage_banner {
        padding-top: 0;
    }
    .page-blog .loans_subpage_banner h1 {
        height: 0;
        overflow: hidden;
    }
}

.content_rd{
    font-family: 'Work Sans';
}

.how-works-section,
.instruction-qualify{
    color: inherit !important; 
}