@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ntr70h");
  src: url("../fonts/icomoon.eot?ntr70h#iefix") format("embedded-opentype"), 
      url("../fonts/icomoon.ttf?ntr70h") format("truetype"), 
      url("../fonts/icomoon.woff?ntr70h") format("woff"), 
      url("../fonts/icomoon.svg?ntr70h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon-fix';
  src:  url('../fonts/fix-icon-MAC/icomoon.eot?h3et45');
  src:  url('../fonts/fix-icon-MAC/icomoon.eot?h3et45#iefix') format('embedded-opentype'),
    url('../fonts/fix-icon-MAC/icomoon.ttf?h3et45') format('truetype'),
    url('../fonts/fix-icon-MAC/icomoon.woff?h3et45') format('woff'),
    url('../fonts/fix-icon-MAC/icomoon.svg?h3et45#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class*="font-icon"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e90a";
}

.icon-calculator:before {
  content: "\e900";
}

.icon-cards:before {
  content: "\e901";
}

.icon-cash:before {
  content: "\e902";
}

.icon-credit-cards:before {
  content: "\e903";
}

.icon-equipment:before {
  content: "\e904";
}

.icon-loans:before {
  content: "\e905";
}

.icon-sba:before {
  content: "\e906";
}

.icon-term:before {
  content: "\e907";
}

.icon-tools:before {
  content: "\e908";
}

.icon-video:before {
  content: "\e909";
}

@font-face {
  font-family: "SvgIcons";
  src: url("../fonts/SvgIcons.eot");
  src: url("../fonts/SvgIcons.eot?#iefix") format("eot"), url("../fonts/SvgIcons.woff2") format("woff2"), url("../fonts/SvgIcons.woff") format("woff"), url("../fonts/SvgIcons.ttf") format("truetype"), url("../fonts/SvgIcons.svg#SvgIcons") format("svg");
}

.font-icon:before {
  font-family: "SvgIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.font-icon-arrow-down:before {
  content: "\E001";
}

.font-icon-bag:before {
  content: "\E002";
}

.font-icon-business-line-credit:before {
  content: "\E003";
}

.font-icon-creditcards:before {
  content: "\E004";
}

.font-icon-equipment:before {
  content: "\E005";
}

.font-icon-handshake:before {
  content: "\E006";
}

.font-icon-invoice:before {
  content: "\E007";
}

.font-icon-loan_options:before {
  content: "\E008";
}

.font-icon-merchant:before {
  content: "\E009";
}

.font-icon-money_aproved:before {
  content: "\E00A";
}

.font-icon-online_form:before {
  content: "\E00B";
}

.font-icon-person-business:before {
  content: "\E00C";
}

.font-icon-sba:before {
  content: "\E00D";
}

.font-icon-select:before {
  content: "\E00E";
}

.font-icon-short-term:before {
  content: "\E00F";
}

.font-icon-short_term:before {
  content: "\E010";
}

.font-icon-small_business:before {
  content: "\E011";
}

.font-icon-startup-loans:before {
  content: "\E012";
}
.font-icon-startup_loan {
  font-family: 'icomoon-fix' !important;  
}

.font-icon-startup_loan:before {
  font-family: 'icomoon-fix' !important;
  content: "\e900";
}

.font-icon-stop-arrow:before {
  content: "\E014";
}

.font-icon-terms:before {
  content: "\E015";
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-black-webfont.woff2') format('woff2'),
       url('../fonts/neris-black-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-blackitalic-webfont.woff2') format('woff2'),
       url('../fonts/neris-blackitalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/neris-bolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-light-webfont.woff2') format('woff2'),
       url('../fonts/../fonts/neris-light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/neris-lightitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-semibold-webfont.woff2') format('woff2'),
       url('../fonts/neris-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-semibolditalic-webfont.woff2') format('woff2'),
       url('../fonts/neris-semibolditalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-thin-webfont.woff2') format('woff2'),
       url('../fonts/neris-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../fonts/neris-thinitalic-webfont.woff2') format('woff2'),
       url('../fonts/neris-thinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}