﻿@font-face {
  font-family: 'icomoon-new';
  src: url('../fonts/icomoon-new/icomoon.eot?5u42jf');
  src: url('../fonts/icomoon-new/icomoon.eot?5u42jf#iefix') format('embedded-opentype'), url('../fonts/icomoon-new/icomoon.ttf?5u42jf') format('truetype'), url('../fonts/icomoon-new/icomoon.woff?5u42jf') format('woff'), url('../fonts/icomoon-new/icomoon.svg?5u42jf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icomoon-"],
[class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-new' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icomoon-circle-minus:before {
  content: "\e900";
}
.icomoon-circle-plus:before {
  content: "\e901";
}
.icomoon-percent-circle:before {
  content: "\e92b";
}
.icomoon-documents:before {
  content: "\e902";
}
.icomoon-tumblr:before {
  content: "\e903";
}
.icomoon-twitter:before {
  content: "\e904";
}
.icomoon-user-star:before {
  content: "\e905";
}
.icomoon-address-small:before {
  content: "\e906";
}
.icomoon-arrow-right-circle:before {
  content: "\e907";
}
.icomoon-calendar-small:before {
  content: "\e908";
}
.icomoon-cards:before {
  content: "\e909";
}
.icomoon-case:before {
  content: "\e90a";
}
.icomoon-cash:before {
  content: "\e90b";
}
.icomoon-cash-24:before {
  content: "\e90c";
}
.icomoon-clock-small:before {
  content: "\e90d";
}
.icomoon-compare-options:before {
  content: "\e90e";
}
.icomoon-cross-small:before {
  content: "\e90f";
}
.icomoon-doc-time:before {
  content: "\e910";
}
.icomoon-documents-calendar:before {
  content: "\e911";
}
.icomoon-documents-time:before {
  content: "\e912";
}
.icomoon-dollar-arrows:before {
  content: "\e913";
}
.icomoon-dollar-circle:before {
  content: "\e914";
}
.icomoon-dollar-noCircle:before {
  content: "\e915";
}
.icomoon-dollar-small:before {
  content: "\e916";
}
.icomoon-equipment:before {
  content: "\e917";
}
.icomoon-facebook:before {
  content: "\e918";
}
.icomoon-free-circle:before {
  content: "\e919";
}
.icomoon-government:before {
  content: "\e91a";
}
.icomoon-idea-dollar:before {
  content: "\e91b";
}
.icomoon-instagram:before {
  content: "\e91c";
}
.icomoon-linked-in:before {
  content: "\e91d";
}
.icomoon-mail-small:before {
  content: "\e91e";
}
.icomoon-menu-small:before {
  content: "\e91f";
}
.icomoon-mobile-dollar:before {
  content: "\e920";
}
.icomoon-multiple-offers:before {
  content: "\e921";
}
.icomoon-percent-small:before {
  content: "\e922";
}
.icomoon-phone:before {
  content: "\e923";
}
.icomoon-phone-small:before {
  content: "\e924";
}
.icomoon-pinterest:before {
  content: "\e925";
}
.icomoon-preferences:before {
  content: "\e926";
}
.icomoon-search-small:before {
  content: "\e927";
}
.icomoon-shop:before {
  content: "\e928";
}
.icomoon-simple:before {
  content: "\e929";
}
.icomoon-speed:before {
  content: "\e92a";
}