<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<filters-app>Loading&hellip;</filters-app>
<script>
    window.applicationOptions = {
        c: 66,
        leadsource: 'publisher'
    }
</script>
<script async src="<%= htmlWebpackPlugin.options.baseUrl %>"></script>
</body>
</html>
