@footer-background-color: #fff;
@footer-color: #777777;
@footer-padding-side: 15px;
@footer-padding-top-bot: 40px;

.footer {
  //sticky
  width: 100%;
  position: relative;
  z-index: 100;
  //end sticky
  &__content-wrapper {
  }
  background: @footer-background-color;
  color: @footer-color;
  padding: @footer-padding-top-bot @footer-padding-side;
  font-size: @text-sm;
  .clearfix;
  @media @smallerThanSM {
    padding: 20px 15px;
    &__content-wrapper {
      margin-top: 10px;
      padding: 10px 5px;
    }
  }
}