
@header-background: @blue-main;

@menu-color: #ffffff;
@menu-font-size: 15px;
@menu-li-margin: 18px;

.header {
  height: 130px;
  position: relative;
  z-index: 10;
  text-align: center;
  @media @smallerThanMD {
    margin: 0;
  }
  @media @smallerThanSM {
    //height: @header-mobile-height;
    //border-bottom: 1px solid @green-main!important;
    &.active {
      position: fixed;
      z-index: 100;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(255,255,255,1);
    }
  }
  &_wrapper {
    &--main {
      position: absolute;
    }
  }
  &__menu-caller {
    position: absolute;
    z-index: 100;
    height: @header-mobile-height;
    left: 0px;
    display: none;
    @media @smallerThanSM {
      display: block;
    }
  }
  &__logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
  }
  &__secure-label {
    display: inline-block;
    margin-left: @menu-li-margin;
    img {
      vertical-align: middle;
    }
    @media @smallerThanMD {
      float: right;
    }
    @media @smallerThanSM {
      display: none;
    }
  }

  &__menu {
    height: @header-height;
    line-height: @header-height;
    z-index: 10;
    color: @menu-color;
    font-size: @menu-font-size;
    float: right;
    &.active {
      display: block!important;
    }
    ul {
      vertical-align: middle;
      display: inline-block;
      list-style-type: none;
      width: 100%;
      li {
        float: right;
        position: relative;
        overflow: hidden;
        margin-left: 0px;
        &:not(.call_us) {
          a {
            color: @black-text-main;
            &:hover {
              @media @largerThanSM {
                text-shadow: 0px 0px 8px rgba(255,255,255,0.7);
              }
            }
          }
        }
        a {
          transition: @hover-transition;
          text-decoration: none;
          color: inherit;
          padding: 3px 12px;
          border-radius: 3px;
          &:hover, &.current {
            @media @largerThanSM {
              background: @green-main;
              color: white;
              text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
            }
          }
        }
        &.call_us {
          float: left;
        }
      }
    }
    @media @smallerThanMD {
        float: left;
        line-height: 40px;
        height: 40px;
        width: 100%;
        ul {
            li {
                float: left;
            }
        }
    }

    @media @smallerThanSM {
      text-align: left;
      overflow: auto;
      display: none;
      position: fixed;
      top: @header-mobile-height;
      background: white;
      left: 0px;
      right: 0px;
      bottom: 0px;
      padding-left: 15px;
      padding-right: 15px;
      height: auto;
      line-height: inherit;

      ul {
        li {
          font-size: 20px;
          float: none;
          line-height: inherit;
          margin-left: 0;
          margin-top: 20px;
          a {
            color: @black-text-main;
          }
          &:not(.call_us) {
            a {
              &:before {
                display: none;
              }
            }
          }
          &.call_us {
            color: @black-text-main;
          }
        }
      }
    }
  }
}