.dataTable {
	color: #333;
}

.table-complex img {
	max-width: 100%;
	width: 100%;
}

.table-complex td a {
	display: block;
	border: 1.2px solid #000;
	border-radius: 3px;
	font-size: 14px;
	color: #000;
	background-color: transparent;
	padding: 7px 20px;
	margin-bottom: 5px;
	margin-top: 10px;
	text-align: center;
}

.table-complex td a:hover {
	color: #408800;
	border-color: #408800;
	background-color: transparent;
	text-decoration: none;
}

.table-complex td a:focus {
	background-color: #408800;
	border-color: #408800;
	color: #fff;
	text-decoration: none;
}