@font-face {
    font-family: 'icomoon';
    src:    url('font/icomoon.eot?dy5bli');
    src:    url('font/icomoon.eot?dy5bli#iefix') format('embedded-opentype'),
        url('font/icomoon.ttf?dy5bli') format('truetype'),
        url('font/icomoon.woff?dy5bli') format('woff'),
        url('font/icomoon.svg?dy5bli#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-phone2:before {
    content: "\e907";
}
.icon-cup:before {
    content: "\e906";
}
.icon-handshake:before {
    content: "\e90c";
}
.icon-question:before {
    content: "\e904";
}
.icon-check:before {
    content: "\e905";
}
.icon-dollar:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-time:before {
    content: "\e902";
}
.icon-checklist:before {
    content: "\e903";
}
