﻿@footer-nav-bg: #444;

.footer-nav{
    background-color: @footer-nav-bg;
    padding: 22px 0 10px;
    position: relative;
    font-family: 'Work Sans';

    @media(min-width: @media-sm){
         padding-bottom: 45px;
    }

    .container{
        position: relative;
    }

    .nav-item{
        margin-bottom: 35px;
        @media(min-width: @media-sm){
            margin-bottom: 0;
        }


        &:last-child{
            text-align: center;
            overflow: hidden;
            clear: both;
            margin-bottom: 0;
            @media(min-width: @media-md){
                text-align: right;
                clear: none;
            }
        }

        &.item-resources{
            @media (min-width: 1200px) {
                padding-left: 0;
            }
        }
        &.item-help {
            @media (min-width: 1200px) {
                padding-left: 25px;
            }
        }

        .item-protect-title {
            font-weight: 700;
            font-size: 18px;
            color: #fff;
            line-height: 30px;
            margin-top: -12px;
        }
        .item-protect-subtitle{
            color: #fff;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 0.05em;
        }
        .item-protect-iconts{
            ul{
                margin-bottom: 0;
            }
            li{
                margin: 0 0 25px 24px;
                @media(min-width: @media-sm){
                     margin-bottom: 0;
                }

                &:first-child {
                    margin: 0;
                }
                &:last-child {
                    margin-bottom: 10px;
                }
            }
        }
        .nav-item_title{
            color: rgba(255, 255, 255,0.7);
            font-size: 15px;
            vertical-align: middle;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            margin-bottom: 11px;
        }
        .info-item{
            &.sprites{
                @media(max-width: @media-sm){
                    display: none;
                }
            }
        }
        .textwidget {
            font-size: 14px;
            letter-spacing: 0.3px;
            color: #fff;
            white-space: nowrap;
            li{
                margin-bottom: 11px;
                &:last-child {
                    margin-bottom: 0;
                }
                a{
                    font-size: 14px;
                    &:hover{
                        color: rgba(255,255,255,0.6);
                    }
                }
            }
        }
        .widget_nav_menu{
            li{
                a{
                    font-size: 14px;
                    &:hover{
                        color: rgba(255,255,255,0.6);
                    }
                }
            }
        }

        ul{
             padding: 0;
             li{
                 list-style: none;
             }
        }
    }
    .item-protect-iconts{
        padding: 12px 0 5px 0;
        border-bottom: 1px solid #383838;
        border-top: 1px solid #383838;
        @media(min-width: @media-sm){
            margin-bottom: 0;
            margin-top: 20px;
            padding: 0;
            border: none;
        }
        @media(min-width: @media-md){
             margin-top: 0;
        }
    }
    .arrow-to-top {
        position: absolute;
        top: -10px;
        right: 0;
        width: 47px;
        height: 47px;
        text-align: center;
        color: #fff;
        background: #0084c4;
        border-radius: 50%;
        transform: rotate(180deg);
        line-height: 47px;
        font-size: 22px;
        transition: none;
        z-index: 10;
        @media(max-width: @media-sm){
            right: 10px;
            top: -50px;
        }

        &:focus {
            text-decoration: none;
        }
    }
    .nav-list,
    .widget_nav_menu .menu{
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: inherit;
        letter-spacing: 0.3px;

        li{
            display: block;
            margin-bottom: 11px;
            &:last-child{
                margin-bottom: 0;
            }

            a{
                font-size: 14px;
                letter-spacing: 0.3px;
            }
        }
    }

    a{
        color: #fff;
        transition: 0.3s ease-in-out;
        &:hover{
            color: rgba(255,255,255,0.6);
        }
    }
}

.footer-copyright{
    background-color: #323232;
    font-family: 'Work Sans';

    @media(min-width: @media-sm){
        padding: 17px 0;
    }

    &::after {
        display: block;
        content: "";
        clear: both;
    }
    
    a{
        color: #fff;
        transition: 0.3s ease-in-out;
    }

    .item-copyright {
        font-size: 14px;
        color: rgba(255, 255, 255,0.5);
        letter-spacing: 0.2px;
        text-align: center;
        padding: 17px 0;

        @media(min-width: @media-sm){
            float: left;
            text-align: left;
            padding: 0;
        }

    }
    .item-terms {
        font-size: 14px;
        color: #fff;
        text-align: center;
        padding: 15px 0 25px 0;
        margin: 0 -15px 0 -15px;
        background: @footer-nav-bg;
        @media(min-width: @media-sm){
            float: right;
            text-align: left;
            padding: 0;
            margin: 0;
            background: transparent;
            
        }
    }
}
.item-terms {
    padding-bottom: 15px;
    @media(min-width: 400px) {
        padding: 0;
    }


    .link{
        margin: 0 15px 15px 15px;
        white-space: nowrap;
        display: inline-block;

        @media(min-width: 400px) {
            margin: 0;
            margin-right: 30px;
        }

        &:last-child {
            @media(min-width: @media-sm){
                margin-right: 0;
            }
        }
        a{
            &:hover{
                color: rgba(255,255,255,0.5);
            }
        }
    }
}

.social-list{
    ul{
        margin-bottom: 0;
        margin-top: 20px;
    }
    li{
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    a{
        font-size: 20px;
        color: #fff;
        transition: 0.2s ease-in-out;

        &:hover{
            color: #c2c2c2;
        }
    }
}

.item-protect-iconts{
    span{
        font-size: 12px;
        letter-spacing: 0.2px;
        color: rgba(255, 255, 255,.4);
        margin: 15px 0;
        display: block;
    }
}

.pull-right-md {
    @media(min-width: @media-md){
        float: right;
        text-align: left;
    }
}

.need-help-list{
    li{
        padding-left: 25px;
        position: relative;
        .re-sprite {
            position: absolute;
            top: 3px;
            left: 0;
            &.re-sprite-mail{
                top: 5px;
            }
        }
    }
}

.re-sprite {
    background-image: url(../images/re-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.re-sprite-address-marker {
    width: 15px;
    height: 14px;
    background-position: -5px -5px;
}

.re-sprite-mail {
    width: 14px;
    height: 9px;
    background-position: -5px -29px;
}

.re-sprite-phone {
    width: 14px;
    height: 14px;
    background-position: -5px -48px;
}
@import "../components/autocomplete-search";