﻿@import "../font/variables-icomoon";

body{
    &.home{
        padding-top: 49px;
        @media(min-width: @media-sm){
            padding-top: 62px;
        }
    }
    &.menu-opened{
        @media(max-width: (@media-sm - 1px)){
            overflow: hidden !important;
        }
    }
    &.search-start{
        @media(max-width: (@media-sm - 1px)){
            overflow: hidden !important;
        }
        @media(min-width: @media-sm){
             overflow: auto;
        }

        &:before {
            content: "";
            position: fixed;
            top: 49px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 13;
            @media(min-width: @media-sm){
                display: none;
            }
        }

        .wrapper-cm {
            @media(max-width: (@media-sm - 1px)){
                overflow: hidden !important;
                position: relative;
            }
        }
    }
    &.modal-open {
        overflow: hidden !important;
        @media(min-width: @media-md){
            padding-right: 17px !important;
        }
    }
}

html{
    overflow: visible!important;
    min-height: 100vh;
}

.header-panel{
    font-family: 'Work Sans';
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;

    a{
        &:hover{
            text-decoration: none;
            opacity: 1!important;
        }
        &:focus{
            text-decoration: none;
        }
    }

    &.the-header-fluid{
         .panel-wraper {
            padding: 0 30px;

            @media(max-width: 500px){
                 padding: 0;
            }
        }
    }
    .panel-wraper{
        @media(min-width: @media-sm){
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            min-height: 47px;
        }
    }

    &.header-panel-white{
        .header-panel-wraper {
            background: transparent;
        }
    }

    .panel-options,
    .panel-logined{
        padding-left: 20px;

        @media(max-width: @media-md){
            float: none;
            display: block;
        }

        /*a{
            margin-left: 20px;
        }*/
    }

    .panel-logined{
        a{
            margin-left: 22px;
        }

        @media(max-width: @media-sm){
            display: block;
        }
    }

    .panel-options{
        @media(min-width: @media-sm){
            /*width: auto;
            width: calc(~"100% - 268px");
            float: right;*/
            position: relative;
            z-index: 3;
            width: auto;
        }
    }
    .site-logo{
        height: 25px;
        width: auto;
        max-width: none;
        margin: 12px 0;

        @media(min-width: @media-sm){
             margin: 5px 0;
        }
        @media(min-width: @media-md){
            height: auto;
            width: 100%;
            max-width: 170px;
        }
    }

     .btn {
        padding: 8px 38px;
        font-size: 16px;
        margin: 10px 0 10px 10px;

        @media(min-width: @media-md){
            margin: 0;
        }

        &.btn-link {
            display: inline-block;
            padding: 0;
            width: 21px;
            margin: 13px 0 7px 0;

            @media(min-width: @media-sm){
                width: auto;
                margin: 0;
            }

            span{
                display: block;
                background: #000;
                border-radius: 2px;
                height: 2px;
            }
        }
     }

     &.sticky{
          .btn-success {
              @media(max-width: @media-sm){
                  display: block;
                float: left;
                width: 192px;
                margin-left: 0;
              }
            }
     }

     .panel-nav {
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
         .menu-item {
            position: relative;
            padding: 0 5px;
            a {
                color: inherit;
                position: relative;
                padding: 21px 0;
                display: inline-block;

                @media(min-width: @media-md){
                    top: 1px;
                }
                &:focus{
                    outline: none; 
                    color: #000;
                    text-decoration: none;
                }
                &:hover{
                    font-weight: 500;
                }
            }

            .sub-menu{
                display: none;
                .menu-item {
                    padding: 6px 0;
                    li{
                        a{
                            &:focus{
                                text-decoration: none;
                            }
                        }
                        i{
                            display: block;
                            font-size: 40px;
                            min-height: 50px;
                            margin: 0 0 5px;

                            @media(min-width: 1024px){
                                min-height: 60px;
                                font-size: 50px;
                                margin: 0 0 10px;
                            }
                            &.icon-cards {
                                font-size: 45px;
                            }
                        }
                    }
                }
            }
            > .sub-menu {
                position: absolute;
                top: calc(~"100% + 20px");
                left: -20px;
                right: auto;
                background: #fff;
                padding: 25px 30px;
                border: 1px solid #e8e8e8;
                @media(min-width: @media-sm){
                    min-width: 340px;
                }

                &:after{
                    content: '';
                    position: absolute;
                    top: -17px;
                    left: 40px;
                    border: 7px solid transparent;
                    border-bottom: 10px solid #fff;
                    opacity: 1;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: -18px;
                    left: 40px;
                    border: 7px solid transparent;
                    border-bottom: 10px solid rgba(0,0,0,0.2);
                    opacity: 1;
                }

                a{
                    color: #000;
                    display: block;

                    &:hover{
                         font-weight: 500;
                    }
                }
            }

            li{
                &.menu-item-has-children {
                    z-index: 2;
                    >a{
                        padding-right: 18px;
                    }
                    &:before {
                        position: absolute;
                        content: "\f107";
                        text-decoration: none;
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        top: 28px;
                        right: 3px;
                        color: inherit;
                        -moz-transition: all .4s;
                        -webkit-transition: all .4s;
                        transition: all .4s;
                        cursor: pointer;
                        width: 15px;
                        height: 16px;
                        text-align: center;
                        pointer-events: all;
                        top: 51%;
                        transform: translateY(-50%);
                        font-size: 16px;
                        transition: 0s;
                    }
                    &.opened{
                        &:before {
                            color: #23527c;
                            content: "\f106";
                        }
                        > a{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
     }

     &-wrapper{
         .btn-success-custom {
            display: none;
            @media(min-width: @media-sm){
                display: inline-block;
            }

            &:hover{
                opacity: 1;
            }
        }
     }

     .panel-logo {
        float: left;
        position: relative;
        z-index: 2;
        padding-right: 10px;
        top: -2px;

        @media(min-width: @media-sm){
            padding-right: 25px;
            top: -4px;
        }

        @media(min-width: @media-md){
            text-align: center;
        }
    }
}
.header-panel-wraper {
    a{
        &:focus{
            outline: none;
        }
    }


    .btn-success-custom{
        @media(max-width: (@media-sm - 1px)){
            display: none;
        }
    }

    .ico-tel{
        font-size: 24px;
        font-size: 24px;
        position: absolute;
        top: 0;
        right: 56px;
        z-index: 100;
        padding: 12px 2px;
        background: #fff;
        color: @brand-black;
    }
}

.custom_body{
     .header-panel {
        margin-bottom: 0;
    }
}

@import "../ui/btn";
@import "../components/menu";

.panel-nav {
    position: relative;
    text-align: right;

    @media(min-width: @media-sm){
        padding-right: 40px;
        position: relative;
        text-align: left;
    }

    .btn.btn-link.btn-burger{
        padding-left: 19px;
        position: relative;
        font-size: 16px;
        top: -1px;
        color: transparent;
        margin-left: 10px;
        position: relative;
        z-index: 3;
        cursor: pointer;

        @media(min-width: 480px){
            margin-left: 20px;
        }

         @media(min-width: @media-sm){
            padding-left: 25px;
            color: #333;
            margin-left: 0;
            margin-right: 20px;
            position: relative;
            top: 1px;
         }
         @media(min-width: @media-md){
             top: 0;
         }
        &:hover{
            font-weight: 500;
        }
    }
    
    .menu-item{    
        &:first-child {
            padding-left: 0;
        }
    }
    a{
        font-size: 16px;
    }
}
.header-contact-info{
    @media(min-width: @media-sm){
        display: flex;  
        flex-direction: column;
        padding-left: 33px;
        position: relative;
    }
    
    .tel{
        font-size: 17px;
        color: @brand-black;
        position: static;
        transition: .3s ease-in-out;

        @media(max-width: (@media-sm - 1px)){
            display: none;
        }

        &:hover{
            color: @brand-primary;    
        }
        
        &:before{
            font-family: 'icomoon-new' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: @icomoon-phone-small;
            font-size: 24px;
            position: absolute;
            top: 53%;
            transform: translateY(-50%);
            left: 0;
            color: inherit;
        }

    }
    .mode-work{
        font-size: 12px;
        text-transform: uppercase;
        opacity: .4;
        font-weight: 500;

        @media(max-width: (@media-sm - 1px)){
            display: none;
        }
    }
}
.only-mobile{
    @media(min-width: @media-sm){
        display: none;
    }
}
@import "../components/search";
@import "../components/forms/form-components";