/*SPINNER STYLES*/
.spinner-holder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    z-index:9999;
}

.spinner-holder.empty-collection {
    z-index:8888;
}
.spinner {
  width: 40px;
  height: 40px;
  color:#408800;
  position: relative;
  margin: 250px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #408800;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-text {
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 200;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* END SPINNER */

.all-options {
    display: block;
    text-align: center;
    color: #3a8a00;
}

.all-options:hover {
    cursor: pointer;
}

.filter-holder {
    margin:25px 0;
}

.filters-wrapper {
    background-color: #f5f5f5;
    padding:25px 0px;
}

.filters-sub .filters-wrapper {
    background-color: #ffffff;
}

.filters-wrapper h3{
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
}

.filters-wrapper .green-deck {
    margin: 0 auto;
    width: 63px;
    height: 3px;
    border: solid 2px #3a8a00;
}

.loans-wrapper {
    background-color: #ffffff;
    padding: 25px 50px;
    min-height:500px;
    margin-bottom: 60px;
    position: relative;
}

.loan-header{
    border-radius: 3px;
    background-color: #f8f9fb;
    border: 1px solid rgba(0, 0, 0, 0.1);  
}

.loan-header .col-md-2{
    text-align:center;
    padding:15px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 500;
    color: #000000;  
}

.loan-item h3 {
      font-size: 34px;
      font-weight: 300;
      line-height: 1.12;
      text-align: left;
      color: #000000;
}

.category-item h3 {
    font-size: 34px;
    font-weight: 300;
    line-height: 1.12;
    text-align: left;
    color: #000000;
}

.loan-line{
    border-radius: 3px;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    border-left:1px solid rgba(0, 0, 0, 0.1);  
}

.loan-line .col-md-2, .loan-line .col-md-6{
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: table-cell;
    vertical-align: middle;
    float: none;
}


.filter-holder.last, .loan-header .last, .loan-line .last, .loan-line-info .last {
    border-right:0px!important;
}

.loan-line .col-md-2 p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.12;
    text-align: center;
    color: #000000;
}

.loan-line .col-md-2 p.item-name-l {
    font-size: 25px;
}

.loan-line .col-md-2 p.add-info{
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.loan-line-info{
    border-radius: 3px;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    border-left:1px solid rgba(0, 0, 0, 0.1);  
}

.loan-line-info .col-md-3, .loan-line-info .col-md-6 {
    float: none;
    display: table-cell;
    vertical-align: top;
    text-align:left;
    padding:15px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);  
}

.loan-line-info h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.1px;
    text-align: left;
    color: #323232;
}

.loan-line-info .no-border {
    padding-right:0px;
    border-right: 0px;
}

.loan-line-info .border-holder {
    border-right:1px solid rgba(0, 0, 0, 0.1); 
}

.logo-holder img {
    width: 80%;
    margin: 15px auto 20px auto;
}

.loan-line-info ul {
    list-style-type: none;
}

.loan-line-info ul li {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.2px;
    text-align: left;
    color: #323232;
}

.loan-line-info ul li::before {
    content: "";
    border-color: #76a923;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    left: -2em;
    top: 14px;
    position: relative;
}

.loan-line-info ul.red li::before {
    border-color: #d0021b;
}

.redirect-button {
    width: 90%;
    height: 41px;
    border-radius: 21px;
    background-color: #76a923;
    display: block;
    margin: 10px auto;
    padding: 10px 5px;
    color: #FFF;
    font-size: 15px;
}

span.redirect-info {
    padding: 0px 10px;
    display:block;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.redirect-button:hover {
    color: #FFF;
}

.info-icon, .info-icon-mobile {
    font-size: 14px;
    text-align: center;
    color: #76a923;
}

.info-icon-mobile {
    display: none;
}

.info-icon .fa, .info-icon-mobile .fa {
    border: 1px solid #76a923;
    border-radius: 50%;
    background-color: #76a923;
    color: white;
    font-size: 8px;
    padding: 2px;
}

.info-icon:hover , .info-icon-mobile:hover {
    color: #76a923;
    cursor: pointer;
}
/* form els*/
loan-amount .invalid-component {
    border-color: #ff7043!important;
}

loan-amount .validation-message {
    margin-bottom: 10px;
    color: #ff7043;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
}

filters label {
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #000000;
}

@media (max-width: 996px) {
    .info-icon-mobile {
        display: block;
        margin-top:30px;
    }

    .info-icon {
        display:none;
    }

    .loan-header {
        display:none;
    }

    .loan-line {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .loan-line .col-md-2, .loan-line .col-md-6 {
        min-height: inherit;
        display: block;
    }
    
    .logo-holder img {
        width: 50%;
        min-width:200px;
    }
    
    .loan-line-info .col-md-3, .loan-line-info .col-md-6 {
        display:block;
    }

    .loan-line-info h4 {
        text-align:center;
    }
}
