﻿@import "elements/header";
@import "elements/footer";
@import "font/variables-icomoon";
@import "font/icomoon";
@import "common/_loader";
@import "components/search-page";
//@import "components/breadcrumbs";
//@import "components/blog-single";
@import "components/forms/form-components";
@import "components/forms/form-group";
@import "components/forms/form-app";
@import "components/forms/form-app-SQ";
@import "components/another-view";
@import "components/steps-item";
@import "common/classes";
@import "common/flex";
@import "components/user-feedback";
@import "components/finance-products";
@import "components/options-block";
@import "components/benefits-wrap";
@import "components/content-funnel";
//@import "components/author-page";
@import "components/modal";
@import "common/_animations";
//@import "components/loans-pages";
//@import "components/slick";
@import "components/browse_loan";
//@import "components/blog-frame";
//@import "components/how-it-works";

.invalid-component{
    color: red;
}

.btn{
    transition: 0.3s ease-in-out;
}