﻿@import "_old-css/style";
@import "common/btn";
@import "common/_loader";
@import "components/search-page";
@import "components/breadcrumbs";
@import "components/blog-single";
@import "components/forms/form-components";
@import "components/forms/form-group";
@import "components/forms/form-app";
@import "components/forms/form-app-SQ";
@import "components/another-view";
@import "components/steps-item";
@import "common/classes";
@import "common/flex";
@import "components/user-feedback";
@import "components/finance-products";
@import "components/options-block";
@import "components/benefits-wrap";
@import "components/content-funnel";
@import "components/pages/author-page";
@import "components/modal";
@import "common/_animations";
@import "components/pages/loans-pages";
@import "components/slick";
@import "components/browse_loan";
@import "components/blog-frame";
@import "components/pages/how-it-works";
@import "components/_table";
@import "components/_lists";
@import "components/cta-sections";
@import "components/pages/starUp-page";
@import "components/_accordion";
@import "components/pages/rejection-page";
@import "components/pages/cards-page";

.modal{
    .close{
        outline: none !important;
    }
}