﻿@_btn-success-custom-bg: #3d8900;
@_btn-success-custom-bg-hover: #2d8e39;

.btn{
    
    &-x2 {
        padding: 18px 15px;
        min-width: 270px;
    }
    
    &-warning-custom{
        background-color: @brand-warning;
        color: @brand-white;

        &:focus{
            background-color: lighten(@brand-warning,10%);
        }

        &:hover{
            background-color: darken(@brand-warning,10%);
        }

        &:active{
            background-color: darken(@brand-warning,20%);
        }
    }
    &-success-custom {
        border: 2px solid @_btn-success-custom-bg;
        color: @_btn-success-custom-bg;
        background-color: @brand-white;
    
        &:focus{
            color: @_btn-success-custom-bg;
        }
    
        &:hover {
            color: @brand-white;
            background-color: @_btn-success-custom-bg-hover;
            border-color: transparent;
        }
    }
}


.hasScrolled {
    .btn-success-custom {
        color: @brand-white;
        background-color: @_btn-success-custom-bg-hover;
        border-color: transparent;
        &:hover {
            border: 2px solid @_btn-success-custom-bg;
            color: @_btn-success-custom-bg;
            background: @brand-white;
        }
    }
}


.burger-menu {
    position: absolute;
    top: 52%;
    .transform-y(-50%); //mixin
    .transition-2(0.5s,ease-in-out); //mixin
    left: 0;
    width: 19px;
    height: 16px;

    &:hover{
         text-decoration: none;
    }
    &:focus {
        color: #333;
    }

    &:before,
    &:after{
        content: '';
        height: 2px;
        width: 19px;
        transform: rotate(45deg);
        position: absolute;
        top: 6px;
        left: 0;
        background: #333;
        opacity: 0;
    }

    &:before {
        transform: rotate(-45deg);
    }

    span{
        margin-bottom: 4px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.menu-opened{
    .burger-menu{
        span{
            opacity: 0;
        }
    }
}