//mobile menu burger
.burger {
  position: relative;
  height: 100%;
  width: 60px;
  cursor: pointer;
  float: left;
  transition: .3s linear;
  span {
    position: absolute;
    left: 15px;
    display: inline-block;
    width: 30px;
    height: 3px;
    background: @black-text-main;
    transition: @hover-transition;
    &:nth-child(1) {
      top: 21px;
    }
    &:nth-child(2) {
      top: 29px;
    }
    &:nth-child(3) {
      top: 37px;
    }
  }
  &.active {
    span {
      background: @green-main;
      &:nth-child(1) {
      .transform(rotate(45deg));
        top: 31px;
      }
      &:nth-child(2) {
      .transform(translateX(-50px));
        opacity: 0;
      }
      &:nth-child(3) {
      .transform(rotate(-45deg));
        top: 31px;
      }
    }
  }
}
[class*="--right"] {
  .burger {
    &.active {
      span {
        &:nth-child(2) {
          .transform(translateX(50px));
        }
      }
    }
  }
}