//button styles, modifications, variables
@height: 2.7em;
@padding: 0 15px;

@border: none;
@btn-border-radius: @border-radius;

@color: white;

//background color, if gradient, need to set properties for :hover and :active
@background-color: @green-main;
@background-color-hover: lighten(@green-main,5%);
@background-color-active: @green-dark;

//apply button

//here's styles of custom apply button(doesn't has common style)
//set true if it's custom
@apply-button-custom: true;
.apply_btn() when (@apply-button-custom){
  overflow: hidden;
  height: 80px;
  line-height: 74px;
  font-size: 40px;
  font-weight: 700;
  border-radius: 7px;
  border-color: white;
  position: relative;
  display: block;
  padding: 0;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  p {
    position: absolute;
    top: 8px;
    width: 100%;
    left: 0px;
    + span {
      margin-top: 20px;
    }
  }
  span {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    font-weight: 900;
    line-height: 1;
  }
  > div {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
  }
  @media @smallerThanSM {
    max-width: inherit;
  }
}
.btn_holder {
  text-align: center;
  min-height: 38px;
}
.btn {
  height: 66px;
  line-height: 66px;
  cursor: pointer;
  transition: 0.15s linear;
  text-shadow: none;
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  padding: 0 40px;
  border: none;
  border-radius: 40px;
  font-weight: 400;
  background: #39b549;
  color: white;
  display: inline-block;
  &:after {
    display: none;
  }
  &:hover {
    background: lighten(#39b549,5%)!important;
  }
  @media @smallerThanSM {
    font-size: 20px;
    height: 56px;
    line-height: 56px;
    padding: 0 25px;
  }
}