.call_us {
  //font-weight: 300;
  float: left;
  color: white;
  font-size: 15px;
  .phone_wrapper {
    border-radius: 8px;
    border: 1px solid #717171;
    border-left: none;
    position: relative;
    line-height: 1.2;
    padding: 0 5px 0 8px;
  }
  a {
    font-size: inherit;
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    white-space: nowrap;
    &:hover {
      text-decoration: underline!important;
      text-shadow: 0px 0px 8px rgba(255,255,255,0.7);
      i {
        color: white;
      }
    }
    @media @smallerThanSM {
      font-weight: normal;
    }
  }
  i {
    @media @largerThanSM {
      color: white;
      font-size: 16px;
    }
  }
}