//input styles
//ssss
@input-border: 1px solid transparent;
@input-border-focus: 1px solid @blue-light;
@input-border-radius: @border-radius;
@input-background-color: white;
@input-height: 44px;
@input-padding: 15px;

//selects
@custom-select: true;
.custom_select {
}

input,select {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  width: 100%;
  border: @input-border;
  background-color: @input-background-color;
  height: @input-height;
  font-size: @text-normal-size;
  padding:0 @input-padding;
  border-radius: @input-border-radius;
  .font();
  transition: @hover-transition;
  &:focus {
    border: @input-border-focus;
  }
}
input, textarea {
  &.error {
    border: 1px solid @red;
  }
}
label {
  font-size: @text-sm;
  &.error {
    color: @red;
  }
}

textarea {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  width: 100%;
  resize:vertical;
  border: @input-border;
  background-color: @input-background-color;
  font-size: @text-normal-size;
  padding: @input-padding;
  border-radius: @input-border-radius;
  font-family: "Lato", arial,sans-serif;
  height: 90px;
  transform: border @hover-transition;
  &:focus {
    outline: none !important;
    border: @input-border-focus;
  }
}
select {
  padding-right: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAIAgMAAACXJHeKAAAADFBMVEUAAABUwrZUwrZUwrbt2dg5AAAAA3RSTlMA32CxZHxWAAAAJ0lEQVQI12Oo/8sABvv/QWj5LxBa/weEZr8AobkfQGhGBwjN1ACmAE0IB/kqz5WzAAAAAElFTkSuQmCC') no-repeat;
  background-position: right center;
}