//
@list-item-color: @black-text-main;
@list-item-padding-top-bot: 10px;

@list-item-image-width: 40px;
@list-item-image-height: 40px;
@list-item-sprite-y: -201px;
@list-item-sprite-step: 70;

.list_wrapper {
  max-width: 600px;
  padding: 5px 0;
  background-color: @blue-main;
  position: relative;
  margin-right: 15px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: -15px;
    width: 15px;
    bottom: 0;
    background: @blue-main;
    z-index: 9;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 15px solid @blue-light;
  }
}
.list_corner {
  background-color: @blue-light;
  position: absolute;
  left: -60px;
  width: 60px;
  bottom: 0;
  top:0;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 60px solid white;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 60px solid @blue-light;
  }
}
.list_item {
  margin-left: @list-item-image-width+20;
  margin-right: @list-item-image-width;
  padding-top: 2px;
  padding-bottom: 4px;
  min-height: @list-item-image-height;
  line-height: @list-item-image-width;
  position: relative;
  color: @list-item-color;
  font-weight: bold;
  border-top: 1px solid @blue-light;
  &:first-child {
    border-top: none;
  }
  &__img {
    color: white;
    position: absolute;
    left: -35px;
    top: 50%;
    text-align: left;
    line-height: 1;
    margin-top: 2px;
    font-size: 24px;
    .transform(translateY(-50%));
  }
  &__text {
    font-size: @text-md;
    line-height: 1.3;
    display: inline-block;
    vertical-align: middle;
    color: white;
  }
}