.loading {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/loader.gif") no-repeat 50% 50%;
    z-index: 1;
  }

  &-sm {
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: url("../images/loader-sm.gif") no-repeat 50% 50%;
      z-index: 1;
    }
  }
}