@logo-background-image-link: url("../images/logo.svg");
.logo {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 38px;
  overflow: hidden;
  width: 275px;
  height: 45px;
  text-indent: -999px;
  background-image: @logo-background-image-link;
  background-size: contain;
  background-repeat: no-repeat;
  @media @smallerThanMD {
    width: 270px;
    height: 55px;
  }
  @media @smallerThanSM {
    margin-top: 0px;
    background-position: center center;
    padding-left: 40px;
    font-size: 22px;
    width: 200px;
    height: 48px;
  }
  &--f {
    background-position: center center!important;
  }
}