//menu
.menu {
  text-align: center;
  padding-top: 30px;
  float: right;
  ul {
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
    width: 100%;
    li {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin-left: 0px;
      a {
        transition: @hover-transition;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        color: #444444;
        display: inline-block;
        margin-left: 15px;
        &:hover, &.current {
          color: #777777;
        }
      }
      &.call_us {
        float: left;
      }
    }
  }
  @media @smallerThanSM {
    float: none;
    text-align: center;
  }
}