.price {
  color: inherit;
  text-align: center;
  max-width: 140px;
  font-weight: bold;
  @media @smallerThanSM {
    margin: 0 auto;
    max-width: 200px;
  }
  &__tag {
    display: inline-block;
    padding: 2px 7px;
    background-color: @green-dark;
    text-transform: uppercase;
    font-size: 16px;
  }
  &__value {
    font-size: 52px;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid @green-main;
  }
  &__descr {
    text-transform: uppercase;
    font-size: 16px;
  }
}