.quote {
  max-width: 810px;
  text-align: center;
  position: relative;
  padding: 10px 20px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-top: 30px;
  &__text {
    font-family: "Georgia",sans-serif;
    font-size: 15px;
    color: #2f2f2f;
    line-height: 1.2;
    position: relative;
    font-style: italic;
    p {
      margin-bottom: 15px;
    }
  }
  &__author-name, &__author-loc {
    font-size: 16px;
    font-family: "Georgia",sans-serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    i {
      color: @blue-light;
      font-size: 14px;
    }
  }
  @media @smallerThanSM {
    padding: 5px 10px;
  }
}