@social-icon-width: 28px;
@social-icon-height: 28px;

@social-icon-background: #ffffff;
@social-icon-border-radius: @social-icon-width;

@social-sprite-y: -279px;

.social {
  display: inline-block;
  list-style-type: none;
  li {
    float: left;
    a {
      height: @social-icon-height;
      width: @social-icon-width;
      overflow: hidden;
      text-indent: -999px;
      border-radius: @border-radius;
      background-color: @social-icon-background;
      display: inline-block;
      transition: @hover-transition;
      margin: 0 4px;
      vertical-align: middle;
      position: relative;
      &:before {
        text-indent: 0;
        transition: @hover-transition;
        display: block;
        font-size: 16px;
        color: @blue-main;
        font-family: icomoon;
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%,-50%));
      }
      &.fb {
        &:before {
          content: "\e913";
        }
      }
      &.tt {
        &:before {
          content: "\e912";
        }
      }
      &.gp {
        &:before {
          content: "\e914";
        }
      }
      &.ig {
        &:before {
          content: "\e918";
        }
      }

      &:hover {
        background-color: @blue-main;
        text-decoration: none!important;
        &:before {
          color: white;
        }
      }
    }
  }
}