.rates-table {
  color: @black-text-main;
  font-size: @text-sm;
  border-collapse: collapse;
  ul,ol {
    list-style-type: none;
  }
}

.rates-table th {
  background: @green-dark;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font: normal 12px/18px Arial;
  padding: 10px;
  text-align: left;
}

.rates-table td {
  padding: 5px;
  border: 1px solid @gray-border;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  background: @gray-background;
}

.td-state {
  width: 100px;
}

.td-amount {
  width: 100px;
}