//text pages styles (ul,p,h1-6,sup etc)

@inner-elems-margin-bottom: 15px;
.text_content {
  h2, h3, h4 {
    margin-bottom: @inner-elems-margin-bottom;
  }
  p {
    margin-bottom: @inner-elems-margin-bottom;
  }
  a:not(.btn):not(.icon-location) {
    color: @orange;
    &:hover {
      text-decoration: none;
    }
  }
  ol,ul {
    margin-left: @inner-elems-margin-bottom;
    li {
      margin-bottom: @inner-elems-margin-bottom;
    }
  }
  &--main {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
    b {
      font-style: italic;
    }
    @media @smallerThanSM {
      font-size: 14px;
    }
  }
}

//while using old html of table here's style of that table
@import "table";