//styles of headers, paragraphs ... all text
h1,.h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5em;
}
h2,.h2 {
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
h3,.h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
h4,.h4 {
  font-size: 18px;
  //font-weight: bold;
}