@mixin vert-align{
	font-size: 0;
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		vertical-align: middle;
		display: inline-block;
	}
}
/*
.under_constraction_page{
	height: 100vh;
	background-size: cover;
	background-position: 50%;
	position: relative;
	width: 100%;
	&:before{
		position: absolute;
		content: "";
		background:rgba(0,0,0,.9);
		top: 0;
		bottom: 20%;
		right: 0;left: 0;
	}
	&:after{
		position: absolute;
		content: "";
		background-image: url('../assets/images/under_banner_before.png');
		top: 80%;
		right: 0;left: 0;
		height: 41px;
		background-repeat: repeat;
		opacity: .9;
		margin-top: -.5px;
	}

	.caption{
		position: absolute;
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 39%;
		transform: translateY(-50%);
		text-align: center;
		.logo{
			max-width: 748px;
			width: 100%;
			margin: 0 auto;
			padding: 0 15px;
			margin-bottom: 85px;
			display: block;
			img{
				width: 100%;
			}
		}
		.title{
			font-size: 42px;
			text-transform: uppercase;
			color:#fff;
			font-family: "Dosis";
			font-weight: bold;
			letter-spacing: 2.2px;
			margin-bottom: 25px;
			padding: 0 15px;
		}
		.subtitle{
			max-width: 630px;
			margin: 0 auto;
			font-size: 24px;
			opacity: .5;
			color:#fff;
			font-family: "Open Sans";
			text-align: center;
			line-height: 1.3;
			padding: 0 15px;
		}
		.form{
			max-width: 814px;
			padding: 0 15px;
			margin: 85px auto;
			form{
				.how-much-search{

				}
			}
		}
		.go_home{
			margin-top: 55px;
			font-size: 24px;
			color:#0084c4;
			font-family: "Open Sans";
			display: inline-block;
			text-decoration: none;
			transition:all .4s;
			&:hover{
				color:#fff;
			}
		}
	}
}

.under_constraction_page{
	.caption{
		form{
			.how-much-search {
				float: left;
				width: 60%;
				.field-input{
					height: 80px;
					border-radius: 5em 0 0 5em;
					padding: 0 40px;
					font-size: 16px;
					width: 100%;
					color: #444444;
				}
			}
			.how-much-button {
				float: left;
				width: 40%;
				.field-button {
					width: 100%;
					height: 80px;
					border-radius: 0 5em 5em 0;
					font-size: 32px;
					font-family: "Dosis", serif;
					outline:none;
					transition: all .4s;
				}
			}
		}
	}
}


@media (max-width: 1366px){
	.under_constraction_page {
		padding-top: 25px;
		.caption {
			.logo{
				max-width: 550px;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			.form{
				margin: 30px auto;
			}
			.go_home{
				margin-bottom: 25px;
			}
		}
	}
}

@media (min-width: 1025px){
	.under_constraction_page{
		overflow: hidden;
	}
}

@media (max-width: 1024px){
	.under_constraction_page {
		.caption {
			.logo{
				max-width: 630px;
				margin-bottom: 25px;
			}
			.form{
				margin: 25px auto;
			}
			.go_home{
				margin-top: 25px;
			}
		}
	}
}

@media (max-width: 991px){
	.under_constraction_page{
		min-height: 100vh;
		padding-bottom: 100px;
		height: 100%;
		.caption{
			position: relative;
			top: 0;
			transform:translateY(0);
			padding: 30px 0;
			form{
				.how-much-search,
				.how-much-button {
					float: none;
					margin: 15px auto;
				}
				.how-much-search{
					width: 100%;
					.field-input {
						border-radius: 5em;
					}
				}
				.how-much-button {
					width: 100%;
					.field-button{
						border-radius: 5em;
					}
				}
			}
		}
	}
}
@media (max-width: 767px){
	.under_constraction_page {
		.caption {
			.logo{
				max-width: 430px;
				margin-bottom: 20px;
			}
			.title{
				font-size: 36px;
			}
			.subtitle{
				font-size: 20px;
			}
			.form{
				margin: 25px auto;
			}
			.go_home{
				margin-top: 20px;
			}
		}
	}
}
@media (max-width: 670px){
	.under_constraction_page {
		min-height: 100vh;
		height: 100%;
		padding-bottom: 100px;
		&:before,
		&:after{
			display: none;
		}
		.caption {
			position: static;
			top: 0;
			transform: translateY(0);
			padding: 50px 0 10px;
			background:rgba(0,0,0,.9);
			position: relative;
			&:before{
				position: absolute;
				content: "";
				background-image: url('../assets/images/under_banner_before.png');
				top: 100%;
				right: 0;left: 0;
				height: 30px;
				background-repeat: repeat;
				background-size: contain;
				opacity: 0.9;
			}
			.logo{
				max-width: 380px;
				margin-bottom: 25px;
			}
			.title{
				font-size: 36px;
			}
			.subtitle{
				font-size: 20px;
			}
			.form{
				margin: 25px auto;
			}
			.go_home{
				margin-top: 25px;
			}
		}
	}
	.under_constraction_page{
		.caption{
			form{
				.how-much-search,
				.how-much-button {
					float: none;
					margin: 15px auto;
				}
				.how-much-search{
					width: 100%;
					.field-input {
						border-radius: 5em;
						height: 50px;
					}
				}
				.how-much-button {
					width: 100%;
					.field-button{
						border-radius: 5em;
						height: 50px;
						font-size: 28px;
					}
				}
			}
		}
	}
}
@media (max-width: 400px){
	.under_constraction_page .caption form .how-much-search .field-input{
		padding: 0 15px;
		font-size: 14px;
	}
}

@media (max-width: 360px){
	.under_constraction_page {
		.caption {
			.logo{
				max-width: 380px;
				margin-bottom: 25px;
				padding: 0 20px;
			}
			.title{
				font-size: 36px;
			}
			.subtitle{
				font-size: 20px;
			}
			.form{
				margin: 25px auto;
			}
			.go_home{
				font-size: 18px;
			}
		}
	}
}


/* partners1 styles */
/*
.partner1{
	background-size: cover;
	background-position: 50%;
	padding: 80px 0;
	.container{
		max-width: 1200px;
		width: 100%;
		.form{
			background:#fff;
			border-radius: 15px;
			padding: 25px 50px 40px;
			max-width: 670px;
			margin: 0 auto;
			.form-title{
				text-transform: uppercase;
				font-family: "Dosis";
				font-size: 32px;
				color:#444;
				font-weight: bold;
				text-align: center;
				letter-spacing: 2.4px;
				span{
					color:#0084c4;
				}
			}
			form{
				padding-top: 43px;
				label{
					display: block;
					color:#777;
					font-size: 16px;
					font-family: "Open Sans";
					font-weight: 400;
					margin-bottom: 10px;
				}
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				input[type="password"],
				select{
					width: 100%;
					height: 43px;
					border-radius: 4px;
					background-color: #fff;
					border: solid 1px #c2c2c2;
					margin-bottom: 21px;
					outline:none;
					padding: 0 10px;
				}
				select{
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 0.01px;
					text-overflow: '';
					cursor:pointer;
					padding-right: 30px;
					background:url('../assets/images/arrow.png') no-repeat;
					background-position: calc(100% - 10px);
					&:-ms-expand {
						display: none;
					}
				}
				input[type="password"]{
					max-width: 100%;
				}
				input[type="submit"]{
					width: 100%;
					margin-top: 34px;
					border-radius: 25px;
					background: #0084C4;
					color: #fff;
					text-align: center;
					display: block;
					border: none;
					outline:none;
					padding: 8px 10px;
					font-size: 18px;
					font-family: "Dosis";
					transition:all .4s;
					&:hover{
						background: darken(#0084C4,15);
					}
				}

				p{
					text-align: center;
					color: #777;
					font-size: 12px;
					font-family: "Open Sans";
					a{
						color: #0084C4;
						text-decoration: none;
						transition:all .4s;
						&:hover{
							color: darken(#0084C4,15);
						}
					}
				}
			}
		}

		.logo{
			margin-bottom: 40px;
			margin-top: 20px;
		}
		.main-title{
			font-family: "Dosis";
			font-size: 60px;
			color: #ACACAC;
			font-weight: bold;
			line-height: 1.2;
			text-transform: uppercase;
			margin-bottom: 70px;
		}
		.subtitle{
			text-transform: uppercase;
			font-size: 25px;
			color: #39B549;
			font-family: "Dosis";
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 35px;
			margin-top: 0;
		}
		p{
			margin-top: 26px;
			color: #ACACAC;
			margin-bottom: 0;
			font-size: 24px;
			font-family: "Dosis";
		}
	}
}
@media (max-width:1024px){
	.partner1 .container {
		.main-title{
			font-size: 50px;
		}
		.form{
			padding: 25px 20px 40px;
		}
	}
}
@media (max-width:991px){
	.partner1 {
		padding: 40px 0;
		.container {
			.logo{
				max-width: 420px;
				margin: 0 auto;
			}
			.main-title{
				text-align: center;
				line-height: 1;
				margin-bottom: 40px;
			}
			.subtitle{
				text-align: center;
				margin-bottom: 20px;
			}
			p{
				text-align: center;
				margin-bottom: 25px;
			}
		}
	}
}
@media (max-width:600px){
	.partner1 {
		padding: 40px 0;
		.container {
			.logo{
				max-width: 400px;
			}
			.main-title{
				font-size: 30px;
				margin-bottom: 20px;
			}
			.subtitle{
				font-size: 18px;
				margin-bottom: 12px;
			}
			p{
				font-size: 18px;
			}
			.form {
				.form-title{
					margin: 0;
					font-size: 24px;
				}
				label{
					margin-bottom: 4px;
				}
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				input[type="password"],
				select{
					height: 31px;
				}
				input[type="submit"]{
					margin-top: 5px;
				}
			}
		}
	}
} */

/* end partners1 styles */


/*
// start general settings
html,
body{
	overflow-x: hidden;
}
.btn-success{
	transition: all .4s;
}
@media (max-width:640px){
	.content-how-much{
		padding: 50px 0;
	}
	.content-how-much .how-much-title{
		font-size: 32px;
		margin-bottom: 30px;
	}
	.content-how-much .how-much-search-wraper .how-much-search .field-input,
	.content-how-much .how-much-search-wraper .how-much-button .field-button{
		height: 50px;
		font-size: 14px;
	}
	.content-how-much .how-much-search-wraper .how-much-button .field-button{
		font-size: 25px;
	}
}
// end general settings

// steles for calc page
.title_banner{
	background: url('../assets/images/title_banner_before.jpg') no-repeat 50%;
	background-size: cover;
	padding: 55px 0 81px;
	h1{
		font-family: "Dosis";
		font-size: 47px;
		color: #FFF;
		margin-bottom: 31px;
	}
	p{
		font-size: 24px;
		color: #FFF;
		font-family: "Dosis";
		letter-spacing: 1.2px;
		line-height: 1.5;
	}

	.calculator{
		position: absolute;
		top: 0;
		left: 50%;
		max-width: 431px;
		width: 100%;
		transform: translateX(-40%);
	}
}

@media (max-width:767px){
	.title_banner{
		h1,p{
			width: calc(100% - 155px);
		}
		.calculator{
			transform: translateX(0);
			max-width: 160px;
			right: 0;
			left: auto;
			top: 50%;
		}
	}
}
@media (max-width:640px){
	.title_banner{
		padding: 15px;
		h1,p{
			width: 100%;
			text-align: center;
		}
		h1{
			font-size: 28px;
			margin-top: 0;
			margin-bottom: 10px;
		}
		p{
			font-size: 19px;
		}
		.calculator{
			max-width: 130px;
			right: auto;
			left: auto;
			top: 0;
			position: static;
			margin: 0 auto;
		}
	}
}

.contntent_after_title_banner{
	padding: 60px 0;
	h2{
		font-size: 47px;
		color: #444;
		font-family: "Dosis";
		margin-bottom: 50px;
	}
	p{
		color: #777;
		font-size: 16px;
		font-family: "Open Sans";
		margin-bottom: 0;
		line-height: 1.9;
	}
}

.bussines_loan{
	padding: 50px 0;
	h2{
		font-size: 47px;
		color: #444;
		font-family: "Dosis";
		margin-bottom: 50px;
	}
	&--group{
		text-align: center;
		font-size: 0;
		margin-top: 25px;
	}
	&--button{
		float: none;
		display: inline-block;
		a{
			text-align: center;
			font-family: "Dosis";
			font-size: 18px;
			color: #FFF;
			text-decoration: none;
			background: #0084c4;
			max-width: 369px;
			width: 100%;
			border-radius: 50px;
			padding: 15px 5px;
			display: inline-block;
			transition:all .4s;
			margin-bottom: 21px;
			&:hover{
				background: #004262;
			}
		}
	}
}
@media (max-width: 767px){

	.contntent_after_title_banner{
		h2{
			font-size: 30px;
		}
	}
	.bussines_loan{
		padding: 50px 0;
		h2{
			font-size: 30px;
			margin-bottom: 15px;
		}
		&--group{
			margin-top: 25px;
		}
		&--button{
			display: block;
			a{
				font-size: 18px;
				margin-bottom: 21px;
			}
		}
	}
}


.calc_table{
	.main_row{
		padding: 44px 0 56px;
		&.green_line{
			background: #39B549;
		}
		.grid{
			float: left;
			width: 100%;
			.column{
				float: left;
				padding-right: 10px;
				h5{
					color: #FFF;
					text-transform: uppercase;
					font-size: 18px;
					font-family: "Dosis";
					font-weight: bold;
				}
				p{
					color: #444;
					font-size: 18px;
					font-family: "Open Sans";
					font-weight: 300;
				}
				&_1{
					width: 25%;
				}
				&_2{
					width: 28%;
				}
				&_3{
					width: calc(47% - 160px);
				}
				&_4{
					width: 160px;
					strong{
						font-size: 24px;
						color: #39B549;
						font-family: "Dosis";
					}
				}
			}
		}
		&.secondary{
			padding: 0;
			.grid{
				.grid_row{
					position: relative;
					float: left;
					width: 100%;
					&:before,
					&:after{
						position: absolute;
						content: "";
						top: 0;bottom: 0;
						width: 100%;
					}
					&:before{
						right: 100%;
					}
					&:after{
						left: 100%;
					}
					.column{
						height: 139px;
						@include vert-align();
						p,b,strong{
							display: inline-block;
						}
						&_1{
							position: relative;
							padding-left: 60px;
							padding-right: 10px;
							.image{
								position: absolute;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
								width: 50px;
							}
							b{
								font-size: 18px;
							}
						}
					}
					&:nth-child(even){
						background: #f8f9fb;
						&:before,
						&:after{
							background: #f8f9fb;
						}
					}
				}
			}
		}
	}
}

@media (max-width:767px){
	.calc_table {
		.main_row{
			padding: 14px 0 6px;
			.grid{
				.column{
					h5{
						font-size: 14px;
					}
				}
			}
			&.secondary {
				.grid {
					.grid_row {
						.column{
							p{
								font-size: 15px;
							}
							&_1{
								b{
									font-size: 13px;
								}
							}
							&_3{
								width: calc(45% - 90px);
							}
							&_4{
								width: 90px;
								padding-right: 0;
								strong{
									font-size: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width:640px){
	.calc_table {
		.main_row{
			.grid {
				position: relative;
				.column{
					&_1,
					&_2,
					&_3,
					&_4{
						width: 50%;
					}
				}
			}
			&.secondary {
				.grid {
					.grid_row {
						position: relative;
						&:after{
							position: absolute;
							content: "";
							height: 2px;
							background: #a19f9f;
							top: 100%;
							left: 0;
							z-index: 1;
						}
						.column{
							height: 70px;
							padding-left: 10px;
							p{
								font-size: 15px;
							}
							&_1{
								width: 50%;
								padding-left: 60px;
								.image{
									left: 10px;
									max-width: 40px;
								}
								b{
									font-size: 13px;
								}
							}
							&_2{
								width: 50%;
							}
							&_3{
								width: 50%;
							}
							&_4{
								width: 50%;
								padding-right: 0;
								strong{
									font-size: 15px;
								}
							}
							&_1,
							&_2{
								position: relative;
								&:after{
									position: absolute;
									// content: "";
									height: 2px;
									background: #a19f9f;
									bottom: 0;
									left: 0;right: 0;
									width: 100%;
								}
							}
							&_3,
							&_4{
								position: relative;
								&:after{
									position: absolute;
									// content: "";
									background: #a19f9f;
									bottom: 0;
									top: -100%;left: 0;
									width: 2px;
								}
							}
						}
					}
				}
			}
		}
	}
}


@media (max-width:500px){
	.calc_table {
		.main_row{
			&.secondary {
				.grid {
					.grid_row {
						padding: 10px 0;
						.column{
							text-align: center;
							height: auto;
							padding: 10px;
							&_1,
							&_2,
							&_3,
							&_4{
								width: 100%;
							}
							&_1{
								padding-left: 10px;
								.image{
									position: relative;
									transform:translateY(0);
									margin: 0 auto;
								}
							}
						}
					}
				}
			}
		}
	}
	.calc_table .main_row .grid .column_1,
	.calc_table .main_row .grid .column_2,
	.calc_table .main_row .grid .column_3,
	.calc_table .main_row .grid .column_4{
		width: 100%;
		text-align: center;
	}

	.calc_table .main_row.secondary .grid .grid_row:nth-child(even):after{
		background: #a19f9f !important;
	}
}

//END styles for calc page
*/

.custom_body .header-panel{
	margin-bottom: 0;
}

.main_title{
	font-size: 47px;
	color: #444;
	font-family: "Dosis";
}
.calc2_page{
	.calc_page_title{
		background: #39B549;
		padding: 77px 15px 72px;
		img{
			max-width: 63px;
			width: 100%;
			margin-right: 23px;
			float: left;
		}
		h1{
			font-size: 47px;
			color: #FFF;
			font-family: "Dosis";
			margin: 0;
		}
	}

	.how_to_calculate{
		padding: 20px 0 30px;
		.main_buttons{
			margin-bottom: 40px;
		}
		.calculate_buttons{
			padding: 5px 15px 20px;
			text-align: center;
			a{
				margin: 0 20px;
				max-width: 226px;
				width: 100%;
				text-align: center;
				font-family: "Dosis";
				font-size: 18px;
				color: #FFF;
				text-decoration: none;
				background: #0084c4;
				border-radius: 50px;
				padding: 15px 5px;
				display: inline-block;
				transition:all .4s;
				&:hover{
					background: #004262;
				}
			}
		}
	}

	.main_content{
		padding: 20px 0;
		margin-bottom: 67px;
		.calculator{
			max-width: 369px;
			width: 100%;
			border-radius: 5px;
			border: 1px solid #979797;
			&.left{
				float: left;
			}
			&.right{
				float: right;
			}
			.title_block{
				padding: 10px;
				background: #0084c4;
				border-radius: 5px 5px 0 0;
				padding: 20px 32px 12px;
				h4{
					font-size: 24px;
					color: #FFF;
					font-family: "Dosis";
					font-weight: bold;
					text-transform: uppercase;
					margin: 0;
					margin-bottom: 2px;
				}
				.subtitle{
					font-size: 18px;
					color: #FFF;
					font-family: "Dosis";
					display: block;
				}
			}
			.calc_container{
				padding: 24px 21px 24px 31px;
				float: left;
				width: 100%;
				form{
					label{
						color: #444;
						font-size: 14px;
						font-family: "Open Sans";
						line-height: 41px;
						width: 60%;
						float: left;
						margin-bottom: 13px;
					}
					input[type="text"]{
						float: left;
						width: 40%;
						height: 38px;
						border: 1px solid #979797;
						border-radius: 8px;
						font-family: "Open Sans";
						font-size: 22px;
						font-weight: 300;
						line-height: 58px;
						outline:none;
						text-align: center;
						padding: 0 10px;
						color: #979797;
						transition:all .4s;
						&:focus{
							color: #000;
							border-color: #0084C4;
						}
					}
					input[type="submit"]{
						width: 100%;
						text-align: center;
						padding: 10px 10px;
						font-size: 24px;
						font-family: "Dosis";
						color: #FFF;
						background: #39b549;
						border-radius: 50px;
						outline:none;
						border: none;
						box-shadow: none;
						transition:all .4s;
						margin-top: 11px;
						&:hover{
							background: #2D8E39;
						}
					}
				}
			}
			.calc_result{
				clear: both;
				background: #F8F9FB;
				padding: 24px 21px 8px 31px;
				float: left;
				width: 100%;
				border-radius: 0 0 5px 5px;
				.result_line{
					border-bottom: 1px solid #d0d0d0;
					float: left;
					width: 100%;
					margin-bottom: 2px;
					span{
						width: calc(100% - 80px);
						float: left;
						color: #444;
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						line-height: 55px;
					}
					strong{
						width: 80px;
						float: left;
						color: #5bb85d;
						font-family: "Dosis";
						font-size: 24px;
						font-weight: 700;
						line-height: 55px;
					}
					&:last-child{
						border: none;
					}
				}
			}
		}

		.content{
			float: left;
			width: calc(100% - 369px);
			padding: 0 15px;
			p{
				font-family: "Open Sans";
				font-size: 16px;
				color: #777;
				margin-bottom: 0;
				line-height: 30px;
			}
			.line{
				margin: 20px 0;
				max-width: 707px;
				width: 100%;
				background: #D0D0D0;
				height: 1px;
			}
			.formuls{
				p{
					color: #444;
					font-size: 12px;
					line-height: 24px;
				}
			}
			.more_calculators{
				margin-top: 90px;
				h3{
					color: #444;
					font-size: 24px;
					font-family: "Dosis";
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 20px;
				}
				ul{
					list-style: none;
					padding: 0;
					margin: 0;
					li{
						line-height: 60px;
						img{
							width: 43px;
							margin-right: 10px;
						}
						a{
							color: #0084C4;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width:767px){
	.main_title{
		font-size: 32px;
	}
	.calc2_page .how_to_calculate .calculate_buttons a{
		margin: 10px;
	}
	.calc2_page .main_content {
		.content{
			width: 100%;
			padding: 0;
		}
		.calculator{
			max-width: 100%;
			margin-bottom: 20px;
			display: inline-block;
			&.left,
			&.right{
				float: none;
			}
		}
	}

}
@media (max-width:480px){

	.calc2_page {
		.main_content {
			.calculator {
				.calc_container {
					padding: 24px 15px 24px 15px;
					form {
						input[type="text"]{
							font-size: 16px;
						}
					}
				}
				.calc_result{
					padding: 24px 15px 24px 15px;
				}
			}

			.content .more_calculators ul li a{
				font-size: 14px;
			}
		}
	}
}

.finance_products{
	padding: 20px 15px 50px;
	.grid{
		margin-top: 65px;
		padding-bottom: 40px;
		.product_line{
			font-size: 0;
			text-align: center;
			.finance_product{
				width: 20%;
				display: inline-block;
				vertical-align: top;
				min-height: 150px;
				text-align: center;
				position: relative;
				margin-bottom: 30px;
				&:before{
					position: absolute;
					content: "";
					width: 1px;
					top: 50%;
					height: 55px;
					transform:translateY(-50%);
					right: 0;
					background: #777;
				}
				&:nth-child(5n+5){
					&:before{
						display: none;
					}
				}
				a{
					margin: 0 auto;
					max-width: 120px;
					display: inline-block;
					.image{
						height: 83px;
						font-size: 0;
						&:before{
							content: "";
							display: inline-block;
							vertical-align: middle;
							height: 100%;
							width: 0;
						}
						img{
							display: inline-block;
							vertical-align: middle;
							&.hover{
								display: none;
							}
						}
					}
					h5{
						font-size: 18px;
						color: #000;
						font-family: "Dosis";
						font-weight: bold;
						line-height: 1.2;
					}
					&:hover{
						text-decoration: none;
						.image{
							img{
								&.hover{
									display: inline-block;
								}
								&.static{
									display: none;
								}
							}
						}
						h5{
							color: #0084C4;
						}
					}
				}
			}
		}
	}
}

@media (max-width:840px){
	.calc2_page .calc_page_title{
		padding: 60px 15px 50px;
	}
	.finance_products .grid .product_line .finance_product{
		width: 33.33%;
		&:nth-child(5n+5){
			&:before{
				display: block;
			}
		}
		&:nth-child(3n+3),
		&:last-child{
			&:before{
				display: none;
			}
		}
	}
}
@media (max-width:640px){
	.calc2_page .calc_page_title{
		padding: 40px 15px 30px;
		img{
			max-width: 43px;
		}
		h1{
			font-size: 30px;
		}
	}
}

@media (max-width:480px){
	.finance_products .grid .product_line .finance_product{
		width: 50%;
		&:nth-child(3n+3){
			&:before{
				display: block;
			}
		}
		&:nth-child(even){
			&:before{
				display: none;
			}
		}
	}
}

@media (max-width:400px){
	.calc2_page .calc_page_title{
		padding: 30px 15px 25px;
		img{
			max-width: 30px;
		}
		h1{
			font-size: 24px;
		}
	}
}
