﻿.accordion-holder{
    margin-bottom: 60px;
    margin-top: 20px;

    &:last-child{
        margin-bottom: 0;
    }
}

.accordion-group{
    color: #323232;
    line-height: 1.38;
    letter-spacing: 0.1px;
    font-size: 16px;

    &.open{
        .accordion-header{
            &:before{
                transform: rotate(90deg);
                top: 35%;
            }
        }
    }

    &:first-child{
        .accordion-header{
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .accordion-header{
        padding: 16px 15px 17px 45px;
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
        font-weight: 500;
        position: relative;
        cursor: pointer;

        &:before{
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f105";
            position: absolute;
            top: 47%;
            left: 20px;
            transform: translateY(-50%);
            font-size: 16px;
            transition: 0.3s ease-in-out;
        }
    }

    .accordion-body{
        display: none;
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
        padding: 20px 15px 35px 45px;
        @media(min-width: @media-md){
            padding-right: 20%;
        }
        @media(min-width: @media-lg){
            padding-right: 30%;
        }
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.axz010{
    display: none;
}