﻿.list-circle-var(){
    @circle-size: 7px;
    @circle-color: #38af4e;
}

.list-success-circle,
.list-danger-circle{
    list-style: none;
    padding: 0;
    margin: 0;
    color: @brand-black;
    font-weight: @regular;

    b{
        font-weight: @medium;
    }
    li{
        .list-circle-var();

        padding-left: 12px;
        position: relative;
        margin-bottom: 6px;

        &:after{
            content: '';
            position: absolute;
            top: 5.5px;
            left: 0;
            width: @circle-size;
            height: @circle-size;
            border: 2px solid @circle-color;
            border-radius: 50%;
        }
    }
}

.list-danger-circle{
    li{
        &:after{
            border-color: @error-color;
        }
    }
}

.content-blog {
    .item-text{
        ul{
            &:not([class]){
                list-style: none;
                li{
                    padding-left: 20px;
                    line-height: 2;
                    position: relative;
                    margin-bottom: 5px;

                    &:before{
                        position: absolute;
                        content: "";
                        top: 13px;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        border-radius: 15px;
                        background: #777;
                    }
                }
            }
        }
    }
}