﻿.table-variable(){
    @table-border-color: rgba(226, 226, 226, 0.53);
    @table-complex-border-color: #e8e8e8;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 9px 10px;
    text-align: left;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    
    table.responsive {
        margin-bottom: 0;
        td,th{
            position: relative;
            white-space: nowrap;
            overflow: hidden;

            &:first-child{
                display: none;
            }
        }
    }

    .pinned {
        /*position: absolute;
        left: 0;
        top: 0;*/
        background: #f7f7f7;
        //width: 35%;
        /*overflow: hidden;
        overflow-x: scroll;*/
        /*border-right: 2px solid rgba(226, 226, 226, 0.53);*/
        //box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.1);

        table {
            border-right: none;
            border-left: none;
            width: 100%;
            box-shadow: 2px 0 0 0 rgba(0,0,0,.1);

            th,td{
                white-space: nowrap;
            }
        }
        
        td:last-child{
            border-bottom: 0;
        }
    }
    div{
        &.table-wrapper {
            /*position: relative;
            margin-bottom: 20px;
            overflow: hidden;*/
            //border-right: 1px solid #ccc;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;

            div{
                &.scrollable {
                    //margin-left: 35%;
                    overflow: scroll;
                    overflow-y: hidden;
                }
            }
        }
    }
    table.responsive.pinned td {
        display: none;
    }
}

table{
    width: 100%;
}

.table-simple{
    .table-variable();
    
    font-family: 'Work Sans';
    margin-bottom: 20px;

    th{
        text-align: left;
        font-size: 14px;
        border-bottom: 1px solid #000;
        padding: 10px 15px; 
        min-height: 44px;
    }
    td{
        font-size: 14px;
        border-bottom: 1px solid @table-border-color;
        @media(min-width: @media-sm){
            font-size: 16px;
        }
    }
    .scrollable{
        tr:first-child{
            height: 44px;
        }
        th{
            padding: 12px 15px 12px;
            
        }
    }
}

.table-sm{
    @media(max-width: (@media-sm - 1px)){
        display: none;
    }
}

.table-complex{
    .table-variable();
    
    font-family: 'Work Sans';
    border: 1px solid @table-complex-border-color;
    border-radius: 3px;
    margin-bottom: 20px;

    thead{
        background-color: #f8f9fb;
    }
    th{
        width: 33.33333%;
        white-space: nowrap;
        font-weight: @medium;

        &:first-child{
            width: 15%;
        }
    }

    th, td{
        border-right: 1px solid @table-complex-border-color;
        border-bottom: 1px solid @table-complex-border-color;
        padding: 10px 15px;

        &:last-child{
            border-right: 0;
        }
    }
    td{
        padding-top: 20px;
        padding-bottom: 25px;
        vertical-align: top;
    }

    tbody{
        tr{
            &:last-child{
                td{
                    border-bottom: 0;
                }
            }
        }
    }
}
.table-responsive{
    min-height: .01%;
    overflow-x: auto;
    table{
        width: 100%;
        max-width: 100%;
    }
}

.table-funding-options{
    max-width: 125px;
    margin: 0 auto;
    text-align: center;

    &-logo{
        padding: 0 14px;
        margin-bottom: 10px;
    }

    .btn{
        margin-bottom: 5px;
    }
    span{
        font-size: 14px;
        font-weight: @light;
    }
}

.table-carousel-mobile{
    font-family: 'Work Sans';
    margin-bottom: 50px;

    @media(min-width: @media-sm){
        display: none;
    }
}

.table-carousel-wrapper{
    overflow: hidden;
}

.table-carousel-tr{
    background-color: #f8f9fb;
    padding: 30px 0 40px;
    max-height: 415px;
    overflow: hidden;
    overflow-y: auto;

    &.slick-slide{
        display: block;
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 36px;
        background-image: linear-gradient(to bottom, rgba(248, 249, 251, 0), #f8f9fb);
    }
}

.table-carousel-th{
    margin: 22px 0 10px;
    padding-bottom: 8px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: @medium;
}

.subpage_menu{
    min-height: 55px;
    @media(max-width: (@media-sm - 1px)){
        min-height: 83px;
    }    
    >div {
        top: 0;
        transition: top 0.5s ease-in-out;
    }
}

.table-funding{
    .table-complex();

    th{
        text-align: center;

        &:first-child{
            max-width: 175px;
        }
    }

    td{
        text-align: center;
    }

    img{
        max-width: 85%;
        height: auto;
        margin-bottom: 15px;
    }

    .btn{
        margin-bottom: 6px;
    }

    .btn-default{
        padding: 7px 25px;
    }

    .btn-success{
        padding: 9px 25px;
        min-width: 190px;
        clear: both;
    }

    span{
        font-size: 14px;
        font-weight: @light;
    }

    .btn-span{
        color: rgba(0,0,0,0.4);
        font-size: 14px;
    }

    dl,dd,dt{
        display: block;
    }

    dl{
        margin-bottom: 10px;
    
        &:last-child{
            margin-bottom: 0;
        }
    }

    dd{
        font-size: 34px;
        white-space: nowrap;
        font-weight: @light;
        line-height: 1.12;
        margin-bottom: 3px;
    }
    dt{
        text-transform: uppercase;
        font-size: 14px;
        color: @brand-black;
        font-weight: @regular;
    }
}

.modal-funding{
    .modal-funding-logo{
        max-width: 175px;
        margin: 0 auto 13px;

        img{
            max-width: 90%;
        }
    }
    .line-success-bottom{
        padding-bottom: 15px;
    }

    ul{
        font-weight: @light;
        
        li{
            margin-bottom: 12px;
        }
    }
}

.list-option-funding{
    margin: 25px 0;
}

.row-option-funding{
    display: flex;
    flex-direction: column;
    border-top: 2px solid @brand-gray-light;
    padding: 16px 10px 24px;
    font-family: 'Work Sans';
    text-align: center;

    @media(min-width: @media-sm){
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }   
}

.option-funding-logo{
    margin: 0 auto 25px;
    width: 100%;
    max-width: 162px;
    
    @media(min-width: @media-sm){
        padding: 0 18px;
        margin-bottom: 0;
    }
}

.option-funding-desk{
    width: 100%;

    @media(min-width: @media-sm){
        padding: 0 0 0 18px;
    }

    h4,.h4{
        &:first-child{
            margin-top: 0;
        }
    }

}

.option-funding-control{
    width: 100%;
    padding: 0 5px;

    @media(min-width: @media-sm){
        max-width: 200px;
    }

    .btn{
        padding: 9px 25px;
        max-width: 190px;
        margin: 0 auto;
    }

    span{
        color: @brand-success;
        font-size: 14px;
        display: block;
        margin-top: 14px;
        line-height: 1.14;
        letter-spacing: 0.5px;
        text-align: center;
        padding: 0 5px;
    }
    
}

.option-funding-content{
    display: flex;
    flex-direction: column;

    @media(min-width: @media-sm){
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }   

    &-content{
        width: 100%;
        margin-bottom: 30px;

        @media(min-width: @media-sm){
            padding-right: 50px;
            margin-bottom: 0;
        }

        :last-child{
            margin-bottom: 0;
        }
    }
}