﻿@import "../common/_breakpoints";
/* another-view.less (mobile/desktop) --->*/
body{
    &.home{
        font-family: 'Work Sans';
    }
}
.another-view-holder {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 35px;
    
    @media(max-width: (@media-sm - 1px)){
        box-shadow: 0 5px 8px 0 rgba(54, 59, 64, 0.1);
    }
    @media(min-width: @media-sm){
        min-height: 563px;
        padding: 320px 0 50px 0;
    }
    > div{
        position: relative;
        z-index: 1;
    }
    > .container{
         @media(max-width: (@media-sm - 1px)){
             width: 100%;
             background: #fff;
         }
    }

    &:after{
        @media(min-width: @media-sm){
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
            z-index: 0;
        }
    }

    .another-mobile-view{
        width: 100%;
        @media(max-width: (@media-sm - 1px)){
            min-height: 200px;
            padding: 120px 0 40px 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            position: relative;
            //margin-bottom: 30px;
        }
        > div{
            position: relative;
            z-index: 1;
        }

        &:after{
            @media(max-width: (@media-sm - 1px)){
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
                z-index: 0;
            }
        }
    }
}

.modal-open{
    .another-view-holder>.container{
        position: static;
        z-index: auto;
    }
}

.general-slogan{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 38px;

    b{
        font-weight: 700;
        display: block;
        margin-top: 5px;
        text-transform: none;
        @media(min-width: @media-sm){
            font-size: 1.8em;
            margin-top: 10px;
            margin-bottom: 50px;
        }
    }
}