﻿.autocomplete-search {
    font-family: 'Work Sans';
    z-index: 1000;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #000;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
    @media(min-width: @media-sm){
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: none;
    }
    &:before {
        @media(min-width: @media-sm){
            content: '';
            position: absolute;
            top: -5px;
            left: 25px;
            width: 10px;
            height: 10px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-radius: 2px;
            background: #fff;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            z-index: -1;
        }
    }

    li {
        font-size: 16px;
        &:last-child{
            div{
                &:before{
                    @media(max-width: (@media-sm - 1px)){
                         display: none;
                    }
                }
            }
        }

        div{
            padding: 15px 15px 16px 15px;
            position: relative;
            @media(min-width: @media-sm){
                padding: 6px 25px;
            }
            &:before{
                @media(max-width: (@media-sm - 1px)){
                    content: '';
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    bottom: 0;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .ui-menu-item{
        > a{
            &.ui-corner-all {
                display: block;
                padding: 3px 15px;
                clear: both;
                font-weight: 400;
                line-height: 18px;
                color: #555;
                white-space: nowrap
            }
        }

        &-wrapper{
            &:hover{
                @media(min-width: @media-md){
                    background: rgba(0,0,0,0.1);
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                }
            }
        }

        .ui-state-active{
            background: #edf0f2;
        }
    }
}

.autocomplete-header{
    top: 46px !important;
    left: -16px !important;
    right: -15px !important;
    
    @media(max-width: (@media-sm - 1px)) {
        overflow-y: auto;
        max-height: calc(~"100vh - 49px");
    }
    @media(min-width: @media-sm){
        top: 55px !important;
        left: 14px !important;
        right: 0 !important;
    }
    @media(min-width: @media-md){
        top: 73px !important;
    }
}

.autocomplete-search_search-page{
    @media(min-width: @media-sm){
        top: 73px !important;
    }
}

.ui-helper-hidden-accessible{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}