﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";
@import "../common/_mixins";
@import "../common/font-variables";
/*blog-frame.less  ----> */
.benefits-wrap{
    padding: 50px 0;

    h2{
        margin: 0;
        margin-bottom: 34px;
        font-weight: @light;
    }
    .benefits-holder{
        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
        background: @brand-white;

        @media(min-width: @media-sm){
            flex-direction: row;
            justify-content: center;
        }
    }
    .benefits-item{
        width: 100%;
        padding: 30px 25px;
        border: 1px solid @brand-gray-light;

        @media(min-width: @media-sm){
            width: 33.33333333%;
        }
    }
    .benefits-item-icon{
        min-height: 105px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-size: 78px;
        color: @icon-color-success;
        justify-content: center;
    }
    .home-sprite{
        //margin: 0 auto;
    }

    .item-name{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.1px;
        color: #323232;
        margin-bottom: 8px;

        @media screen and (min-width: @media-sm) and (max-width: (@media-md - 1px)){
            font-size: 14px;
        }
    }
    p{
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: -0.3px;
        color: #565454;

        @media screen and (min-width: @media-sm) and (max-width: (@media-md - 1px)){
            font-size: 12px;
        }
    }
}