﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";
/*blog-frame.less*/
.blog-frame{
    font-family: 'Work Sans';
}

.blog-item-general-img{
    min-height: 250px;
    padding: 25px 15px 0 15px;
    color: @brand-white;
    position: relative;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;

    .general-img-path{    
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.2s ease-in-out;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
            z-index: 0;
        }
    }

    .pre-title{
        font-size: 12px;
        font-weight: 500;
        transition: 0.2s ease-in-out;
    }

    /*&:hover{
        .blog-item-general-title{
            color: #0E67A9 !important;
        }
    }*/
}

.blog-item-general-title{
    font-size: 34px;
    font-weight: bold;
    line-height: 1.12;
    margin: 0 0 20px 0;
    transition: 0.2s ease-in-out;
}

.blog-item-general{
    margin-bottom: 25px;

    @media(min-width: @media-sm){
        margin-bottom: 30px;
    }
    
    .blog-item-sub-author{
        color: @brand-black;
        font-size: 14px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding: 17px 0 10px 0;
        span:first-child{
            margin-right: 15px;
        }
        a{
            color: inherit;
            &:hover{
                color: @link-color;
            }
        }
    }
    a:hover{
        .blog-item-general-content{
            color: @link-color;
        }
    }
    a:focus{
        text-decoration: none;
    }
    > a{
        &:hover{
            color: @brand-white;

            /*.blog-item-general-title,*/
            .pre-title{
                color: darken(@brand-white, 5%);
            }
            /*.general-img-path{
                transform: scale(1.14);
            }*/
            .blog-item-general-content{
                color: @brand-black;
            }
        }
        .blog-item-general-img:hover{
            .general-img-path{
                opacity: 0.9;
            }
        }
    }
}

.blog-item-general-content{
    margin: 22px 0 0 0;
    color: @brand-black;

    .sub-title{
        font-size: 22px;
        font-weight: 500;
        line-height: 0.92;
        margin: 0 0 12px 0;
        transition: 0.3s ease-in-out;
        &:hover{
            opacity: .8;
            color: #0E67A9;
        }
    }
    p{
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.2px;

    }
    :last-child{
        margin-bottom: 0;
    }
}

.fix-ie-flex{
    display: flex;
    flex-direction: row;
}