﻿@import "../common/_breakpoints";
@import "../common/_brand-colors";

@breadcrumbs-margin: 16px;
@breadcrumbs-separator-size: 7px;
@breadcrumbs-separator-margin: 0 13px 0 12px;
/* ./source/breadcrumbs.less*/
.breadcrumbs{
    margin: @breadcrumbs-margin 0;
    font-weight: @medium;

    a{
        color: @brand-black;
        position: relative;
        font-weight: @regular;

        &:hover{
            opacity: 0.6;

            span{
                opacity: 1 !important;
            }
        }

        &:focus{
            outline: none;
        }
    }
    .separator{
        margin: @breadcrumbs-separator-margin;
        font-size: 14px;
        display: inline-block;
        width: @breadcrumbs-separator-size;
        height: @breadcrumbs-separator-size;
        border-top: 1px solid @brand-black;
        border-right: 1px solid @brand-black;
        transform: rotate(45deg);
        position: relative;
        top: -1px;
    }
}