﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";
@import "../common/_mixins";
@import "../common/font-variables";
@browse_loan-image-holder-margin-right: 30px;
@browse_loan-line-image-size: 114px;
@browse-loan-default-font-size: 18px;

@browse_loan-col-margin-bottom: 20px;
/* browse_loans.less ---->*/

.browse_loan{
    padding: 50px 0 40px;
    overflow: hidden;

    .line{
        padding: 0 15px 38px 15px;
        margin-bottom: 25px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);

        &:last-child{
            border-bottom: none;
        }

        &-title{
            margin: 0 0 22px 0;
            font-size: 20px;
            display: block;
        }

        p{
            font-size: @browse-loan-default-font-size;
            line-height: 1.44;
            letter-spacing: 0.1px;
            color: #323232;
        }
        a{
            color: @font-success-color;
            font-weight: 500;
            line-height: 1.28;
            letter-spacing: 0.1px;
            
            &:focus{
                color: lighten(@font-success-color,10%);
            }
            &:hover{
                color: darken(@font-success-color,10%);

            }
        }
    }
    .image-holder{
        margin-bottom: 22px;
        @media(min-width: @media-sm){
            margin-right: @browse_loan-image-holder-margin-right;
            max-width: @browse_loan-line-image-size;
            margin-bottom: 0;
        }
        
        .image{
            width: @browse_loan-line-image-size;
            height: @browse_loan-line-image-size;
            background: @brand-gray-light;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 70px;
            color: @icon-color-success;
        }
        a{
            line-height: 1;
        }
    }

    .small_grid{
        display: flex;
        flex-direction: column;
        width: 100%;

        @media(min-width: @media-sm){
            max-width: 400px;
        }
        .col{
            margin-bottom: @browse_loan-col-margin-bottom;
        }

        b{
            font-size: @browse-loan-default-font-size;
            font-weight: 500;
        }
        
        span{
            font-size: (@browse-loan-default-font-size - 3px);
            line-height: 1.33;
            letter-spacing: -0.2px;
            color: @brand-black;
            opacity: 0.6;
        }
        .image{
            width: 30px;
            margin-right: 20px;
            padding-top: 3px;
            font-size: 31px;
            color: @icon-color-success;
        }        
    }
    .default-form-holder{
        margin-top: -25px;
        margin-bottom: 40px;
    }
}
.line{
    > .content{
        margin-bottom: 25px;

        @media(min-width: @media-sm){
            padding-right: @browse_loan-image-holder-margin-right;
            margin-bottom: 0;
            max-width: 630px;
            //flex-basis: 1000px;
        }
        /*@media(min-width: @media-md){
            flex-basis: 2000px;
        }
        @media(min-width: @media-lg-200){
            flex-basis: 3000px;
        }*/
    }
}