﻿@import "../common/_breakpoints";
@import "../common/_brand-colors";

.content-funnel{
    &.funnel-1{
        .content-how-much{
            padding: 90px 0 75px;
            background: -moz-linear-gradient(186deg, #73a828, #1697f2);
            background: -webkit-linear-gradient(186deg, #73a828, #1697f2);
            background: linear-gradient(186deg, #73a828, #1697f2);

            .how-much-title{
                font-size: 38px;
                font-weight: 600;
                line-height: 1.21;
                text-align: center;
                color: @brand-white;
                margin-bottom: 35px;

                @media(min-width: @media-md){
                    font-size: 50px;
                }
            }
        }
        .how-much-form{
            margin-bottom: 25px;
        }
    }
}

.how-much-form .btn {
    width: 100%;
    display: block;
    max-width: 320px;
    font-size: 18px;
    padding: 13px;
    margin: 5px auto 0;
}