﻿.wrapper_body-page {
    min-height: calc(~"100vh - 62px - 254px");
}

.cta-section {
    @small-banners-horizontall-padding: 16px;
    @small-banners-vertical-padding: 41px;

    font-family: 'Work Sans';

    &_section{
        @delimiter-height: 1px;
        @delimiter-width: 59px;

        min-height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 30px 0;

        .cta-logo-icon{
            font-size: 62px;
            line-height: 1;
            margin-bottom: 10px;
        }

        .txt-logo{
            font-size: 34.3px;
            font-weight: 500;
            line-height: 0.81;
            letter-spacing: -2.1px;
            white-space: nowrap;
            text-align: center;
            margin-bottom: 18px;

            span{
                opacity: 0.8;
            }
        }
        .delimiter{
            position: relative;
            padding-bottom: 24px + @delimiter-height;
            margin-bottom: 24px;

            &:after{
                content: '';
                height: @delimiter-height;
                width: @delimiter-width;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -(@delimiter-width/2);
            }
        }
        .desk{
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;

        }
    }
    .btn {
        width: 100%;
        max-width: 270px;
        min-width: auto;
        padding-left: 20px;
        padding-right: 20px;

        &-success {
            line-height: 38px;
        }
    }

    &.brand-gradient{
        .brand-gradient_vertical();
        color: @brand-white;

        .delimiter{
            &:after{
                background: rgba(255, 255, 255, 0.4);
            }
        }

    }

    &.lightgray-bg {
        color: @brand-black;

        .txt-logo{
            color: #0063ad;
            span{
                color: #3f8a02;
                opacity: 1;
            }
        }
        .delimiter{
            &:after{
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }

    &_small {
        padding: @small-banners-vertical-padding @small-banners-horizontall-padding;
        max-width: 240px;

        .cta-logo-icon {
            font-size: 90px;
            line-height: 1;
        }
        &.lightgray-bg {
            .desk {
                margin-left: -8px;
                margin-right: -8px;
            }
        }
    }

    .cta-logo-icon {
        text-align: center;
    }

    &.cta-1,
    &.cta-2 {
        .cta-logo-icon {
            margin-bottom: 35px;
        }

        .desk {
            margin-bottom: 71px;
        }
    }

    &.cta-5,
    &.cta-1 {
        .brand-gradient_vertical();
        color: @brand-white;
    }

    &.cta-3 {
        min-height: 410px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        background-image: url(../images/cta-bg.png);
        background-repeat: no-repeat;
        background-position: top right;

        .desk {
            margin-bottom: 30px;
            width: 100%;
        }
    }

    &.cta-4 {
        padding-bottom: 0;

        .cta-body {
            min-height: 285px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: @small-banners-horizontall-padding;
        }

        .desk {
            font-size: 16px;
            color: rgba(0,0,0,.4);
        }
    }

    .cta-footer {
        margin-left: -(@small-banners-horizontall-padding);
        margin-right: -(@small-banners-horizontall-padding);
        padding: @small-banners-horizontall-padding;
        background: @brand-white;
    }

    &.cta-5 {
        .desk {
            margin: 23px 0 59px;
        }
    }

    .desk {
        font-size: 19px;
    }
}

.medium-plus {
    font-weight: 600;
}

.margin-top-40{
    margin-top: 40px;
}