﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";
@import "../common/font-variables";

//.finance_products:
@finance_products-padding: 50px 0;

/*finance-products.less  ---->*/
.finance_products {
    padding: @finance_products-padding;
    overflow: hidden;

    h2 {
        font-weight: @light;
        margin: 0 0 26px 0;

        @media(min-width: @media-sm) {
            font-size: 36px;
        }
    }

    .grid {
        margin-top: 26px;
    }

    .product_line {
            display: flex;
            align-items: stretch;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: @brand-white;
        }

        
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 2px;
            background: @brand-white;
        }
    }

    .finance_product {
        text-align: center;
        width: 50%;
        padding: 20px 10px;
        min-height: 192px;
        border-right: 2px solid @brand-gray-light;
        border-bottom: 2px solid @brand-gray-light;

        @media(min-width: @media-sm) {
            width: 33.33333%;
        }
        @media(min-width: @media-md) {
            width: 20%;
        }
        &:last-child{
            @media(max-width: (@media-sm - 1px)) {
                border-bottom: none;
            }
            @media screen and (min-width: @media-sm) and (max-width: (@media-md - 1px) ) {
                position: relative;
                
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -2px;
                    width: 2px;
                    background: @brand-gray-light;
                }
            }
        }

        h5,.h5{
            margin: 0;
            font-size: 16px;
            color:  #323232;
            max-width: 154px;
            margin: 0 auto;
            transition: 0.3s ease-in-out;
            display: block;
        }
    }

    .image{
        min-height: 107px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 78px;
        color: @icon-color-success;

        /*.home-sprite{
            margin: 0 auto;
        }*/
    }
    a{
        &:focus{
            text-decoration: none;
            h5,.h5{
                text-decoration: underline;
            }
        }
        &:hover{
            h5,.h5{
                color: @link-color;
            }
            
        }
    }


}

.finance_product{
    a{
        outline: none;
        &:hover{
            /*h5{
                color: @link-color;
            }*/
        }
    }
}
