﻿.stitches-home-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.home-sprite {
    background-image: url(../images/home-spritesheet.png);    
    background-repeat: no-repeat;
    display: block;
    @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
        background-image: url(../images/home-spritesheet2x.png);  
        background-size: 1356px 1424px;
    }

    &.ref-sprite-sba-loans {
        .stitches-home-sprite(-1015px, -1015px, 71px, 75px);
    }

    &.ref-sprite-cards {
        .stitches-home-sprite(0, 0, 82px, 55px);
    }

    &.ref-sprite-cash {
        .stitches-home-sprite(-82px, -55px, 82px, 67px);
    }

    &.ref-sprite-document {
        .stitches-home-sprite(-164px, -122px, 58px, 76px);
    }

    &.ref-sprite-dollar {
        .stitches-home-sprite(-222px, -198px, 33px, 60px);
    }

    &.ref-sprite-dollar-circle {
        .stitches-home-sprite(-255px, -258px, 91px, 91px);
    }

    &.ref-sprite-easy {
        .stitches-home-sprite(-346px, -349px, 66px, 66px);
    }

    &.ref-sprite-equil {
        .stitches-home-sprite(-412px, -415px, 72px, 82px);
    }

    &.ref-sprite-equipment {
        .stitches-home-sprite(-483px, -497px, 72px, 66px);
    }

    &.ref-sprite-funding {
        .stitches-home-sprite(-555px, -563px, 94px, 81px);
    }

    &.ref-sprite-high {
        .stitches-home-sprite(-649px, -644px, 73px, 61px);
    }

    &.ref-sprite-line-of-credit {
        .stitches-home-sprite(-722px, -705px, 88px, 87px);
    }

    &.ref-sprite-list-check-clock {
        .stitches-home-sprite(-810px, -792px, 80px, 103px);
    }

    &.ref-sprite-personal-loans {
        .stitches-home-sprite(-890px, -895px, 69px, 64px);
    }

    &.ref-sprite-phone {
        .stitches-home-sprite(-959px, -959px, 56px, 56px);
    }

    &.ref-sprite-short-term-loan {
        .stitches-home-sprite(-1086px, -1090px, 68px, 87px);
    }

    &.ref-sprite-startup {
        .stitches-home-sprite(-1154px, -1177px, 44px, 65px);
    }

    &.ref-sprite-term-loan {
        .stitches-home-sprite(-1198px, -1242px, 67px, 84px);
    }
    &.ref-sprite-percent-small {
        .stitches-home-sprite(-1265px, -1326px, 23px, 21px);
    }
    &.ref-sprite-calendar-small {
        .stitches-home-sprite(-1288px, -1347px, 27px, 25px);
    }
    &.ref-sprite-clock-small {
        .stitches-home-sprite(-1315px, -1372px, 26px, 26px);
    }
    &.ref-sprite-dollar-small {
        .stitches-home-sprite(-1341px, -1398px, 15px, 26px);
    }
}
