﻿@import "common/_breakpoints";

.loading-form-ng {
    height: 244px;
    width: 100%;
    background: rgba(255,255,255,.9);
    border-radius: 4px;
    position: relative;

    @media(min-width: @media-sm) {
        height: 62px;
    }

}

.spinner-ng,
.spinner-ng:before,
.spinner-ng:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.spinner-ng {
  color: rgba(57, 181, 73,0.7);
  font-size: 8px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -1.25em;
}
.spinner-ng:before,
.spinner-ng:after {
  content: '';
  position: absolute;
  top: 0;
}
.spinner-ng:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner-ng:after {
  left: 3.5em;
}