﻿.menu-opened {
    .burger-menu {
        &:before, &:after {
            opacity: 1;
        }
    }
    .btn-burger{
        @media(min-width: @media-md) {
            font-weight: 500;
        }
    }
}

.menu-header-menu-container {
    display: none;

    @media(min-width: @media-md) {
        display: inline-block;
    }

    ul {
        margin-bottom: 0;
    }
}

.main-menu {
    width: 100%;
    -moz-transition: right .2s ease-in;
    -webkit-transition: right .2s ease-in;
    transition: right .2s ease-in;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    display: none;

    .panel-options {
        float: left;
        text-align: left;
        width: 100%;
        margin-top: 50px;

        @media(max-width: @media-sm) {
            margin-top: 30px;
        }

        a {
            margin: 0;
        }
    }

    a {
        transition-duration: 0s !important;
    }

    .menu-main-menu-container {
        max-height: calc(~"100vh - 49px");
        overflow: hidden;
        overflow-y: auto;

        @media(min-width: @media-sm) {
            overflow: visible;
            max-height: none;
        }

        ul {
            &.menu {

                @media(min-width: @media-sm) {
                    /*text-align: justify;
                    font-size: 1px;*/
                    
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                            justify-content: space-between;
                }

                &:after {
                    /*width: 100%;
                    height: 0;
                    visibility: hidden;
                    overflow: hidden;
                    content: '';
                    display: inline-block;*/
                }

                > li > a {
                    text-align: center;
                    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

                    @media(min-width: @media-sm) {
                        box-shadow: none;
                    }
                }
            }

            li {
                a, span {
                    display: block;
                    color: #000;
                    font-size: 16px;
                    cursor: pointer;
                    pointer-events: auto;

                    @media(min-width: @media-sm) {
                        text-align: left;
                        text-align-last: left;
                    }
                }
            }
        }

        > ul > li {
            @media(min-width: @media-sm) {
                /*display: inline-block;*/
            }

            &:nth-child(1), &:nth-child(2) {
                @media(min-width: @media-md) {
                    display: none;
                }
            }

            &:first-child {
                @media(min-width: @media-sm) {
                    padding-left: 0;
                }
            }

            &:last-child {
                @media(min-width: @media-sm) {
                    padding-right: 0;
                }
            }

            > a {
                text-align: left;
                padding-top: 17px;
                padding-bottom: 17px;
                text-align: center;
            }

            &.menu-item-has-children {
                .sub-menu {
                    list-style: none;
                    padding: 0;
                    padding: 10px 0;
                    background-color: #fff;
                    display: none;
                    text-align: center;
                    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

                    @media(min-width: @media-sm) {
                        box-shadow: none;
                        border: 1px solid #e8e8e8;
                        position: absolute;
                        top: calc(~"100% + 20px");
                        left: 0;
                        padding: 25px 30px;
                        width: 100%;
                        min-width: 340px;
                    }

                    &:before {
                        @media(min-width: @media-sm) {
                            content: '';
                            position: absolute;
                            top: -18px;
                            left: 30px;
                            border: 7px solid transparent;
                            border-bottom: 10px solid rgba(0,0,0,0.2);
                            opacity: 1;
                        }
                    }

                    &:after {
                        @media(min-width: @media-sm) {
                            content: '';
                            position: absolute;
                            top: -17px;
                            left: 30px;
                            border: 7px solid transparent;
                            border-bottom: 10px solid #fff;
                            opacity: 1;
                        }
                    }

                    li {
                        &.current-item {
                            a {
                                font-weight: bold;
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }
    }

    .close {
        position: absolute;
        top: 47px;
        right: 43px;
        z-index: 9;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            opacity: 1;
        }

        .fa {
            color: #FFF;
            font-size: 28px;
        }
    }

    ul {
        li {
            a {
                &:hover {
                    font-weight: 500;
                }
            }

            &.menu-item-has-children {
                &.opened {
                    > a {
                        font-weight: 500;
                    }
                }
            }
        }

        > li {
            &.menu-item-has-children {
                position: relative;
                pointer-events: none;
            }
        }
    }
}
.menu-item-has-children{
    &.opened {
        > a {
            &:after {
                .rotate(-180deg);
                top: 1px;
            }
        }
    }
    > a{
        &:after{
            content: "\f107";
            text-decoration: none;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #000;
            cursor: pointer;
            text-align: center;
            pointer-events: all;
            margin-left: 10px;
            position: relative;
            top: 1px;
            transition: 0.3s ease-in-out;
        }
    }
} 
.menu-main-menu-container {
    ul{
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
    li {
        a {
            position: relative;
            z-index: 1;
        }
    }

    .sub-menu {
        font-family: 'Work Sans';

        a {
            padding: 3px 0;
        }
    }
}


.sub-menu {
    display: none;

    @media(min-width: @media-sm) {
        min-width: 340px;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
        }
    }
    &.col-2 {

        @media(min-width: @media-sm) {
            width: 580px !important;
            text-align: left;
        }

        .title-col {
            font-size: 16px;
            font-weight: 500;
            opacity: 0.4;
            color: #000;
            margin-bottom: 5px;
            text-transform: uppercase;

            @media(min-width: @media-sm) {
                text-align: left;
            }

            .title{
                padding: 3px 0;
                cursor: default;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                a {
                    @media(min-width: @media-sm) {
                        padding: 3px 0 !important;
                    }
                }
            }
        }

        .col {
            @media(min-width: @media-sm) {
                float: left;
                width: 50%;
            }

            &:nth-child(odd) {
                @media(min-width: @media-sm) {
                    padding-right: 10px;
                }
            }

            &:nth-child(even) {
                @media(min-width: @media-sm) {
                    padding-left: 10px;
                }
            }
            &:nth-child(2n+3) {
                @media(min-width: @media-sm) {
                    clear: both;
                }
            }
            &:nth-child(1n+3) {
                @media(min-width: @media-sm) {
                    margin-top: 15px;
                }
            }
        }
    }
}

ul {
    > li {
        &.menu-item-has-children {
            .sub-menu {
                li {
                    padding: 4px 0 3px;
                }

                a {
                    color: #000;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .page-contact-area form .form-btn {
        text-align: center;
    }
}
