﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";
@import "../common/font-variables";
@import "../common/_mixins";

@padding-width-scroll: 17px;

//modal:
@modal-padding: 15px;

//.modal-footer:
@modal-footer-padding-top: 20px;
@modal-footer-padding-bottom: 25px;
@modal-footer-border: 2px solid @brand-gray-light;

// .modal-dialog:
@modal-dialog-width: 650px;
@modal-dialog-margin: 40px auto 20px auto;

//.title-modal
@title-modal-font-size: 30px;
@title-modal-max-width: 475px;

/* modal.less --->*/

body.modal-open {
    overflow: hidden !important;
    position: relative;
    height: 100%;

    .wrapper-cm {
        position: relative;
        height: 100%;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000; /* more then <header> */
    background-color: #000;

    &.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    &.in {
        opacity: .5;
        filter: alpha(opacity=50);
    }
}


.fix-modal-ios {
    .modal-backdrop {
        opacity: 0;
    }

    .wrapper-cm {
        z-index: 10001;
    }

    .modal {
        background-color: rgba(0,0,0,0.5);
    }
}


.modal-inner {
    margin-bottom: 50px;

    .left-col-content {
        padding-top: 40px;
        line-height: 150%;
    }
}

/*close button styles*/
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10001;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    &.fade{
        .modal-dialog {
            -webkit-transform: translate(0, -25%);
            -ms-transform: translate(0, -25%);
            -o-transform: translate(0, -25%);
            transform: translate(0, -25%);
            -webkit-transition: -webkit-transform 0.3s ease-out;
            -o-transition: -o-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
            transition: opacity .15s linear;
            opacity:0;
        }
    }

    &.in{
        .modal-dialog{
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity:1;
        }
    }
}

.modal-dialog {
    max-width: @modal-dialog-width;
    margin: 0 auto;
    margin: @modal-dialog-margin;
}

.modal-content {
    font-family: 'Work Sans',sans-serif;
    border: none;
    background: @brand-white;
    margin: 0 15px;

    @media(min-width: @media-sm) {
        margin: 0;
    }

    .title-modal {
        margin-top: 0;
        font-size: @title-modal-font-size;
        font-weight: @light;
        max-width: @title-modal-max-width;
        margin-left: auto;
        margin-right: auto;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .btn-success {
        display: block;
        width: 100%;
        height: 58px;
        max-width: 293px;
        margin: 0 auto;
        padding: 0;
        border-radius: 30px;
    }
}

.modal-header {
    text-align: center;
    color: @brand-white;
    border: none;
    color: @brand-black;
    padding: @modal-padding;
    position: relative;

    @media(min-width: @media-sm) {
        padding: (@modal-padding * 2);
    }

    h4 {
        color: inherit;
        margin-top: 0;
    }

    p {
        color: inherit;
        font-size: 18px;
        line-height: 1.2;
    }

    .close {
        position: absolute;
        top: -1px;
        right: 7px;
        transition: .3s ease-in-out;
        cursor: pointer;
        color: rgba(0,0,0,.9);
        font-size: 31px;
        opacity: .4;
        z-index: 2;

        &:hover {
            opacity: 0.8;
        }
    }

    .line-success-bottom {
        padding-bottom: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -31.5px;
            height: 3px;
            width: 63px;
            background: #1e5799;
            background: -moz-linear-gradient(top,#1e5799 0%,#3ab44b 0%,#0285c3 100%);
            background: -webkit-linear-gradient(top,#1e5799 0%,#3ab44b 0%,#0285c3 100%);
            background: linear-gradient(to bottom,#1e5799 0%,#3ab44b 0%,#0285c3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799',endColorstr='#0285c3',GradientType=0);
        }
    }

    :last-child {
        margin-bottom: 0;
    }
}

.modal-body {
    padding: 0 @modal-padding @modal-padding @modal-padding;

    @media(min-width: @media-sm) {
        padding-left: (@modal-padding * 2);
        padding-right: (@modal-padding * 2);
    }

    .brand-logo {
        font-size: inherit;
    }

    h3 {
        font-size: 20px;
    }

    label {
        font-size: 14px;
    }

    input {
        &:focus {
            .placeholder(0);
        }
    }
}

.modal-footer {
    border-top: @modal-footer-border;
    /*padding-top: @modal-footer-padding-top;
    padding-bottom: @modal-footer-padding-bottom;*/
    padding: @modal-footer-padding-top 15px @modal-footer-padding-bottom 15px;
}

.pretitle-modal h3 {
    margin-bottom: 5px !important;
}

.modal-open {
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }

    body {
        @media(min-width: @media-md) {
            padding-right: @padding-width-scroll;
        }
    }

    .header-panel {
        @media(min-width: @media-md) {
            padding-right: @padding-width-scroll;
        }
    }
}

.description {
    width: 100%;
    font-size: 10px;
    text-align: left;
    color: #777;
    margin-bottom: 20px;

    a {
        color: @brand-success;
    }
}
