﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";
@import "../common/_mixins";
@import "../common/font-variables";

@options-block-padding-top: 145px;
@options-block-padding-bottom: 85px;

//.btn-default-success:
@btn-default-success-bg: @brand-white;
@btn-default-success-color: #408800;

/* options-block.less -----> */

.options-block{
    padding: 50px 0;
    color: @brand-white;
    position: relative;
    background: url(../images/opt-dollars.png)no-repeat center center / 55% auto,
                url(../images/opt-background.png)no-repeat center center / cover;

    @media(min-width: @media-sm){
        padding: @options-block-padding-top 0 @options-block-padding-bottom 0;
    }
    @media(min-width: @media-lg){
        background: url(../images/opt-dollars.png)no-repeat center center / 815px auto,
                    url(../images/opt-background.png)no-repeat center center / cover;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: -moz-linear-gradient(186deg, #73a828, #1697f2);
        background: -webkit-linear-gradient(186deg, #73a828, #1697f2);
        background: linear-gradient(186deg, #73a828, #1697f2);
        opacity: .9;
    }

    > div{
        position: relative;
        z-index: 1;
    }

    h2{
        font-weight: @light;
        margin-top: 0;
        margin-bottom: 38px;
    }

    p{
        opacity: 0.7;
        margin-bottom: 15px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .btn{
        margin-top: 50px;
    }
}

.btn-default-success{
    line-height: 38px;
    color: @btn-default-success-color;
    background: @btn-default-success-bg;
    min-width: 270px;

    &:focus{
        background: darken(@btn-default-success-bg, 15%);
        color: darken(@btn-default-success-color, 15%);
    }

    &:hover{
        background: darken(@btn-default-success-bg, 10%);
        color: darken(@btn-default-success-color,10%);
    }

    &:active{
        background: darken(@btn-default-success-bg, 20%);
        color: lighten(@btn-default-success-color,10%);
        box-shadow: none;
    }
}
