﻿.search-results-section {
  background-color: #f6f6f6;
  text-align:center;
  padding: 30px 0 45px;
  .searchform {
      background: transparent;

      div{
          background: transparent;
      }
  }
}

.search-results {
    padding-bottom: 0 !important;
}
@media(min-width: 768px) {
    .search-no-results .search-results-section{
        min-height: calc(~"100vh - 369px");
    }
    
}

@media(min-width: 992px) {
    .search-no-results .search-results-section{
        min-height: calc(~"100vh - 317px");
    }
}

.search-results-section .searchform::after,
.search-results-section .searchform::before{
  display:none;
}
.subsectiontitle {
  font-size: 16px;
  color: #000000;
  margin:0 0 9px;
  font-family: 'Work Sans', sans-serif;
}
.search-results-section .searchform  label {
  display:none;
}
.search-results-section .searchform input[name='s']{
  font-family: 'Work Sans', sans-serif;
  max-width: 400px;
  background: #fff;
  height: 40px;
  padding: 0 14px;
  line-height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
  opacity: 1;
}

.search-results-section .searchform div {
    padding: 0;
}
.countOfWrapper {
  float:left;
  margin:13px 0 0;
}
.countOfWrapper p {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  font-family: 'Work Sans', sans-serif;
}
.search .post{
  float:left;
  width:100%;
  width:100%;

  padding:0 0 13px;
  margin:0 0 3px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.search  .post:last-child{
  padding:0;
  margin:0;
  border-bottom:none;
}
.search .post h2{
  font-weight:normal;
  margin:0;
  padding:0;
}
.post h2 a{
  font-size: 18px;
  font-weight: 700;
  color: #0284c3;
  font-family: 'Work Sans', sans-serif;
}
.entry-content {
  word-wrap:break-word;
}
.entry-content p{
  margin:0;
}