﻿.content-aside-holder {
    background: #f5f5f5;
    padding: 12px 15px 0 15px;
    margin: 15px -15px 0 -15px;
    @media(min-width: 480px) {
        padding: 20px;
    }
    @media(min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
    @media(min-width: 992px) {
        margin-bottom: 20px;
    }
    @media(min-width: 1199px) {
        padding: 15px;
    }

    .vert_banner {
        margin: 10px auto 0 auto;
    }
}
.content-aside {
    font-family: 'Work Sans';

    @media (max-width: 1199px) and (min-width: 540px){
        -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px; 
        -moz-column-gap: 40px; 
            column-gap: 40px;
    }

    .content-aside-items {
        @media (max-width: 1199px) and (min-width: 540px){
            display: inline-block;
            width: 100%;
        }
    }
    .aside-item-row {
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        display: flex; 
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; 
        .imate-image {
            margin: 5px 10px 5px 0;
            width: 54px;
            max-height: 54px;
            overflow: hidden;
            -ms-flex: none;
            -webkit-flex: none;
            flex: none;
        }
        .item-title {
            white-space: normal;
            font-size: 16px;
            display: block;
            /*max-height: 60px;*/
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            margin: 0;
            a {
                color: #000000;
                &:hover{
                    color: @link-color;
                    opacity: 0.9;
                }
            }
        }
    }

    .item-title a {
        line-height: 1.2;

        &:hover{
            color: @link-color;
        }
    }
}

.content-aside-extend .content-aside-items,
.content-aside .content-aside-items {
  margin: 0 0 37px;
}
.content-aside-extend .item-wraper, 
.content-aside .item-wraper {
  border-bottom: 1px solid #a1a1a1;
}

.content-aside-extend .item-title-primary, 
.content-aside-extend .content-our-culture .tab-content .item-title, 
.content-our-culture .tab-content .content-aside-extend .item-title, 
.content-aside-extend .content-our-culture .tab-content .content-blog .item-title-primary, 
.content-our-culture .tab-content .content-blog .content-aside-extend .item-title-primary, 
.content-aside-extend .content-blog .content-our-culture .tab-content .item-title-primary, 
.content-blog .content-our-culture .tab-content .content-aside-extend .item-title-primary, 
.content-aside .item-title-primary, 
.content-aside .content-our-culture .tab-content .item-title, 
.content-our-culture .tab-content .content-aside .item-title, 
.content-aside .content-our-culture .tab-content .content-blog .item-title-primary, 
.content-our-culture .tab-content .content-blog .content-aside .item-title-primary, 
.content-aside .content-blog .content-our-culture .tab-content .item-title-primary, 
.content-blog .content-our-culture .tab-content .content-aside .item-title-primary {
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 1.1;
    color: #000000;
    font-size: 20px;
}
.content-aside-extend .item-title, 
.content-aside-extend .content-blog .item-title-primary, 
.content-blog .content-aside-extend .item-title-primary, 
.content-aside-extend .content-blog .content-our-culture .tab-content .item-title, 
.content-blog .content-our-culture .tab-content .content-aside-extend .item-title, 
.content-aside-extend .content-our-culture .tab-content .content-blog .item-title, 
.content-our-culture .tab-content .content-blog .content-aside-extend .item-title, 
.content-aside .item-title, .content-aside .content-blog .item-title-primary, 
.content-blog .content-aside .item-title-primary, 
.content-aside .content-blog .content-our-culture .tab-content .item-title, 
.content-blog .content-our-culture .tab-content .content-aside .item-title, 
.content-aside .content-our-culture .tab-content .content-blog .item-title, 
.content-our-culture .tab-content .content-blog .content-aside .item-title {
    font-size: 18px;
    line-height: 1.4;
    margin: 18px 0 8px;
    color: #000;
    font-weight: 500;
}

.content-aside-extend .item-title a,
.content-aside-extend .content-blog .item-title-primary a,
 .content-blog .content-aside-extend .item-title-primary a,
 .content-aside-extend .content-blog .content-our-culture .tab-content .item-title a,
 .content-blog .content-our-culture .tab-content .content-aside-extend .item-title a,
 .content-aside-extend .content-our-culture .tab-content .content-blog .item-title a,
 .content-our-culture .tab-content .content-blog .content-aside-extend .item-title a,
 .content-aside .item-title a,
 .content-aside .content-blog .item-title-primary a,
 .content-blog .content-aside .item-title-primary a,
 .content-aside .content-blog .content-our-culture .tab-content .item-title a,
 .content-blog .content-our-culture .tab-content .content-aside .item-title a,
 .content-aside .content-our-culture .tab-content .content-blog .item-title a,
 .content-our-culture .tab-content .content-blog .content-aside .item-title a {
    color: inherit;
    display: block;
}

.content-aside-extend .item-title a:hover,
.content-aside-extend .content-blog .item-title-primary a:hover,
 .content-blog .content-aside-extend .item-title-primary a:hover,
 .content-aside-extend .content-blog .content-our-culture .tab-content .item-title a:hover,
 .content-blog .content-our-culture .tab-content .content-aside-extend .item-title a:hover,
 .content-aside-extend .content-our-culture .tab-content .content-blog .item-title a:hover,
 .content-our-culture .tab-content .content-blog .content-aside-extend .item-title a:hover,
 .content-aside .item-title a:hover,
 .content-aside .content-blog .item-title-primary a:hover,
 .content-blog .content-aside .item-title-primary a:hover,
 .content-aside .content-blog .content-our-culture .tab-content .item-title a:hover,
 .content-blog .content-our-culture .tab-content .content-aside .item-title a:hover,
 .content-aside .content-our-culture .tab-content .content-blog .item-title a:hover,
 .content-our-culture .tab-content .content-blog .content-aside .item-title a:hover {
    opacity: 0.7;
}

.blog-content-holder {
    overflow: hidden;
    @media(min-width: 1200px) {
        padding-right: 65px;
    }
}

.content-aside-extend .item-author, 
.content-aside .item-author {
  margin: 8px 0 10px;
  font-size: 14px;
}
.content-aside-extend .imate-image, .content-aside .imate-image {
  margin: 8px 0;
}
.content-aside-extend .item-text, .content-aside .item-text {
  margin: 8px 0 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #777777;
}
.content-aside-extend ul, 
.content-aside ul {
    margin: 0 0 27px;
    padding: 8px 0 0 1px;
    list-style: none;
    @media(min-width: 540px) {
        margin-bottom: 0;
    }
    @media(min-width: 1199px) {
        margin-bottom: 27px;
    }

    li{
        font-size: 16px;
        line-height: 1.25;
        color: #000000;
        padding: 7px 0;
        a{
            color: @link-color;
            &:hover{
                color: lighten(@link-color,10%);
                opacity: 0.9;
                display: none;
            }
        }

        &:before{
            content: "\00b7";
            font-size: 28px;
            vertical-align: bottom;
            line-height: 19px;
            margin-right: 7px;
            color: rgba(0, 0, 0, 0.4);
        }
    }
}
