﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";

@item-title-color: #323232;
@item-description-color: #565454;
/*.steps-item.less -----> */


.steps-list-wraper {
    padding: 50px 0;

    @media(min-width: @media-sm){
        padding: 90px 0;
    }    
}

.steps-items{
    text-align: center; 

    .item{
        &-title {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.1px;
            color: @item-title-color;
            max-width: 370px;
            margin: 0 auto;
        }
        &-description{
            font-size: 16px;
            line-height: 1.38;
            letter-spacing: -0.3px;
            text-align: center;
            color: @item-description-color;
            max-width: 370px;
            margin: 8px auto 0 auto;
        }
        &-step-number{
            width: 22px;
            height: 22px;
            background: #d0eafd;
            color: @brand-white;
            margin: -22px auto 20px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
        }

        margin-bottom: 40px;

        @media(min-width: @media-sm){
            margin-bottom: 0;
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
        &:after{
            @media(min-width: @media-sm){
                content: '';
                position: absolute;
                top: 15%;
                left: 100%;
                transform: translateX(-50%);
                width: 110px;
                height: 22px;
                background: url(../images/item-arrow.png) no-repeat center center;
                background-size: 110px auto;
            }
            @media(min-width: @media-md){
                width: 162px;
                height: 22px;
                background-size: 162px auto;
            }
        }
    }

    .item-image{
        min-height: 103px;
        margin-bottom: 10px;
        font-size: 100px;
        color: @icon-color-success;
    }
}