﻿@import "../common/_brand-colors";
@import "../common/_breakpoints";
@import "../common/font-variables";


//.user-feedback:
@user-feedback-padding-top: 35px;
@user-feedback-padding-bottom: 45px;
@user-feedback-padding: @user-feedback-padding-top 0 @user-feedback-padding-bottom;

@user-feedback_image-size: 294px;
@user-feedback_image-margin-top: 25px;

@user-feedback-link-color: @link-color;

/* user-feedback.less ---->*/

.user-feedback{
    padding: @user-feedback-padding;
    position: relative;
    text-align: center;
    @media(min-width: @media-sm){
        text-align: left;
    }
    @media(min-width: @media-md){
        padding: (@user-feedback-padding-top + 55px) 0 (@user-feedback-padding-bottom + 65px);
    }

    h3{
        font-weight: @light;
        line-height: 1.29;
        color: @brand-black;
        margin: 0 0 18px 0;

        @media(min-width: @media-sm){
            font-size: 28px;
        }
    }
    .user-feedback_photo{
        //margin-top: 20px;
        width: @user-feedback_image-size - 10px;
        height: @user-feedback_image-size - 10px;
        background: #d8d8d8;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: @user-feedback_image-margin-top;
        @media(min-width: @media-sm){
            /*margin-top: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;*/
            width: @user-feedback_image-size;
            height: @user-feedback_image-size;
            margin-top: 0;
        }
        img{
            margin-top: 20px;
            /*margin-bottom: -(@user-feedback-padding-bottom);
            @media(min-width: @media-sm){
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 75%;
                margin-bottom: 0;
            }
            @media(min-width: @media-md){
                max-width: 100%;
            }*/
        }
    }
}

.user-feedback_name{
    font-size: 22px;
    color: @brand-black;
    font-weight: @medium;
    margin-bottom: 4px;
    ~ a{
        color: @user-feedback-link-color;

        &:hover{
            color: darken(@user-feedback-link-color,10%);
        }
        &:active{
            color: lighten(@user-feedback-link-color,10%);
        }
    }
}