﻿@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  line-height: 1;
  color: #000;
}
ol,
ul {
  list-style: none;
}
.wrapper {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .wrapper {
    padding-top: 140px;
    justify-content: flex-start;
  }
}
.h2 {
  font-weight: 300;
  font-size: 33px;
  margin-bottom: 18px;
  line-height: 1.15;
}
.center-block {
  margin: 0 auto;
  display: block;
}
.logo {
  margin-bottom: 50px;
}
.wrapper-content {
  width: 100%;
  max-width: 540px;
  padding: 35px 30px 60px;
  background-color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .wrapper-content {
    padding: 35px 65px 60px;
  }
}
@media (min-width: 768px) {
  .align-block {
    transform: translateY(-10%);
  }
}
p {
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 15px;
}
.logo-for-redirect img {
  max-width: 181px;
  height: auto;
}
.line-success_bottom {
  position: relative;
  padding-bottom: 23px;
  margin-bottom: 30px;
}
.line-success_bottom:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 63px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #408800;
}
.line-success_bottom :last-child {
  margin: 0;
}