/*Styles for under_constraction*/
.under_constraction_page {
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  position: relative;
  width: 100%;
}

.under_constraction_page:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 20%;
  right: 0;
  left: 0;
}

.under_constraction_page:after {
  position: absolute;
  content: "";
  background-image: url("../assets/images/under_banner_before.png");
  top: 80%;
  right: 0;
  left: 0;
  height: 41px;
  background-repeat: repeat;
  opacity: .9;
  margin-top: -.5px;
}

.under_constraction_page .caption {
  position: absolute;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 39%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.under_constraction_page .caption .logo {
  max-width: 748px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 85px;
  display: block;
}

.under_constraction_page .caption .logo img {
  width: 100%;
}

.under_constraction_page .caption .title {
  font-size: 42px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Dosis";
  font-weight: bold;
  letter-spacing: 2.2px;
  margin-bottom: 25px;
  padding: 0 15px;
}

.under_constraction_page .caption .subtitle {
  max-width: 630px;
  margin: 0 auto;
  font-size: 24px;
  opacity: .5;
  color: #fff;
  font-family: "Open Sans";
  text-align: center;
  line-height: 1.3;
  padding: 0 15px;
}

.under_constraction_page .caption .form {
  max-width: 814px;
  padding: 0 15px;
  margin: 85px auto;
}

.under_constraction_page .caption .go_home {
  margin-top: 55px;
  font-size: 24px;
  color: #0084c4;
  font-family: "Open Sans";
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.under_constraction_page .caption .go_home:hover {
  color: #fff;
}

.under_constraction_page .caption form .how-much-search {
  float: left;
  width: 60%;
}

.under_constraction_page .caption form .how-much-search .field-input {
  height: 80px;
  border-radius: 5em 0 0 5em;
  padding: 0 40px;
  font-size: 16px;
  width: 100%;
  color: #444444;
}

.under_constraction_page .caption form .how-much-button {
  float: left;
  width: 40%;
}

.under_constraction_page .caption form .how-much-button .field-button {
  width: 100%;
  height: 80px;
  border-radius: 0 5em 5em 0;
  font-size: 32px;
  font-family: "Dosis", serif;
  outline: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (max-width: 1366px) {
  .under_constraction_page {
    padding-top: 25px;
  }

  .under_constraction_page .caption .logo {
    max-width: 550px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .under_constraction_page .caption .form {
    margin: 30px auto;
  }

  .under_constraction_page .caption .go_home {
    margin-bottom: 25px;
  }
}
@media (min-width: 1025px) {
  .under_constraction_page {
    overflow: hidden;
  }
}
@media (max-width: 1024px) {
  .under_constraction_page .caption .logo {
    max-width: 630px;
    margin-bottom: 25px;
  }

  .under_constraction_page .caption .form {
    margin: 25px auto;
  }

  .under_constraction_page .caption .go_home {
    margin-top: 25px;
  }
}
@media (max-width: 991px) {
  .under_constraction_page {
    min-height: 100vh;
    padding-bottom: 100px;
    height: 100%;
  }

  .under_constraction_page .caption {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    padding: 30px 0;
  }

  .under_constraction_page .caption form .how-much-search,
  .under_constraction_page .caption form .how-much-button {
    float: none;
    margin: 15px auto;
  }

  .under_constraction_page .caption form .how-much-search {
    width: 100%;
  }

  .under_constraction_page .caption form .how-much-search .field-input {
    border-radius: 5em;
  }

  .under_constraction_page .caption form .how-much-button {
    width: 100%;
  }

  .under_constraction_page .caption form .how-much-button .field-button {
    border-radius: 5em;
  }
}
@media (max-width: 767px) {
  .under_constraction_page .caption .logo {
    max-width: 430px;
    margin-bottom: 20px;
  }

  .under_constraction_page .caption .title {
    font-size: 36px;
  }

  .under_constraction_page .caption .subtitle {
    font-size: 20px;
  }

  .under_constraction_page .caption .form {
    margin: 25px auto;
  }

  .under_constraction_page .caption .go_home {
    margin-top: 20px;
  }
}
@media (max-width: 670px) {
  .under_constraction_page {
    min-height: 100vh;
    height: 100%;
    padding-bottom: 100px;
  }

  .under_constraction_page:before, .under_constraction_page:after {
    display: none;
  }

  .under_constraction_page .caption {
    position: static;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    padding: 50px 0 10px;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
  }

  .under_constraction_page .caption:before {
    position: absolute;
    content: "";
    background-image: url("../assets/images/under_banner_before.png");
    top: 100%;
    right: 0;
    left: 0;
    height: 30px;
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.9;
  }

  .under_constraction_page .caption .logo {
    max-width: 380px;
    margin-bottom: 25px;
  }

  .under_constraction_page .caption .title {
    font-size: 36px;
  }

  .under_constraction_page .caption .subtitle {
    font-size: 20px;
  }

  .under_constraction_page .caption .form {
    margin: 25px auto;
  }

  .under_constraction_page .caption .go_home {
    margin-top: 25px;
  }

  .under_constraction_page .caption form .how-much-search,
  .under_constraction_page .caption form .how-much-button {
    float: none;
    margin: 15px auto;
  }

  .under_constraction_page .caption form .how-much-search {
    width: 100%;
  }

  .under_constraction_page .caption form .how-much-search .field-input {
    border-radius: 5em;
    height: 50px;
  }

  .under_constraction_page .caption form .how-much-button {
    width: 100%;
  }

  .under_constraction_page .caption form .how-much-button .field-button {
    border-radius: 5em;
    height: 50px;
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .under_constraction_page .caption form .how-much-search .field-input {
    padding: 0 15px;
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .under_constraction_page .caption .logo {
    max-width: 380px;
    margin-bottom: 25px;
    padding: 0 20px;
  }

  .under_constraction_page .caption .title {
    font-size: 36px;
  }

  .under_constraction_page .caption .subtitle {
    font-size: 20px;
  }

  .under_constraction_page .caption .form {
    margin: 25px auto;
  }

  .under_constraction_page .caption .go_home {
    font-size: 18px;
  }
}
/* partners1 styles */
.partner1 {
  background-size: cover;
  background-position: 50%;
  padding: 80px 0;
}

.partner1 .container {
  max-width: 1200px;
  width: 100%;
}

.partner1 .container .form {
  background: #fff;
  border-radius: 15px;
  padding: 25px 50px 40px;
  max-width: 670px;
  margin: 0 auto;
}

.partner1 .container .form .form-title {
  text-transform: uppercase;
  font-family: "Dosis";
  font-size: 32px;
  color: #444;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2.4px;
}

.partner1 .container .form .form-title span {
  color: #0084c4;
}

.partner1 .container .form form {
  padding-top: 43px;
}

.partner1 .container .form form .col-md-6,
.partner1 .container .form form .col-md-12 {
  margin-bottom: 21px;
}

.partner1 .container .form form label {
  display: block;
  color: #777;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 10px;
}

.partner1 .container .form form input[type="text"],
.partner1 .container .form form input[type="email"],
.partner1 .container .form form input[type="tel"],
.partner1 .container .form form input[type="password"],
.partner1 .container .form form select {
  width: 100%;
  height: 43px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #c2c2c2;
  /*margin-bottom: 21px;*/
  outline: none;
  padding: 0 10px;
}

.partner1 .container .form form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  padding-right: 30px;
  background: url("../assets/images/arrow.png") no-repeat;
  background-position: -webkit-calc(100% - 10px);
  background-position: calc(100% - 10px);
}

.partner1 .container .form form select::-ms-expand {
  display: none;
}

.partner1 .container .form form input[type="password"] {
  max-width: 100%;
}

.partner1 .container .form form input[type="submit"] {
  width: 100%;
  margin-top: 34px;
  border-radius: 25px;
  background: #0084C4;
  color: #fff;
  text-align: center;
  display: block;
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 18px;
  font-family: "Dosis";
  -webkit-transition: all .4s;
  transition: all .4s;
}

.partner1 .container .form form input[type="submit"]:hover {
  background: #005078;
}

.partner1 .container .form form p {
  text-align: center;
  color: #777;
  font-size: 12px;
  font-family: "Open Sans";
}

.partner1 .container .form form p a {
  color: #0084C4;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.partner1 .container .form form p a:hover {
  color: #005078;
}

.partner1 .container .logo {
  margin-bottom: 40px;
  margin-top: 20px;
  display: block;
}

.partner1 .container .main-title {
  font-family: "Dosis";
  font-size: 60px;
  color: #ACACAC;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.partner1.partner2 .container .main-title,
.partner1.partner2 .container p,
.partner1.partner2 .container .subtitle {
  color: #fff;
}

.partner1 .container .subtitle {
  text-transform: uppercase;
  font-size: 25px;
  color: #39B549;
  font-family: "Dosis";
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 35px;
  margin-top: 0;
}

.partner1 .container p {
  margin-top: 26px;
  color: #ACACAC;
  margin-bottom: 0;
  font-size: 24px;
  font-family: "Dosis";
}

.partner1 .jq-selectbox {
  width: 100%;
  height: 43px;
}

.partner1 .jq-selectbox__select:focus {
  outline: none;
  border: none;
}

.partner1 .jq-selectbox__select {
  background: transparent;
  height: 43px;
  line-height: 43px;
  box-shadow: none;
}

.partner1 .jq-selectbox__trigger {
  border: none;
}

.partner1 .jq-selectbox__trigger-arrow {
  border: none;
  background: url("../assets/images/arrow.png") no-repeat;
  width: 16px;
  height: 12px;
  top: 16px;
  background-size: contain;
}

.partner1 .jq-selectbox.focused .jq-selectbox__select {
  border-color: #ccc;
}

@media (max-width: 1024px) {
  .partner1 .container .main-title {
    font-size: 50px;
  }

  .partner1 .container .form {
    padding: 25px 20px 40px;
  }
}
@media (max-width: 991px) {
  .partner1 {
    padding: 40px 0;
  }

  .partner1 .container .logo {
    max-width: 420px;
    margin: 0 auto;
  }

  .partner1 .container .main-title {
    text-align: center;
    line-height: 1;
    margin-bottom: 40px;
  }

  .partner1 .container .subtitle {
    text-align: center;
    margin-bottom: 20px;
  }

  .partner1 .container p {
    text-align: center;
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .partner1 {
    padding: 40px 0;
  }

  .partner1 .container .logo {
    max-width: 400px;
  }

  .partner1 .container .main-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .partner1 .container .subtitle {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .partner1 .container p {
    font-size: 18px;
  }

  .partner1 .container .form .form-title {
    margin: 0;
    font-size: 24px;
  }

  .partner1 .container .form label {
    margin-bottom: 4px;
  }

  .partner1 .container .form input[type="text"],
  .partner1 .container .form input[type="email"],
  .partner1 .container .form input[type="tel"],
  .partner1 .container .form input[type="password"],
  .partner1 .container .form select {
    height: 31px;
  }

  .partner1 .container .form input[type="submit"] {
    margin-top: 5px;
  }
}
/* end partners1 styles */
html,
body {
  overflow-x: hidden;
}

.btn-success {
  -webkit-transition: all .4s;
          transition: all .4s;
}

@media (max-width: 640px) {
  .content-how-much {
    padding: 50px 0;
  }

  .content-how-much .how-much-title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .content-how-much .how-much-search-wraper .how-much-search .field-input,
  .content-how-much .how-much-search-wraper .how-much-button .field-button {
    height: 50px;
    font-size: 14px;
  }

  .content-how-much .how-much-search-wraper .how-much-button .field-button {
    font-size: 25px;
  }
}
.title_banner {
  background: url("../assets/images/title_banner_before.jpg") no-repeat 50%;
  background-size: cover;
  padding: 55px 0 81px;
}
.title_banner h1 {
  font-family: "Dosis";
  font-size: 47px;
  color: #FFF;
  margin-bottom: 31px;
}
.title_banner p {
  font-size: 24px;
  color: #FFF;
  font-family: "Dosis";
  letter-spacing: 1.2px;
  line-height: 1.5;
}
.title_banner .calculator {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 431px;
  width: 100%;
  -webkit-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
          transform: translateX(-40%);
}

@media (max-width: 767px) {
  .title_banner h1, .title_banner p {
    width: -webkit-calc(100% - 155px);
    width: calc(100% - 155px);
  }
  .title_banner .calculator {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    max-width: 160px;
    right: 0;
    left: auto;
    top: 50%;
  }
}
@media (max-width: 640px) {
  .title_banner {
    padding: 15px;
  }
  .title_banner h1, .title_banner p {
    width: 100%;
    text-align: center;
  }
  .title_banner h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .title_banner p {
    font-size: 19px;
  }
  .title_banner .calculator {
    max-width: 130px;
    right: auto;
    left: auto;
    top: 0;
    position: static;
    margin: 0 auto;
  }
}
.contntent_after_title_banner {
  padding: 60px 0;
}
.contntent_after_title_banner h2 {
  font-size: 47px;
  color: #444;
  font-family: "Dosis";
  margin-bottom: 50px;
}
.contntent_after_title_banner p {
  color: #777;
  font-size: 16px;
  font-family: "Open Sans";
  margin-bottom: 0;
  line-height: 1.9;
}

.bussines_loan {
  padding: 50px 0;
}
.bussines_loan h2 {
  font-size: 47px;
  color: #444;
  font-family: "Dosis";
  margin-bottom: 50px;
}
.bussines_loan--group {
  text-align: center;
  font-size: 0;
  margin-top: 25px;
}
.bussines_loan--button {
  float: none;
  display: inline-block;
}
.bussines_loan--button a {
  text-align: center;
  font-family: "Dosis";
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  background: #0084c4;
  max-width: 369px;
  width: 100%;
  border-radius: 50px;
  padding: 15px 5px;
  display: inline-block;
  -webkit-transition: all .4s;
          transition: all .4s;
  margin-bottom: 21px;
}
.bussines_loan--button a:hover {
  background: #004262;
}

@media (max-width: 767px) {
  .contntent_after_title_banner h2 {
    font-size: 30px;
  }

  .bussines_loan {
    padding: 50px 0;
  }
  .bussines_loan h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .bussines_loan--group {
    margin-top: 25px;
  }
  .bussines_loan--button {
    display: block;
  }
  .bussines_loan--button a {
    font-size: 18px;
    margin-bottom: 21px;
  }
}
.calc_table .main_row {
  padding: 44px 0 56px;
}
.calc_table .main_row.green_line {
  background: #39B549;
}
.calc_table .main_row .grid {
  float: left;
  width: 100%;
}
.calc_table .main_row .grid .column {
  float: left;
  padding-right: 10px;
}
.calc_table .main_row .grid .column h5 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Dosis";
  font-weight: bold;
}
.calc_table .main_row .grid .column p {
  color: #444;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 300;
}
.calc_table .main_row .grid .column_1 {
  width: 25%;
}
.calc_table .main_row .grid .column_2 {
  width: 28%;
}
.calc_table .main_row .grid .column_3 {
  width: -webkit-calc(47% - 160px);
  width: calc(47% - 160px);
}
.calc_table .main_row .grid .column_4 {
  width: 160px;
}
.calc_table .main_row .grid .column_4 strong {
  font-size: 24px;
  color: #39B549;
  font-family: "Dosis";
}
.calc_table .main_row.secondary {
  padding: 0;
}
.calc_table .main_row.secondary .grid .grid_row {
  position: relative;
  float: left;
  width: 100%;
}
.calc_table .main_row.secondary .grid .grid_row:before, .calc_table .main_row.secondary .grid .grid_row:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 100%;
}
.calc_table .main_row.secondary .grid .grid_row:before {
  right: 100%;
}
.calc_table .main_row.secondary .grid .grid_row:after {
  left: 100%;
}
.calc_table .main_row.secondary .grid .grid_row .column {
  height: 139px;
  font-size: 0;
}
.calc_table .main_row.secondary .grid .grid_row .column:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.calc_table .main_row.secondary .grid .grid_row .column > * {
  vertical-align: middle;
  display: inline-block;
}
.calc_table .main_row.secondary .grid .grid_row .column p, .calc_table .main_row.secondary .grid .grid_row .column b, .calc_table .main_row.secondary .grid .grid_row .column strong {
  display: inline-block;
}
.calc_table .main_row.secondary .grid .grid_row .column_1 {
  position: relative;
  padding-left: 60px;
  padding-right: 10px;
}
.calc_table .main_row.secondary .grid .grid_row .column_1 .image {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
}
.calc_table .main_row.secondary .grid .grid_row .column_1 .image i {
  font-size: 53px;
}
.calc_table .main_row.secondary .grid .grid_row .column_1 b {
  font-size: 18px;
}
.calc_table .main_row.secondary .grid .grid_row:nth-child(even) {
  background: #f8f9fb;
}
.calc_table .main_row.secondary .grid .grid_row:nth-child(even):before, .calc_table .main_row.secondary .grid .grid_row:nth-child(even):after {
  background: #f8f9fb;
}

@media (max-width: 767px) {
  .calc_table .main_row {
    padding: 14px 0 6px;
  }
  .calc_table .main_row .grid .column h5 {
    font-size: 14px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column p {
    font-size: 15px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1 b {
    font-size: 13px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_3 {
    width: -webkit-calc(45% - 90px);
    width: calc(45% - 90px);
  }
  .calc_table .main_row.secondary .grid .grid_row .column_4 {
    width: 90px;
    padding-right: 0;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_4 strong {
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  .calc_table .main_row .grid {
    position: relative;
  }
  .calc_table .main_row .grid .column_1, .calc_table .main_row .grid .column_2, .calc_table .main_row .grid .column_3, .calc_table .main_row .grid .column_4 {
    width: 50%;
  }
  .calc_table .main_row.secondary .grid .grid_row {
    position: relative;
  }
  .calc_table .main_row.secondary .grid .grid_row:after {
    position: absolute;
    content: "";
    height: 2px;
    background: #a19f9f;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  .calc_table .main_row.secondary .grid .grid_row .column {
    height: 70px;
    padding-left: 10px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column p {
    font-size: 15px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1 {
    width: 50%;
    padding-left: 60px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1 .image {
    left: 10px;
    max-width: 40px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1 b {
    font-size: 13px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_2 {
    width: 50%;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_3 {
    width: 50%;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_4 {
    width: 50%;
    padding-right: 0;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_4 strong {
    font-size: 15px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1, .calc_table .main_row.secondary .grid .grid_row .column_2 {
    position: relative;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1:after, .calc_table .main_row.secondary .grid .grid_row .column_2:after {
    position: absolute;
    height: 2px;
    background: #a19f9f;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_3, .calc_table .main_row.secondary .grid .grid_row .column_4 {
    position: relative;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_3:after, .calc_table .main_row.secondary .grid .grid_row .column_4:after {
    position: absolute;
    background: #a19f9f;
    bottom: 0;
    top: -100%;
    left: 0;
    width: 2px;
  }
}
@media (max-width: 500px) {
  .calc_table .main_row.secondary .grid .grid_row {
    padding: 10px 0;
  }
  .calc_table .main_row.secondary .grid .grid_row .column {
    text-align: center;
    height: auto;
    padding: 10px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1, .calc_table .main_row.secondary .grid .grid_row .column_2, .calc_table .main_row.secondary .grid .grid_row .column_3, .calc_table .main_row.secondary .grid .grid_row .column_4 {
    width: 100%;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1 {
    padding-left: 10px;
  }
  .calc_table .main_row.secondary .grid .grid_row .column_1 .image {
    position: relative;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    margin: 0 auto;
  }

  .calc_table .main_row .grid .column_1,
  .calc_table .main_row .grid .column_2,
  .calc_table .main_row .grid .column_3,
  .calc_table .main_row .grid .column_4 {
    width: 100%;
    text-align: center;
  }

  .calc_table .main_row.secondary .grid .grid_row:nth-child(even):after {
    background: #a19f9f !important;
  }
}
.custom_body .header-panel {
  margin-bottom: 0;
}

.main_title {
  font-size: 47px;
  color: #444;
  font-family: "Dosis";
}

.calc2_page .calc_page_title {
  background: #39B549;
  padding: 77px 15px 72px;
}
.calc2_page .calc_page_title i {
  font-size: 61px;
  color: #FFF;
  margin-right: 23px;
  float: left;
}
.calc2_page .calc_page_title h1 {
  font-size: 47px;
  color: #FFF;
  font-family: "Dosis";
  margin: 0;
}
.calc2_page .how_to_calculate {
  padding: 20px 0 30px;
}
.calc2_page .how_to_calculate .main_buttons {
  margin-bottom: 40px;
}
.calc2_page .how_to_calculate .calculate_buttons {
  padding: 5px 15px 20px;
  text-align: center;
}
.calc2_page .how_to_calculate .calculate_buttons a {
  margin: 0 20px;
  max-width: 226px;
  width: 100%;
  text-align: center;
  font-family: "Dosis";
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  background: #0084c4;
  border-radius: 50px;
  padding: 15px 5px;
  display: inline-block;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.calc2_page .how_to_calculate .calculate_buttons a:hover {
  background: #004262;
}
.calc2_page .main_content {
  padding: 20px 0;
  margin-bottom: 67px;
}
.calc2_page .main_content .calculator {
  max-width: 369px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #979797;
}
.calc2_page .main_content .calculator.left {
  float: left;
}
.calc2_page .main_content .calculator.right {
  float: right;
}
.calc2_page .main_content .calculator .title_block {
  padding: 10px;
  background: #0084c4;
  border-radius: 5px 5px 0 0;
  padding: 20px 32px 12px;
}
.calc2_page .main_content .calculator .title_block h4 {
  font-size: 24px;
  color: #FFF;
  font-family: "Dosis";
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2px;
}
.calc2_page .main_content .calculator .title_block .subtitle {
  font-size: 18px;
  color: #FFF;
  font-family: "Dosis";
  display: block;
}
.calc2_page .main_content .calculator .calc_container {
  padding: 24px 21px 24px 31px;
  float: left;
  width: 100%;
}
.calc2_page .main_content .calculator .calc_container form label {
  color: #444;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 41px;
  width: 60%;
  float: left;
  margin-bottom: 13px;
}
.calc2_page .main_content .calculator .calc_container form input[type="text"] {
  float: left;
  width: 40%;
  height: 38px;
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  line-height: 58px;
  outline: none;
  text-align: center;
  padding: 0 10px;
  color: #979797;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.calc2_page .main_content .calculator .calc_container form input[type="text"]:focus {
  color: #000;
  border-color: #0084C4;
}
.calc2_page .main_content .calculator .calc_container form input[type="submit"] {
  width: 100%;
  text-align: center;
  padding: 10px 10px;
  font-size: 24px;
  font-family: "Dosis";
  color: #FFF;
  background: #39b549;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: none;
  -webkit-transition: all .4s;
          transition: all .4s;
  margin-top: 11px;
}
.calc2_page .main_content .calculator .calc_container form input[type="submit"]:hover {
  background: #2D8E39;
}
.calc2_page .main_content .calculator .calc_result {
  clear: both;
  background: #F8F9FB;
  padding: 24px 21px 8px 31px;
  float: left;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
.calc2_page .main_content .calculator .calc_result .result_line {
  border-bottom: 1px solid #d0d0d0;
  float: left;
  width: 100%;
  margin-bottom: 2px;
}
.calc2_page .main_content .calculator .calc_result .result_line span {
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  float: left;
  color: #444;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 55px;
}
.calc2_page .main_content .calculator .calc_result .result_line strong {
  width: 80px;
  float: left;
  color: #5bb85d;
  font-family: "Dosis";
  font-size: 24px;
  font-weight: 700;
  line-height: 55px;
}
.calc2_page .main_content .calculator .calc_result .result_line:last-child {
  border: none;
}
.calc2_page .main_content .content {
  float: left;
  width: -webkit-calc(100% - 369px);
  width: calc(100% - 369px);
  padding: 0 15px;
}
.calc2_page .main_content .content p {
  font-family: "Open Sans";
  font-size: 16px;
  color: #777;
  margin-bottom: 0;
  line-height: 30px;
}
.calc2_page .main_content .content .line {
  margin: 20px 0;
  max-width: 707px;
  width: 100%;
  background: #D0D0D0;
  height: 1px;
}
.calc2_page .main_content .content .formuls p {
  color: #444;
  font-size: 12px;
  line-height: 24px;
}
.calc2_page .main_content .content .more_calculators {
  margin-top: 90px;
}
.calc2_page .main_content .content .more_calculators h3 {
  color: #444;
  font-size: 24px;
  font-family: "Dosis";
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.calc2_page .main_content .content .more_calculators ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.calc2_page .main_content .content .more_calculators ul li {
  line-height: 60px;
}
.calc2_page .main_content .content .more_calculators ul li i {
  font-size: 43px;
  margin-right: 10px;
  position: relative;
  top: 12px;
}
.calc2_page .main_content .content .more_calculators ul li img {
  width: 43px;
  margin-right: 10px;
}
.calc2_page .main_content .content .more_calculators ul li a {
  color: #0084C4;
  text-decoration: none;
}

@media (max-width: 767px) {
  .main_title {
    font-size: 32px;
  }

  .calc2_page .how_to_calculate .calculate_buttons a {
    margin: 10px;
  }

  .calc2_page .main_content .content {
    width: 100%;
    padding: 0;
  }
  .calc2_page .main_content .calculator {
    max-width: 100%;
    margin-bottom: 20px;
    display: inline-block;
  }
  .calc2_page .main_content .calculator.left, .calc2_page .main_content .calculator.right {
    float: none;
  }
}
@media (max-width: 480px) {
  .calc2_page .main_content .calculator .calc_container {
    padding: 24px 15px 24px 15px;
  }
  .calc2_page .main_content .calculator .calc_container form input[type="text"] {
    font-size: 16px;
  }
  .calc2_page .main_content .calculator .calc_result {
    padding: 24px 15px 24px 15px;
  }
  .calc2_page .main_content .content .more_calculators ul li a {
    font-size: 14px;
  }
}
.finance_products {
  padding: 20px 15px 50px;
}
.finance_products .grid {
  margin-top: 65px;
  padding-bottom: 40px;
}
.finance_products .grid .product_line {
  font-size: 0;
  text-align: center;
}
.finance_products .grid .product_line .finance_product {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  min-height: 150px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.finance_products .grid .product_line .finance_product:before {
  position: absolute;
  content: "";
  width: 1px;
  top: 50%;
  height: 55px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background: #777;
}
.finance_products .grid .product_line .finance_product:nth-child(5n+5):before {
  display: none;
}
.finance_products .grid .product_line .finance_product a {
  margin: 0 auto;
  max-width: 120px;
  display: inline-block;
}
.finance_products .grid .product_line .finance_product a i {
  -webkit-transition: all .4s;
          transition: all .4s;
  font-size: 54px;
  margin: 9px 0 20px;
  display: inline-block;
}
.finance_products .grid .product_line .finance_product a i.font-icon {
  font-size: 59px;
}
.finance_products .grid .product_line .finance_product a .image {
  height: 83px;
  font-size: 0;
}
.finance_products .grid .product_line .finance_product a .image:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.finance_products .grid .product_line .finance_product a .image img {
  display: inline-block;
  vertical-align: middle;
}
.finance_products .grid .product_line .finance_product a .image img.hover {
  display: none;
}
.finance_products .grid .product_line .finance_product a h5 {
  font-size: 18px;
  color: #000;
  font-family: "Dosis";
  font-weight: bold;
  line-height: 1.2;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.finance_products .grid .product_line .finance_product a:hover {
  text-decoration: none;
}
.finance_products .grid .product_line .finance_product a:hover .image i {
  color: #0084C4;
}
.finance_products .grid .product_line .finance_product a:hover .image img.hover {
  display: inline-block;
}
.finance_products .grid .product_line .finance_product a:hover .image img.static {
  display: none;
}
.finance_products .grid .product_line .finance_product a:hover h5 {
  color: #0084C4;
}

@media (max-width: 840px) {
  .calc2_page .calc_page_title {
    padding: 60px 15px 50px;
  }

  .finance_products .grid .product_line .finance_product {
    width: 33.33%;
  }
  .finance_products .grid .product_line .finance_product:nth-child(5n+5):before {
    display: block;
  }
  .finance_products .grid .product_line .finance_product:nth-child(3n+3):before, .finance_products .grid .product_line .finance_product:last-child:before {
    display: none;
  }
}
@media (max-width: 640px) {
  .calc2_page .calc_page_title {
    padding: 40px 15px 30px;
  }
  .calc2_page .calc_page_title img {
    max-width: 43px;
  }
  .calc2_page .calc_page_title h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .finance_products .grid .product_line .finance_product {
    width: 50%;
  }
  .finance_products .grid .product_line .finance_product:nth-child(3n+3):before {
    display: block;
  }
  .finance_products .grid .product_line .finance_product:nth-child(even):before {
    display: none;
  }
}
@media (max-width: 400px) {
  .calc2_page .calc_page_title {
    padding: 30px 15px 25px;
  }
  .calc2_page .calc_page_title img {
    max-width: 30px;
  }
  .calc2_page .calc_page_title h1 {
    font-size: 24px;
  }
}
/* Blog styles */
.content-blog .content-blog-items.in-columns {
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
}
.content-blog .content-blog-items.in-columns:after {
  content: '';
  display: block;
  clear: both;
}
.content-blog .content-blog-items.in-columns .blog-item {
  width: 100%;
  max-width: 380px;
}

.content-blog .item-text ul {
  list-style: none;
}
.content-blog .item-text ul li {
  padding-left: 20px;
  line-height: 2;
  position: relative;
  margin-bottom: 5px;
}
.content-blog .item-text ul li:before {
  position: absolute;
  content: "";
  top: 13px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 15px;
  background: #777;
}

@media (max-width: 1140px) {
  .content-blog .content-blog-items.in-columns {
    max-width: 1000px;
    margin: 0 auto;
  }
  .content-blog .content-blog-items.in-columns .blog-item {
    max-width: 500px;
  }
}
@media (max-width: 1040px) {
  .content-blog .content-blog-items.in-columns {
    max-width: 800px;
  }
  .content-blog .content-blog-items.in-columns .blog-item {
    max-width: 400px;
  }
}
@media (max-width: 840px) {
  .content-blog .content-blog-items.in-columns {
    max-width: 640px;
  }
  .content-blog .content-blog-items.in-columns .blog-item {
    max-width: 320px;
  }
}
@media (max-width: 840px) {
  .content-blog .content-blog-items.in-columns {
    max-width: 640px;
  }
  .content-blog .content-blog-items.in-columns .blog-item {
    max-width: 100%;
  }
}
/* END Blog styles */
@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?ntr70h");
  src: url("../assets/fonts/icomoon.eot?ntr70h#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?ntr70h") format("truetype"), url("../assets/fonts/icomoon.woff?ntr70h") format("woff"), url("../assets/fonts/icomoon.svg?ntr70h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calculator:before {
  content: "\e900";
}

.icon-cards:before {
  content: "\e901";
}

.icon-cash:before {
  content: "\e902";
}

.icon-credit-cards:before {
  content: "\e903";
}

.icon-equipment:before {
  content: "\e904";
}

.icon-loans:before {
  content: "\e905";
}

.icon-sba:before {
  content: "\e906";
}

.icon-term:before {
  content: "\e907";
}

.icon-tools:before {
  content: "\e908";
}

.icon-video:before {
  content: "\e909";
}

@font-face {
  font-family: "SvgIcons";
  src: url("../assets/fonts/SvgIcons.eot");
  src: url("../assets/fonts/SvgIcons.eot?#iefix") format("eot"), url("../assets/fonts/SvgIcons.woff2") format("woff2"), url("../assets/fonts/SvgIcons.woff") format("woff"), url("../assets/fonts/SvgIcons.ttf") format("truetype"), url("../assets/fonts/SvgIcons.svg#SvgIcons") format("svg");
}
.font-icon:before {
  font-family: "SvgIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.font-icon-arrow-down:before {
  content: "\E001";
}

.font-icon-bag:before {
  content: "\E002";
}

.font-icon-business-line-credit:before {
  content: "\E003";
}

.font-icon-creditcards:before {
  content: "\E004";
}

.font-icon-equipment:before {
  content: "\E005";
}

.font-icon-invoice:before {
  content: "\E006";
}

.font-icon-loan_options:before {
  content: "\E007";
}

.font-icon-merchant:before {
  content: "\E008";
}

.font-icon-money_aproved:before {
  content: "\E009";
}

.font-icon-online_form:before {
  content: "\E00A";
}

.font-icon-sba:before {
  content: "\E00C";
}

.font-icon-select:before {
  content: "\E00D";
}

.font-icon-short_term:before {
  content: "\E00F";
}

.font-icon-small_business:before {
  content: "\E010";
}

.font-icon-startup_loan:before {
  content: "\E012";
}

.font-icon-stop-arrow:before {
  content: "\E013";
}

.font-icon-terms:before {
  content: "\E014";
}

/* Start LG-loans styles */
.lg_loans_banner {
  position: relative;
}
.lg_loans_banner h1 {
  position: absolute;
  text-align: center;
  top: 15px;
  left: 0;
  right: 0;
  content: "";
  font-size: 47px;
  font-family: "Dosis";
  color: #FFF;
}
.lg_loans_banner img {
  width: 100%;
}
.lg_loans.find_loan {
  padding: 66px 0 30px;
}
.lg_loans.find_loan h2 {
  margin-bottom: 57px;
}
.lg_loans.find_loan p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #777;
  line-height: 30px;
  font-family: "Open Sans";
}
.lg_loans.find_loan .btn-success {
  font-size: 32px;
  font-family: "Dosis";
  padding: 16px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.lg_loans.find_loan .finance_products {
  padding-bottom: 10px;
}
.lg_loans.find_loan .finance_products .grid {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}
.lg_loans.find_loan .finance_products .grid .product_line .finance_product {
  width: 33.33%;
  margin-bottom: 15px;
}
.lg_loans.find_loan .finance_products .grid .product_line .finance_product:before {
  display: block;
}
.lg_loans.find_loan .finance_products .grid .product_line .finance_product:nth-child(3n+3):before {
  display: none;
}
.lg_loans.browse_loan {
  position: relative;
  background: #f8f9fb;
  padding: 110px 0 20px;
}
.lg_loans.browse_loan:before {
  position: absolute;
  content: "";
  background: url("../assets/images/valwe_white.png");
  background-repeat: repeat;
  height: 20px;
  height: 41px;
  width: 100%;
  top: 0;
}
.lg_loans.browse_loan .main_title {
  color: #444;
}
.lg_loans.browse_loan .browse_grid {
  padding-top: 95px;
}
.lg_loans.browse_loan .browse_grid .line {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 45px;
  margin-bottom: 55px;
}
.lg_loans.browse_loan .browse_grid .line:before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 1px;
  left: 15px;
  right: 15px;
  background: #a1a1a1;
}
.lg_loans.browse_loan .browse_grid .line:last-child {
  margin-bottom: 0;
  padding-bottom: 27px;
}
.lg_loans.browse_loan .browse_grid .line:last-child:before {
  display: none;
}
.lg_loans.browse_loan .browse_grid .line .image {
  margin: 20px 0;
  text-align: center;
}
.lg_loans.browse_loan .browse_grid .line .image i {
  font-size: 54px;
}
.lg_loans.browse_loan .browse_grid .line .image img {
  display: inline-block;
}
.lg_loans.browse_loan .browse_grid .line .title {
  font-size: 18px;
  text-align: center;
  font-family: "Dosis";
  font-weight: bold;
}
.lg_loans.browse_loan .browse_grid .line .content p {
  font-size: 14px;
  color: #777;
  font-family: "Open Sans";
  line-height: 28px;
  margin-bottom: 15px;
}
.lg_loans.browse_loan .browse_grid .line .content .learn_more {
  font-size: 18px;
  color: #0084C4;
  font-family: "Dosis";
  text-decoration: none;
}
.lg_loans.browse_loan .browse_grid .line .content .learn_more:hover {
  color: #003f5e;
}
.lg_loans.browse_loan .browse_grid .line .small_grid .col {
  float: left;
  width: 100%;
  margin-bottom: 22px;
  padding-top: 12px;
}
.lg_loans.browse_loan .browse_grid .line .small_grid .col .image {
  width: 60px;
  float: left;
  margin: 0;
}
.lg_loans.browse_loan .browse_grid .line .small_grid .col .image img {
  position: relative;
  top: -6px;
}
.lg_loans.browse_loan .browse_grid .line .small_grid .col .content {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  float: left;
  padding-left: 10%;
}
.lg_loans.browse_loan .browse_grid .line .small_grid .col .content b {
  display: block;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  color: #444;
}
.lg_loans.browse_loan .browse_grid .line .small_grid .col .content span {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 18px;
  color: #444;
}

@media (max-width: 1100px) {
  .lg_loans_banner h1 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .lg_loans_banner h1 {
    margin: 0;
    font-size: 32px;
  }

  .lg_loans.browse_loan {
    padding-top: 40px;
  }
  .lg_loans.browse_loan .browse_grid {
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .lg_loans.find_loan .btn-success {
    font-size: 22px;
    padding: 5px;
    max-width: 250px;
  }

  .lg_loans_banner h1 {
    position: static;
    top: 0;
    margin: 0;
    font-size: 32px;
    color: #0084c4;
    margin: 15px;
  }
}
@media (max-width: 640px) {
  .lg_loans.browse_loan {
    padding: 40px 0 0;
  }
  .lg_loans.browse_loan:before {
    background-size: contain;
    height: 25px;
  }
}
@media (max-width: 560px) {
  .lg_loans.find_loan .finance_products .grid .product_line .finance_product {
    width: 50%;
  }
  .lg_loans.find_loan .finance_products .grid .product_line .finance_product h5 {
    font-size: 15px;
  }
  .lg_loans.find_loan .finance_products .grid .product_line .finance_product:nth-child(3n+3):before {
    display: block;
  }
  .lg_loans.find_loan .finance_products .grid .product_line .finance_product:nth-child(even):before, .lg_loans.find_loan .finance_products .grid .product_line .finance_product:last-child:before {
    display: none;
  }

  .lg_loans.browse_loan .browse_grid .line .small_grid .col .image {
    width: 100%;
    text-align: center;
  }
  .lg_loans.browse_loan .browse_grid .line .small_grid .col .image img {
    display: inline-block;
    top: 0;
  }
  .lg_loans.browse_loan .browse_grid .line .small_grid .col .content {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .lg_loans.browse_loan .browse_grid .line .small_grid .col .content b, .lg_loans.browse_loan .browse_grid .line .small_grid .col .content span {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .lg_loans_banner h1 {
    font-size: 24px;
  }
}
.bottom_additional_links {
  padding: 69px 15px 46px;
  background-size: cover;
  background-position: 50%;
}
.bottom_additional_links .logo {
  text-align: center;
  margin-bottom: 33px;
}
.bottom_additional_links .logo a {
  display: inline-block;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}
.bottom_additional_links .links ul {
  text-align: center;
  padding: 0;
}
.bottom_additional_links .links ul li {
  display: inline-block;
  padding: 19px 29px;
  position: relative;
}
.bottom_additional_links .links ul li:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: #FFF;
}
.bottom_additional_links .links ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  font-family: "Dosis";
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
}
.bottom_additional_links .links ul li a:before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  margin: 0 auto;
  height: 1px;
  background: #FFF;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.bottom_additional_links .links ul li a:hover:before {
  width: 100%;
}
.bottom_additional_links .links ul li:last-child:before {
  display: none;
}

@media (max-width: 991px) {
  .bottom_additional_links {
    padding: 50px 15px 25px;
  }
  .bottom_additional_links .links ul {
    margin-bottom: 0;
  }
  .bottom_additional_links .links ul li {
    padding: 10px 15px;
  }
  .bottom_additional_links .links ul li a {
    font-size: 16px;
  }
}
@media (max-width: 830px) {
  .bottom_additional_links {
    padding: 40px 15px 20px;
  }
  .bottom_additional_links .logo {
    margin-bottom: 20px;
  }
  .bottom_additional_links .links ul li {
    padding: 6px 13px;
  }
  .bottom_additional_links .links ul li:before {
    display: none;
  }
  .bottom_additional_links .links ul li a {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .bottom_additional_links {
    padding: 40px 15px 20px;
  }
  .bottom_additional_links .logo {
    margin-bottom: 20px;
  }
  .bottom_additional_links .links ul li {
    padding: 6px 13px;
  }
  .bottom_additional_links .links ul li a {
    font-size: 15px;
  }
}
/* Start loans subpage styles */
.loans_subpage_banner {
  background-size: cover;
  background-position: 50%;
  padding: 50px 0 60px;
  position: relative;
}
.loans_subpage_banner:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 54%;
  background: url("../assets/images/loans_subpage_house.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.loans_subpage_banner h1 {
  color: #FFF;
  font-family: "Dosis";
  letter-spacing: 2.5px;
  margin: 0 0 14px;
  line-height: 1.4;
}
.loans_subpage_banner p {
  color: #FFF;
  font-size: 24px;
  font-family: "Dosis";
}
.loans_subpage_banner .btn-success {
  margin-top: 30px;
  font-size: 32px;
  font-family: "Dosis";
  padding: 16px 20px;
  max-width: 400px;
  width: 100%;
}

.content-blog.loans_subpage .content-blog-items.in-columns .blog-item {
  max-width: 50%;
}

.content-aside.lg_subpage {
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
}
.content-aside.lg_subpage .content-aside-items .item-title {
  -webkit-transition: all .4s;
          transition: all .4s;
}
.content-aside.lg_subpage .content-aside-items .item-title-primary {
  padding-right: 0;
}
.content-aside.lg_subpage .content-aside-items .item-title a {
  -webkit-transition: all .4s;
          transition: all .4s;
}
.content-aside.lg_subpage .content-aside-items .item-title a:hover {
  text-decoration: none;
}

.big_btn {
  font-size: 32px;
  font-family: "Dosis";
  padding: 16px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.content-aside .content-item:last-child .item-wraper {
  border: none;
}

.content-aside .item-readmore a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.content-aside .item-readmore a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  margin: 0 auto;
  height: 1px;
  background: #0084c4;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.content-aside .item-readmore a:hover:before {
  width: 100%;
}

.loans_subpage.simple_content {
  padding: 30px 0 50px;
}
.loans_subpage.simple_content .main_title {
  margin-bottom: 37px;
}
.loans_subpage.simple_content .main_title:nth-of-type(2) {
  margin-top: 100px;
}
.loans_subpage.simple_content p {
  font-family: "Open Sans";
  color: #777;
  font-size: 14px;
  letter-spacing: .7px;
  line-height: 2;
}
.loans_subpage.simple_content .big_btn {
  margin-top: 20px;
}
.loans_subpage.simple_content .content-aside {
  padding-top: 60px;
}
.loans_subpage .content-aside {
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
}
.loans_subpage .content-aside-items .content-item .item-title-primary {
  padding-right: 0;
}
.loans_subpage .content-aside-items .content-item.suggest_item {
  margin-bottom: 54px;
}
.loans_subpage .content-aside-items .content-item.suggest_item .image {
  position: relative;
  margin-bottom: 17px;
}
.loans_subpage .content-aside-items .content-item.suggest_item .image > a {
  display: block;
}
.loans_subpage .content-aside-items .content-item.suggest_item .image > a img {
  max-width: 100%;
}
.loans_subpage .content-aside-items .content-item.suggest_item .image .category {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0084c4;
  color: #fff;
  font-family: "Dosis";
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 15px 4px;
  -webkit-transition: all .4s;
          transition: all .4s;
}
.loans_subpage .content-aside-items .content-item.suggest_item .image .category:hover {
  background: #003f5e;
}
.loans_subpage .content-aside-items .content-item.suggest_item .title a {
  text-decoration: none;
  color: #0084C4;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 1.1px;
  line-height: 1.22;
}
.loans_subpage .content-aside-items .content-item.suggest_item .btn-success {
  background: #0084C4;
  padding: 14px 10px;
  max-width: 248px;
  width: 100%;
}
.loans_subpage .content-aside-items .content-item.suggest_item .btn-success:hover {
  background: #003f5e;
}

.top_articles {
  padding-bottom: 40px;
}

@media (max-width: 1160px) {
  .loans_subpage_banner {
    padding: 50px 0 60px;
  }
  .loans_subpage_banner:before {
    left: 48%;
  }
}
@media (max-width: 1024px) {
  .content-blog.loans_subpage .content-blog-items.in-columns .blog-item {
    max-width: 50%;
  }
  .content-blog.loans_subpage .content-blog-items.in-columns .blog-item .blog-item-wraper .item-title {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .big_btn {
    margin-top: 22px;
    font-size: 23px;
    padding: 4px 20px;
    max-width: 270px;
  }

  .loans_subpage_banner {
    padding: 25px 0;
  }
  .loans_subpage_banner:before {
    left: 47%;
  }
  .loans_subpage_banner h1 {
    font-size: 32px;
  }
  .loans_subpage_banner p {
    font-size: 20px;
  }
  .loans_subpage_banner .btn-success {
    margin-top: 22px;
    font-size: 23px;
    padding: 4px 20px;
    max-width: 270px;
  }

  .content-aside.lg_subpage .content-aside-items {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .content-aside.lg_subpage .content-aside-items .item-wraper {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .loans_subpage_banner {
    padding: 25px 0;
  }
  .loans_subpage_banner:before {
    display: none;
  }
  .loans_subpage_banner h1 {
    font-size: 26px;
    letter-spacing: .5px;
  }
  .loans_subpage_banner p {
    font-size: 16px;
  }
  .loans_subpage_banner .btn-success {
    margin-top: 15px;
    font-size: 21px;
    padding: 4px 10px;
    max-width: 220px;
  }

  .content-blog.loans_subpage .content-blog-items.in-columns {
    max-width: 100%;
  }
  .content-blog.loans_subpage .content-blog-items.in-columns .blog-item {
    max-width: 50%;
    float: left;
    padding: 10px;
  }
  .content-blog.loans_subpage .content-blog-items.in-columns .blog-item .blog-item-wraper .item-title {
    font-size: 24px;
  }

  .loans_subpage.simple_content .content-aside-items .content-item {
    text-align: center;
    padding: 20px 15px;
  }
  .loans_subpage.simple_content .content-aside-items .content-item a {
    display: inline-block;
  }
  .loans_subpage.simple_content .content-aside-items .content-item a img {
    max-width: 180px;
  }

  .loans_subpage .content-aside-items .content-item.suggest_item {
    max-width: 500px;
    margin: 0 auto;
  }
}
.lendgenius-banner:before {
  max-width: 262px;
  width: 100%;
}

@media (max-width: 640px) {
  .content-blog.loans_subpage .item-title-primary {
    font-size: 28px;
    padding: 0 0 10px 5px;
  }
  .content-blog.loans_subpage .content-blog-items.in-columns .blog-item {
    max-width: 1000%;
    float: left;
    margin-bottom: 10px;
  }
  .content-blog.loans_subpage .content-blog-items.in-columns .blog-item .blog-item-wraper .item-title {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .content-aside.lg_subpage .content-aside-items {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
  .content-aside.lg_subpage .content-aside-items .item-title {
    font-size: 18px;
  }
  .content-aside.lg_subpage .content-aside-items .item-title-primary {
    margin: 30px 0 0;
  }

  .lendgenius-banner {
    text-align: center;
    padding-top: 60px;
    position: relative;
  }
  .lendgenius-banner:before {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    margin: 0 auto;
    max-width: 240px;
  }

  .loans_subpage .content-aside-items .content-item.suggest_item .title a {
    font-size: 18px;
    line-height: 1.1;
  }
}
.subpage_menu {
  background: #F8F9FB;
}
.subpage_menu .mobile_menu_icon {
  padding: 22px 0;
  display: none;
  cursor: pointer;
  font-size: 30px;
  font-family: "Dosis";
}
.subpage_menu .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}
.subpage_menu .menu li {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}
.subpage_menu .menu li a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  color: #444;
  font-weight: bold;
  font-family: "Dosis";
  text-decoration: none;
  padding: 22px 0;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
}
.subpage_menu .menu li.active a, .subpage_menu .menu li:hover a {
  background: #0084C4;
  color: #fff;
}

.sba_loans_features .container {
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  padding: 35px 15px 15px;
  margin-top: 15px;
}
.sba_loans_features .container .main_title {
  margin-bottom: 50px;
}
.sba_loans_features .container .col-sm-6 {
  position: relative;
}
.sba_loans_features .container .col-sm-6.success:before, .sba_loans_features .container .col-sm-6.error:before {
  position: absolute;
  content: "";
  left: 14px;
  top: -41px;
  width: 160px;
  height: 130px;
}
.sba_loans_features .container .col-sm-6.success:before {
  background: url("../assets/images/success_icon.png") no-repeat 50%;
  background-size: contain;
}
.sba_loans_features .container .col-sm-6.error:before {
  background: url("../assets/images/error_icon.png") no-repeat 50%;
  background-size: contain;
  width: 105px;
  top: -45px;
}
.sba_loans_features .container .col-sm-6 ul {
  padding-left: 73px;
  margin-bottom: 45px;
}
.sba_loans_features .container .col-sm-6 ul li {
  list-style: none;
  position: relative;
  padding-left: 20px;
  color: #444;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
}
.sba_loans_features .container .col-sm-6 ul li:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #444;
}

@media (max-width: 767px) {
  .subpage_menu .mobile_menu_icon {
    display: inline-block;
  }
  .subpage_menu .menu {
    display: none;
  }
  .subpage_menu .menu li {
    width: 100%;
    display: block;
  }
  .subpage_menu .menu li a {
    display: block;
  }
}
.at_a_glance {
  padding: 34px 0 29px;
}
.at_a_glance .main_title {
  margin-bottom: 40px;
}
.at_a_glance p {
  font-size: 16px;
  line-height: 30px;
  color: #777;
  font-family: "Open Sans";
}
.at_a_glance .small_grid .col {
  float: left;
  width: 100%;
  margin-bottom: 22px;
  padding-top: 12px;
}
.at_a_glance .small_grid .col .image {
  width: 60px;
  float: left;
  margin: 0;
}
.at_a_glance .small_grid .col .image img {
  position: relative;
  top: -6px;
}
.at_a_glance .small_grid .col .content {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  float: left;
  padding-left: 10%;
}
.at_a_glance .small_grid .col .content b {
  display: block;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  color: #444;
}
.at_a_glance .small_grid .col .content span {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 18px;
  color: #444;
}
.at_a_glance .next_btn {
  margin-top: 10px;
}
.at_a_glance .next_btn a {
  display: inline-block;
}
.at_a_glance .next_btn > * {
  text-decoration: none;
  display: inline-block;
}
.at_a_glance .next_btn span {
  font-size: 18px;
  color: #0084C4;
  font-family: "Dosis";
  margin-right: 15px;
}
.at_a_glance .next_btn i {
  font-size: 56px;
  color: #444;
  margin-right: 13px;
  position: relative;
  top: 10px;
}
.at_a_glance .next_btn h6 {
  color: #444;
  font-size: 18px;
  font-family: "Dosis";
  font-weight: bold;
  max-width: 120px;
  margin: 0;
  position: relative;
  top: 7px;
}

@media (max-width: 560px) {
  .at_a_glance .small_grid .col .image {
    width: 100%;
    text-align: center;
  }
  .at_a_glance .small_grid .col .image img {
    display: inline-block;
    top: 0;
  }
  .at_a_glance .small_grid .col .content {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .at_a_glance .small_grid .col .content b, .at_a_glance .small_grid .col .content span {
    font-size: 15px;
  }
}
.content-comments .comments-footer {
  text-align: right;
  color: #0084c4;
  margin: 30px 0;
}

.transparent-pricing {
  padding: 130px 0;
  background-color: #39b549;
  background-size: cover;
  background-position: 50%;
}
.transparent-pricing .main_title {
  color: #FFF;
  margin: 0;
}

@media (max-width: 767px) {
  .transparent-pricing {
    padding: 80px 0;
  }
}
@media (max-width: 500px) {
  .transparent-pricing {
    padding: 50px 0;
  }
}

/*# sourceMappingURL=custom.css.map */
