//advantages (in columns)
@advantage-padding: 20px;
@advantage-max-width: 340px;

.advantage {
  padding: @advantage-padding;
  //max-width: @advantage-max-width;
  text-align: left;
  min-height: 190px;
  position: relative;
  padding-top: 360px;
  @media @smallerThanSM {
    min-height: 1px;
  }
  &--centered {
    margin: 0 auto 25px;
  }
  &__img {
    text-align: center;
    width: 380px;
    height: 380px;
    line-height: 125px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -190px;
    background: url("../images/sprite.png") no-repeat;
    background-position: center center;
    &.img1 {
      background-position: 0px 0px;
    }
    &.img2 {
      background-position: -380px 0px;
    }
    &.img3 {
      background-position: -760px 0px;
    }
    &.img4 {
      background-position: -1150px 0px;
    }
  }
  &__title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    position: relative;
    z-index: 100;
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: #777777;
    position: relative;
    z-index: 100;
  }
  @media @smallerThanMD {
    //max-width: initial;
    text-align: center;
    padding-top: 190px;
    margin-bottom: 0;
    &__img {
      background-size: 760px 190px;
      width: 190px;
      height: 190px;
      margin-left: -95px;
      &.img1 {
        background-position: 0px 0px;
      }
      &.img2 {
        background-position: -190px 0px;
      }
      &.img3 {
        background-position: -380px 0px;
      }
      &.img4 {
        background-position: -570px 0px;
      }
    }
  }
}