//apply form collection

//form title position
@title-text-align: center;
//inputs padding (margin-bottom)
@inputs-margin-bottom: 20px;

//outer block styles
@outer-background-color: rgba(0,0,0,0.8);
@inner-padding: 35px;
@outer-color: white;
@outer-font-size: 20px;

.apply_form {
    color: @outer-color;
    font-size: @outer-font-size;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    overflow: hidden;
    > * {
        margin-bottom: @inputs-margin-bottom;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &.fixed_form {
        max-width: 100%;
        margin-bottom: 20px;

        @media @largerThanSM {
            max-width: 399px;
            margin-bottom: 0px;

            &.active {
                position: fixed;
                top: 25px;
            }

            &.bot {
                position: absolute;
                bottom: 55px;
                top: auto;
            }
        }
    }
    &__title {
        text-align: @title-text-align;
        line-height: 1;

        &--lg {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
            font-size: 58px;
            font-weight: bold;

            @media @smallerThanSM {
                font-size: 40px;
            }
        }

        &--md {
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 15px;
            padding-top: 15px;
            color: white;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);

            @media @smallerThanSM {
                font-size: 16px;
                padding: 15px 20px;
            }
        }
    }

    &__btn {
        @media @smallerThanSM {
            text-align: center;
        }
    }

    &__fields {
        background: rgba(64,57,83,0.8);
        color: @black-text-main;
        margin: 0 0 0 auto;
        padding: 65px 65px 25px;
        position: relative;
        border-radius: 15px;
        max-width: 480px;
        &:before {
            content: "";
            position: absolute;
            border-left: 35px solid transparent;
            border-right: 35px solid transparent;
            border-top: 23px solid #00b573;
            top: -5px;
            left: 50%;
            .transform(translateX(-50%));
            z-index: 10;
        }
        &:after {
            content: "";
            position: absolute;
            border-left: 42px solid transparent;
            border-right: 42px solid transparent;
            border-bottom: 30px solid #006942;
            top: -29px;
            left: 50%;
            .transform(translateX(-50%));
        }
        .apply_form__input {
            position: relative;
            margin: 0 auto 20px;

            &:last-child {
                margin-bottom: 0 !important;
            }
            .marker {
                background-color: @green-dark;
                text-align: center;
                position: absolute;
                top: 0px;
                width: 36px;
                bottom: 0px;
                line-height: @input-height;
                color: white;
            }

            &--type_left {
                .marker {
                    left: -1px;
                    border-top-left-radius: @border-radius;
                    border-bottom-left-radius: @border-radius;
                    font-size: 21px;
                }

                input, select {
                    padding-left: @input-padding+40;
                }
            }

            &--btn {
                padding: 15px 0;
                position: relative;
                margin: 15px auto 30px;
                &:after  {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 1px;
                    background-color: @green-main;
                    left: 50%;
                    bottom: -15px;
                    .transform(translateX(-50%));
                }
            }
            &--first {
                @media @largerThanMD {
                    &:after  {
                        content: "";
                        position: absolute;
                        width: 50%;
                        height: 1px;
                        background-color: @green-main;
                        left: 50%;
                        top: -40px;
                        .transform(translateX(-50%));
                    }
                }
            }
        }

        label {
            margin-bottom: 5px;
            padding-left: 5px;
            color: white;
            display: block;
            line-height: 1;
            vertical-align: top;
            text-align: left;
        }
        @media @smallerThanMD {
            padding: 25px 20px;
            border: none;
            max-width: 100%;
        }
        @media @smallerThanSM {
            padding: 25px 20px;
            border: none;
            max-width: 100%;
            &:before, &:after {
                display: none;
            }
        }
    }
    .apply_form__descr {
        padding: 5px 5px;
        margin: 0 auto;
        color: white;
        font-size: 14px;
        a {
            color: @green-main;
        }
        @media @smallerThanMD {
            max-width: 100%;
        }
    }

    &__descr-list {
        max-width: 500px;
        text-align: left;
        margin: 0 auto;

        ul {
            list-style-type: none;
            color: white;

            li {
                position: relative;
                margin-bottom: 20px;

                span {
                    display: inline-block;
                    padding-left: 35px;
                }
            }

            i {
                position: absolute;
                left: 0px;
                font-size: 25px;
                top: 0px;
                color: @green-main;
            }
        }
    }
    &--custom {
        margin: 0 auto;
        padding-top: 0;
    }
    &--main-view {
        .apply_form__fields {
            margin: 0;
            padding: 25px 65px 25px;
            @media @smallerThanMD {
                padding: 25px 20px;
                border: none;
                max-width: 100%;
            }
        }
    }

    &--sec-view {
        padding: 0;
        .apply_form__fields {
            padding: 25px 20px;
            &:before, &:after {
                display: none;
            }
        }
        .apply_form__title {
            margin: 0;
            background-color: rgba(0,0,0,0.8);
            padding: 5px;
            &--lg {
                font-size: 40px;
            }
        }
        @media @smallerThanMD {
            margin: 0px auto;

            .btn--apply {
                font-size: 20px;
            }

            .apply_form__title {
                &--lg {
                    font-size: 40px;
                }
            }
        }
    }

    & .icon-location {
        position: absolute;
        right: 10px;
        top: 50%;
        .transform(translateY(-50%));
        font-size: 32px;
        text-decoration: none;
        color: @green-main;

        &:hover {
            color: @green-main;
        }
    }
}
