@b_loan-nav-width: 190px;

.b_loan {
  .clearfix;

  &__nav {
    width: @b_loan-nav-width;
    &--left {
      float: left;
    }
    @media @smallerThanXS {
      width: 100%;
    }
    ul {
      list-style-type: none;

      li {
        background-color: white;
        padding-left: 30px;
        height: 34px;
        line-height: 34px;
        border-top: 1px solid transparent;
        margin-bottom: 1px;
        &:not(.active):hover {
          text-decoration: underline;
          cursor: pointer;
        }
        &:last-child {
          border-bottom: 1px solid transparent;
        }
        &.active {
          color: white;
          box-shadow: 0px 0px 0px 1px @green-main;
          background-color: @green-main;
          position: relative;
          &:after {
            content: "";
            border-top: 16px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 12px solid @green-main;
            position: absolute;
            right: -12px;
          }
          &:before {
            content: "";
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            border-left: 13px solid @green-main;
            position: absolute;
            right: -14px;
            top: -2px;
          }
        }
      }
    }
  }
  &__image {
    float: right;
    width: 33%;
    margin-left: 20px;
    @media @smallerThanMD {
      display: none;
    }
    .img {
      padding-bottom: 70%;
      background: url("../images/img2.jpg") no-repeat;
      background-size: cover;
      width: 100%;
    }
  }
  &__content {
    font-size: @text-sm;

    > div {
      display: none;
      &.active {
        display: block;
      }
    }

      /*.btn {
        margin-top: 20px;
      }*/

    &--right {
      vertical-align: top;
      margin-left: @b_loan-nav-width + 30;
      @media @smallerThanXS {
        margin-left: 0;
        margin-top: 20px;
        float: left;
      }
    }

    &-title {
      font-size: @text-lg;
      margin-bottom: 0.5em;
    }
  }
  /*.btn {
    margin-left: @b_loan-nav-width + 30;
  }*/
}