//company list
.companies {
  text-align: center;
  ul {
    list-style-type: none;
    display: inline-block;
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
  a {
    @sprite-position-y: -237px;
    height: 55px;
    background-image: url("../images/sprite.png");
    overflow: hidden;
    text-indent: -999px;
    display: inline-block;
    &.oakbank {
      width: 210px;
      background-position: 0px @sprite-position-y;
    }
    &.lendingclub {
      width: 200px;
      background-position: -232px @sprite-position-y;
    }
    &.dealstruck {
      width: 175px;
      background-position: -466px @sprite-position-y;
    }
    &.fundbox {
      width: 165px;
      background-position: -667px @sprite-position-y;

    }
    &.ondeck {
      width: 140px;
      background-position: -846px @sprite-position-y;

    }
  }
}
