//contact form (on inner contact page)
@contact-form-background: @gray-background;
@contact-form-padding: 15px;

form.form-contact {
  background-color: @contact-form-background;
  padding: @contact-form-padding;
  max-width: 485px;
  .row {
    margin-bottom: @contact-form-padding;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .captcha {
    font-size: @text-sm;
  }
}
