.custom_tabs {
  color: #595959;
  &__title {
    font-size: 23px;
    font-weight: bold;
  }
  &__content {
    > * {
      + * {
        margin-top: 30px;
      }
    }
  }
  &__text {
    line-height: 2;
  }
  &__control {
    margin: 0 auto;
    max-width: 160px;
    padding: 25px;
    float: left;
    width: 33%;
    transition: @hover-transition;
    @media @smallerThanSM {
      padding: 15px 5px;
      text-align: center;
    }
    &-title {
      font-weight: bold;
    }
    &-text {

    }
    &-img {
      i {
        font-size: 70px;
        margin-bottom: 15px;
      }
    }
    &:hover, &.active {
      color: white;
      background-color: @blue-main;
    }
  }
}