//image with title styles
@promo-max-width: 390px;

.promo {
  max-width: 390px;
  margin: 0 auto;
  &__title {

    text-align: center;

    &--filled {
      padding: 10px 0;
      color: white;
      line-height: 1;
      background-color: @blue-background;
    }
  }
  &__img {
    background: url("../images/img1.jpg") no-repeat;
    background-size: cover;
    padding-top: 57%;
    img {
      max-width: 100%;
    }
  }
}