//main page review in slider
.review {
  .clearfix;
  &__quote {
    float: left;
    width: 80%;
    padding: 15px 20px 0 10px;
    font-size: @text-lg;
    font-style: italic;
    color: @gray-text;
    position: relative;
    &:before {
      color: @black-text-main;
      content: open-quote;
      position: absolute;
      font-style: normal;
      font-size: 30px;
      left: 0;
      top: 10px;
    }
    &:after {
      color: @black-text-main;
      content: close-quote;
      font-style: normal;
      font-size: 30px;
      position: relative;
      top: 20px;
      line-height: 10px;
    }

    @media @smallerThanSM {
      width: 100%;
      padding: 20px 15px;
      font-size: 16px;
    }
  }
  &__all_link {
    float: right;
    position: relative;
    top: 20px;
    font-style: normal;
    a {
      color: @black-text-main;
      text-decoration: none;
      &:hover {
        color: @red-link;
      }
    }
  }
  &__author {
    float: right;
    width: 20%;
    text-align: center;
    &-photo {
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      max-width: 100%;
      box-shadow: 3px 3px 0px 1px @gray-text;
      img {
        vertical-align: middle;
        max-width: 100%;
      }
      @media @smallerThanSM {
        display: none;
      }
    }
    @media @smallerThanSM {
      float: left;
      width: 100%;
    }
  }
}