//steps
@steps-margin: 30px;

.steps_container {
  max-width: 550px;
  margin: 0 auto;
}
.steps {
  font-size: @text-sm;

  &__item {

    margin-bottom: @steps-margin;

    &--img-left {
      //for sprite
      padding-left: 75px;
      position: relative;
      @media @smallerThanSM {
        padding-left: 60px;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 46px;
        height: 46px;
        font-family: icomoon;
        color: white;
        left: 14px;
        font-size: 46px;
        vertical-align: top;
        line-height: 1;
        @media @smallerThanSM {
          font-size: 36px;
        }
      }
      &.img1 {
        &:before {
          content: "\e904";
        }
      }
      &.img2 {
        &:before {
          content: "\e905";
        }
      }
      &.img3 {
        &:before {
          content: "\e900";
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
    &-title {
      font-size: 22px;
      margin-bottom: 10px;
      font-weight: bold;
      @media @smallerThanSM {
        font-size: 18px;
      }
    }
  }
}