//contact form (on inner contact page)
@unsubscribe-form-background: @gray-background;
@unsubscribe-form-padding: 15px;

.unsubscribe {
  .two-cols {
    background: @unsubscribe-form-background;
    padding: @unsubscribe-form-padding;
    .clearfix;

    .col, .main-col, .right-col {
      float: left;
      width: 50%;
      &:first-child {
        padding-right: 25px;
      }
      &:last-child {
        padding-left: 25px;
      }
      @media @smallerThanSM {
        width: 100%;
        &:first-child {
          margin-bottom: 25px;
        }
        &:first-child, &:last-child {
          padding: 0;
        }
      }
    }
    .row {
      margin-bottom: @unsubscribe-form-padding;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .form {
    > .row {
      margin-bottom: 20px;
    }
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
}
