@white-text-color: #fff;

html, body {
  height: 100%;

  .body-container {
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;

    .right-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      background-color: rgba(0,132,196,0.3);
      margin-left: -0.9%;
      z-index: 1;

      @media @LpSmallerThanMD {
        background-color: transparent;
      }
    }

    .footer {
      padding: 20px 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: transparent;
      font-family: "Dosis";
      color: @white-text-color;
      opacity: 0.5;

      .footer-align {
        @media @smallerThanSM {
          text-align: center;
        }
        &:last-child {
          text-align: right;
          padding-right: 30px;
          @media @smallerThanSM {
            text-align: center;
            padding-right: 15px;
          }
        }
      }

      &__text {
        padding-left: 20px;
        display: inline-block;
        color: @white-text-color;
        font-size: 16px;

        &:first-child {
          padding-left: 10px;
        }

        &.as-link {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.landing-container {
  position: relative;
  font-family: "Dosis";
  padding: 80px 0 60px;
  @media @LpSmallerThanMD {
    padding: 40px 0 60px;
  }

  .container {
    .landing-col {
      overflow: hidden;
      z-index: 10;
    }
    .row {
      margin: 0;
    }

    .logo {
      width: 400px;
      height: 65px;
      margin: 0 0 40px 0;
      display: block;

      @media @LpSmallerThanMD {
        margin: 0 auto 15px;
      }
    }

    .main-title {
      color: @white-text-color;
      text-align: left;
      font-size: 56px;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 70px;
      opacity: 0.7;

      @media @LpSmallerThanMD {
        margin: 20px 0;
        text-align: center;
        font-size: 36px;
      }
    }

    .subtitle {
      text-transform: none;
      font-size: 32px;
      color: @white-text-color;
      font-weight: 500;
      line-height: 1.5;
      margin: 0 0 35px 0;
      opacity: 0.7;

      &--mb {
        margin-bottom: 100px;

        @media @LpSmallerThanMD {
          display: none;
        }
      }
    }

    .landing__text {
      width: 85%;
      margin-bottom: 60px;
      padding-left: 125px;
      position: relative;
      color: #fff;

      @media @LpSmallerThanMD {
        display: none;
      }

      &:before {
        content: '';
        min-width: 107px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        .transform(translateY(-50%));

        @media @LpSmallerThanMD {
          top: 0;
          left: 50%;
          .transform(translate(-50%, 0));
        }
      }

      &.img-1 {
        &:before {
          background: url("../assets/images/ola.jpg") center center no-repeat;
        }
      }

      &.img-2 {
        &:before {
          background: url("../assets/images/comodo-secure.png") center center no-repeat;
        }
      }

      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.1;
        opacity: 0.5;

        &:first-child {
          font-weight: bold;
        }
      }
    }
  }

  .form {
    color: @white-text-color;

    @media @LpSmallerThanMD {
      padding-bottom: 30px;
    }

    &-title {
      margin: 15px 0 20px;
      font-size: 32px;

      @media @LpSmallerThanMD {
        margin: 0;
      }
    }

    .form-item {
      .col-md-12:last-child {
        padding-bottom: 5px;
      }
    }

    label {
      margin: 20px 0 5px;
      display: inline-block;
      font-size: 16px;
    }

    input, select {
      height: 90px;
      padding: 0 15px;
      background-color: rgba(64, 109, 132, 0.33);
      border-radius: 0;
      font-size: 30px;
      color: #73caf5;

      @media @smallerThanSM {
        height: 60px;
        font-size: 30px;
      }

      &:active, &:focus {
        border-color: transparent;
        box-shadow: 0 0 10px 2px rgba(57, 181, 73, 0.59);
      }
    }

    select {
      @media @smallerThanSM {
        padding:0 40px 0 15px;
        background-position: 101% center;
      }
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

      > option {
        color: #000;
        background: #fff;
        font-size: 24px;
      }

      &.error {
        border: 1px solid #e60b00;
      }
    }

    &-disclaimer {
      margin-top: 30px;
      text-align: center;
      p {
        margin-bottom: 10px;
        opacity: 0.7;
        &:last-child {
          margin-bottom: 0;
        }
        
        a {
          color: #2def46;
          outline: none;
        }
      }
    }

    .to-action {
      outline: none;
      margin: 30px 0 20px;
      width: 100%;
      border-radius: 5px;

      @media @smallerThanSM {
        margin: 30px 0 20px;
      }
    }

    .btn-container {
      overflow: hidden;
      &.loading {
        &:before {
          background-position: 50% 38%;

          @media @smallerThanSM {
            background-position: 50% 35%;
          }
        }
        > * {
          opacity: 0.6;
        }
      }
    }

    .to-back-container {
      display: block;

      .to-back {
        display: none;
        font-size: 26px;
        text-decoration: underline;
        cursor: pointer;
        color: #fff;
        opacity: 0.7;

        &:hover {
          text-decoration: none;
        }

        @media @smallerThanSM {
          height: 40px;
          line-height: 40px;
          font-size: 20px;
        }
      }
    }
  }

  .mobile-content {
    display: none;
    color: @white-text-color;

    @media @LpSmallerThanMD {
      margin-bottom: 20px;
      display: block;
      text-align: center;
    }

    img {
      margin: 0 15px 15px;
    }
  }
}

.modal-dialog {
  .modal-body {
    p, li {
      margin-bottom: 10px;
    }

    ol, ul {
      list-style-position: inside;
    }

    .b2c-table th {

    }
  }

  .btn {
    height: 40px;
    line-height: 40px;
    outline: none;
    font-size: 20px;

    &-default {
      &:active:focus {
        outline: none;
      }
    }
  }
}