/*Form with labels v2 (with blue background)*/
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

body,
.b2c-form-labels-v2 {
    background: #2F5B7C url('../images/label-v2/b2c-bg-body.jpg') repeat;
}

p.b2c-page-title {
    font: 700 50px/50px 'PT Sans', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

p.b2c-page-subtitle {
    font: 400 italic 24px/24px 'PT Sans', sans-serif;
    color: #fdb00d;
    text-align: center;
    margin-bottom: 50px;
}

.b2cloader {
    border: 5px solid #4c7691 !important;
    border-radius: 10px;
    margin-top: 100px !important;
}

.b2c-form-labels-v2,
.b2c-form-labels-v2 .b2c-form-container {
    border: none;
    max-width: 880px;
    padding: 0;
    margin: 0 auto;
}

.b2c-search,
.b2c-form-labels-v2 .b2c-returned,
.b2c-form-labels-v2 .b2c-step {
    background: #fff;
    border: 5px solid #4c7691;
    border-radius: 10px;
    padding: 20px 40px 40px 40px;
}

.b2c-form-labels-v2 .b2c-form-title {
    font: 700 36px/36px 'PT Sans', sans-serif;
    color: #5b7781;
    background: none;
    padding: 20px 0 0;
    text-align: center;
}

.b2c-form-labels-v2 p.b2c-form-subtitle {
    font: 400 14px/18px 'PT Sans', sans-serif;
    color: #666;
}

.b2c-form-labels-v2 .b2c-hr-bottom {
    border-bottom: 1px solid #ebf0f3;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.b2c-form-labels-v2 select,
.b2c-form-labels-v2 input[type=tel],
.b2c-form-labels-v2 input[type=text],
.b2c-form-labels-v2 input[type=email],
.b2c-form-labels-v2 input {
    outline: none;
    border: 1px solid #cfdbe0;
    background-color: #fafafa;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: inset 0 1px 0 #f0f0f0;
}

.b2c-row input.b2c-date[type="text"] {
    background-color: #fafafa;
}

.b2c-zip-wrap {
    width: 100%;
    max-width: 160px;
    float: left;
}

.b2c-zip input[type=text] {
    float: left;
    width: 28%;
    margin-right: 2%;
}

.pd-zip-lookup {
    padding-left: 10px;
}

.b2c-form-labels-v2 select:focus,
.b2c-form-labels-v2 input[type=tel]:focus,
.b2c-form-labels-v2 input[type=text]:focus,
.b2c-form-labels-v2 input[type=email]:focus,
.b2c-form-labels-v2 input {
    border: 1px solid #fdb214;
    background-color: #fff;
}

.b2c-form-labels-v2 label.PLACEHOLDER-LABEL,
.b2c-form-labels-v2 .placeholder {
    display: none !important;
    text-indent: -9999px;
}

.b2c-form-labels-v2 .b2c-check {
    background: url(../images/label-v2/bg-check-v2.jpg) no-repeat;
    width: 100%;
    max-width: 380px;
    height: 212px;
    float: right;
    background-size: 100%;
}


.b2c-form-labels-v2 .b2c-step3 .b2c-row {
    margin-bottom: 10px;
}

.b2c-form-labels-v2 .b2c-req-marker {
    display: none;
}

.b2c-form-labels-v2 .b2c-btn:after {
    display: none;
}

.b2c-form-labels-v2 .b2c-btn {
    color: #372100;
    font: 700 24px/60px 'PT Sans', sans-serif;
    height: 60px;
    padding: 0 35px;
    margin: 20px auto;
    background: #ff9700;
    background: -webkit-linear-gradient(top, #fdda8e 0,#ff9700 100%);
    background: linear-gradient(to bottom, #fdda8e 0,#ff9700 100%);
    text-shadow: 0 1px 0 #fdd789;
    border: 1px solid #fdbd37;
}

.b2c-form-labels-v2 .b2c-btn:hover {
    color: #372100;
    background: #ffe9a8;
    background: -webkit-linear-gradient(top, #ffe9a8 0,#ff8e00 100%);
    background: linear-gradient(to bottom, #ffe9a8 0,#ff8e00 100%);
}

.b2c-form-labels-v2 .b2c-row select.b2c-error,
.b2c-form-labels-v2 .b2c-row input.b2c-error[type="text"],
.b2c-form-labels-v2 .b2c-error {
    border: 1px solid #953b39 !important;
    box-shadow: 0 0 3px #d99c9b;
}

.b2c-form-labels-v2 .b2c-error:after {
    display: block;
    content: '';
    background: url(../images/label-v2/ico-error.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -20px;
    top: 0;
}

.b2c-input-wrap select {
    padding: 0;
    font-size: 12px;
}
/*Progress Bar*/
.b2c-progress-bar-wrap {
    margin: 0 auto 60px auto;
    width: auto;
    max-width: 700px;
    border: none;
    background: none;
    overflow: visible;
    padding: 5px 80px;
}

.b2c-progress-text {
    display: none;
}

.b2c-progress-bar:after,
.b2c-progress-bar-wrap:after,
.b2c-progress-bar-wrap:before {
    display: block;
    content: '';
    background: url(../images/label-v2/bg-progress-steps.png) no-repeat;
    width: 150px;
    height: 73px;
    position: absolute;
    top: -5px;
    z-index: 10;
}

.b2c-progress-bar-wrap:before {
    left: 20px;
}

.b2c-progress-bar-wrap:after {
    right: 0;
    background-position: -400px 0;
}

.b2c-progress-bar:after {
    left: 50%;
    margin-left: -70px;
    background-position: -200px 0;
}

.b2c-progress-bar {
    background: none repeat scroll 0 0 #87a2ac;
    border: none;
    border-bottom: 1px solid #9fb4bf;
    border-radius: 15px;
    box-shadow: 0 3px 3px #7e97a1 inset;
}

.b2c-progress-bar-line {
    background: url(../images/label-v2/bg-progress-line.png) repeat-x !important;
    margin: 4px 0;
    border-right: none;
    border-radius: 10px;
    height: 19px;
}

.pd-accept input[type=checkbox] {
    margin-top: 3px;
}

.pd-accept > label {
    width: 100% !important;
}

.b2c-car-form-v2.b2c-form-labels-v2 label {
    width: 120px;
    float: left;
    margin-right: 18px;
    font-size: 12px;
}

.b2c-car-form-v2 .b2c-helper {
    display: none;
}

.b2c-car-form-v2 .b2c-mb20 {
    margin-bottom: 20px;
}

.b2c-car-form-v2 .b2c-mb40 {
    margin-bottom: 40px;
}

.b2c-car-form-v2 .b2c-slider label {
    float: none;
}

.b2c-car-form-v2 .b2c-slider input[type="text"] {
    float: right;
}

.b2c-car-form-v2 p.b2c-form-subtitle {
    font: 400 22px/18px 'PT Sans', sans-serif;
    margin: 0 0 20px 0;
}

.b2c-car-form-v2 .b2c-loader {
    min-height: 250px;
}

.b2c-form-labels-v2 .b2c-radio-holder {
    float: left;
    max-width: 160px;
}

.b2c-form-labels-v2 .b2c-radio {
    width: auto;
}

.b2c-form-labels-v2 .b2c-radio input {
    float: none;
}


@media only screen and (max-width : 480px) {
    .b2c-form-labels-v2 p.b2c-page-subtitle {
        font-size: 18px;
        line-height: 18px;
    }

    .b2c-form-labels-v2 .b2c-form-title,
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 30px;
        line-height: 30px;
    }

    .b2c-form-labels-v2 .b2c-form-container {
        min-width: 260px;
        margin-bottom: 200px;
    }

    .b2c-col:first-child,
    .b2c-col {
        float: none;
        width: auto;
        margin: 0;
        clear: both;
        padding-bottom: 40px;
    }

    .b2c-form-labels-v2 .b2c-fl-r {
        float: none !important;
    }

    .b2c-input-wrap,
    .b2c-zip-wrap,
    .b2c-form-labels-v2 label {
        width: 100%;
        margin: 0;
        float: none;
        max-width: none;
    }

    .b2c-form-labels-v2 select,
    .b2c-form-labels-v2 input[type=tel],
    .b2c-form-labels-v2 input[type=text],
    .b2c-form-labels-v2 input[type=email],
    .b2c-form-labels-v2 input {
        max-width: none;
        width: 100% !important;
    }

    .b2c-col-empty {
        display: none;
    }

    .b2cloader {
        margin-top: 10px !important;
        height: 200px !important;
        min-height: 200px !important;
    }

    .b2c-date-select.b2c-three-cols .b2c-col {
        width: 30% !important;
        min-width: 0 !important;
        margin-left: 5% !important;
        float: left !important;
        padding-bottom: 0;
        clear: none;
    }

    .b2c-date-select.b2c-three-cols .b2c-col:first-child {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width : 460px) {
    .b2c-progress-bar-wrap {
        display: none;
    }
}

@media only screen and (max-width : 320px) {
    p.b2c-page-subtitle {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .b2c-form-labels-v2 .b2c-form-title,
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 20px !important;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .b2c-form-labels-v2 .b2c-form-container {
        min-width: 280px;
    }

    .b2c-form-labels-v2 .b2c-step {
        padding: 20px;
    }

    .b2c-form-labels-v2 .b2c-form-title {
        padding: 0;
        margin: 0 0 10px 0;
    }

    .b2c-form-labels-v2 .b2c-hr-bottom {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
    }
}
