/*Form with labels v2 (with blue background)*/
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

.b2c-form-labels-v2 {
    background:#2d6b9c url('../images/label-v2.3/b2c-bg-body.jpg') repeat;
}
.b2c-form-labels-v2 .b2c-step.b2c-consent,
.b2c-form-labels-v2 .b2c-form {
    border-radius:10px;
    background:#fff;
}
p.b2c-page-title {
    font:700 40px/40px 'PT Sans', sans-serif;
    color:#fff;
    margin-bottom:0;
    padding:0;
}
p.b2c-page-subtitle {
    font:300 20px/20px 'PT Sans', sans-serif;
    color:#fff;
    margin:0 0 30px 0;
}
.b2cloader {
    border: 2px solid #afafa7!important;
    border-radius:10px;
    margin-top:100px!important;
}
.b2c-form-labels-v2,
.b2c-form-labels-v2 .b2c-form-container {
    border:none;
    max-width: 880px;
    padding:0;
    margin:0 auto;
}
.b2c-form-labels-v2 .b2c-returned,
.b2c-form-labels-v2 .b2c-btn-wrap,
.b2c-form-labels-v2 .b2c-step {
    background:#d7dee3;
    border-radius:10px;
    padding:20px 40px 40px 40px;
    position: relative;
    margin:20px;
}
.b2c-form-labels-v2 .b2c-col {
    margin-bottom: 0;
}
.b2c-form-labels-v2 .b2c-btn-wrap {
    padding:10px 40px;
}
.b2c-title-wrap {
    padding:0 20px;
    position: relative;
}
.b2c-form-labels-v2 .b2c-form-title{
    font:700 20px/20px 'PT Sans', sans-serif;
    color:#1f1f1f;
    background:none;
    padding:20px 0 0;
}
.b2c-form-labels-v2 p.b2c-form-subtitle {
    font:400 14px/18px 'PT Sans', sans-serif;
    color:#888;
}
.b2c-step-num {
    position: absolute;
    left:-20px;
    top:12px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#068f1b), color-stop(100%,#38b23b));
    background: linear-gradient(to bottom, #068f1b 0,#38b23b 100%);
    height:30px;
    width:30px;
    text-align:center;
    border-radius:26px;
    color:#fff;
    border: 4px solid #fff;
    font:700 18px/30px 'PT Sans', sans-serif;
}
.b2c-form-labels-v2 select,
.b2c-form-labels-v2 input[type=tel],
.b2c-form-labels-v2 input[type=text],
.b2c-form-labels-v2 input[type=email],
.b2c-form-labels-v2 input {
    outline: none;
    border:1px solid #979998;
    background-color: #fff;
    transition: all 0.3s;
    box-shadow: inset 0 1px 0 #f0f0f0;
}
.b2c-row input.b2c-date[type="text"] {
    background-color: #fafafa;
}
.b2c-zip-wrap {
    width:100%;
    max-width: 200px;
    min-width: 200px;
    float:left;
}
.b2c-zip input[type=text] {
    float: left;
    width: 28%;
    margin-right: 2%;
}
.b2c-form-labels-v2 select:focus,
.b2c-form-labels-v2 input[type=tel]:focus,
.b2c-form-labels-v2 input[type=text]:focus,
.b2c-form-labels-v2 input[type=email]:focus,
.b2c-form-labels-v2 input {
    border:1px solid #1e7cc3;
    background-color: #fff;
}
.b2c-form-labels-v2 label.PLACEHOLDER-LABEL,
.b2c-form-labels-v2 .placeholder {
    display:none!important;
    text-indent: -9999px;
}
.b2c-form-labels-v2 .b2c-check {
    min-height:340px;
    margin-top:25px;
    background:#fff url(../images/label-v2/bg-check-v2.jpg) no-repeat 50%;
    width:100%;
    max-width:380px;
    height:212px;
    float:right;
    background-size:100%;
    border:1px solid #979998;
    border-radius:5px;
}
.b2c-form-labels-v2 .b2c-fl-r {
    float: right !important;
}
.b2c-form-labels-v2 .b2c-step3 .b2c-row{
    margin-bottom:10px;
}
.b2c-form-labels-v2 .b2c-req-marker {
    display:none;
}
.b2c-form-labels-v2 .b2c-btn:after {
    display:none;
}
.b2c-form-labels-v2 .b2c-btn {
    color: #fff;
    font: 700 24px/60px 'PT Sans', sans-serif;
    height: 60px;
    padding: 0 35px;
    margin: 20px auto;
    background: #3cb54e;
    background: -webkit-linear-gradient(top, #3cb54e 0,#0c9018 100%);
    -pie-background: linear-gradient(top, #3cb54e 0,#0c9018 100%);
    background: linear-gradient(to bottom, #3cb54e 0,#0c9018 100%);
    text-shadow: 0 1px 0 #007d07;
    border: 1px solid #007d07;
}
.b2c-form-labels-v2 .b2c-btn:hover {
    color:#fff;
    background: #44d454;
    background: -webkit-linear-gradient(top, #44d454 0,#007d07 100%);
    -pie-background: linear-gradient(top, #44d454 0,#007d07 100%);
    background: linear-gradient(to bottom, #44d454 0,#007d07 100%);
}
.b2c-form-labels-v2 .b2c-row select.b2c-error,
.b2c-form-labels-v2 .b2c-row input.b2c-error[type="text"],
.b2c-form-labels-v2 .b2c-error {
    border:1px solid #da9fa3!important;
    background:#efb5b4!important;
    box-shadow: none;
}
.b2c-form-labels-v2 .b2c-error:after {
    display:block;
    content: '';
    background:url(../images/label-v2/ico-error.png) no-repeat;
    width:16px;
    height: 16px;
    position: absolute;
    right: -20px;
    top: 0;
}
/*Progress Bar*/
.b2c-progress-bar-wrap {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#068f1b), color-stop(100%,#38b23b));
    background: linear-gradient(to bottom, #068f1b 0,#38b23b 100%);
    border-radius:10px;
    color:#fff;
    border: 4px solid #fff;
    font:700 18px/30px 'PT Sans', sans-serif;
    margin:20px 0;
    width:100%;
}
/*Radio Labels*/
.b2c-form-labels-v2 .b2c-radio-holder {
    float: left;
    max-width: 160px;
}
.b2c-form-labels-v2 .b2c-radio {
    width:auto;
}
.b2c-form-labels-v2 .b2c-radio input {
    float:none;
}
@media only screen and (max-width : 960px) {
    .b2c-title-wrap {
        padding:0 60px;
    }
    .b2c-step-num {
        left:20px;
    }
    .b2c-form-labels-v2 {
        padding:10px!important;
    }
}
@media only screen and (max-width : 480px) {
    .b2c-form-labels-v2 p.b2c-page-subtitle {
        font-size: 18px;
        line-height:18px;
    }
    .b2c-form-labels-v2 .b2c-form-title,
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 30px;
        line-height:30px;
    }
    .b2c-form-labels-v2 .b2c-form-container {
        min-width: 260px;
        margin-bottom:200px;
    }
    .b2c-col:first-child{
        padding-bottom:20px;

    }
    .b2c-col:first-child,
    .b2c-col {
        float:none;
        width:auto;
        margin:0;
        clear: both;
    }
    .b2c-form-labels-v2 .b2c-fl-r {
        float: none !important;
    }
    .b2c-zip-wrap,
    .b2c-form-labels-v2 label {
        width:100%;
        margin:0;
        float:none;
        max-width: none;
    }
    .b2c-form-labels-v2 select,
    .b2c-form-labels-v2 input[type=tel],
    .b2c-form-labels-v2 input[type=text],
    .b2c-form-labels-v2 input[type=email],
    .b2c-form-labels-v2 input {
        max-width: none;
        width:100%!important;
    }
    .b2c-col-empty {
        display:none;
        }
    .b2cloader {
        margin-top:10px!important;
        height:200px!important;
        min-height: 200px!important;
    }
    .b2c-date-select.b2c-three-cols .b2c-col{
        width: 30%!important;
        min-width: 0!important;
	    margin-left:5%!important;
        float: left!important;
        padding-bottom:0;
        clear: none;
    }
    .b2c-date-select.b2c-three-cols .b2c-col:first-child{
	    margin-left:0!important;
    }
}

@media only screen and (max-width : 460px) {
    .b2c-form-labels-v2 .b2c-form-title,
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 18px!important;
        line-height:20px!important;
    }
}
@media only screen and (max-width : 320px) {
     .b2c-form-labels-v2 {
        padding:5px!important;
    }
       p.b2c-page-subtitle {
        font-size: 15px;
        margin-bottom:10px;
    }
    .b2c-form-labels-v2 .b2c-form-title {
        padding-top:20px!important;
        font-size: 16px!important;
    }
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 16px!important;
        margin-bottom:10px;
    }
    .b2c-form-labels-v2 .b2c-form-container {
        min-width: 270px;
    }
    .b2c-form-labels-v2 .b2c-step {
        padding:20px;
    }
    .b2c-form-labels-v2 .b2c-form-title {
        padding: 0;
        margin:0 0 10px 0;
    }
    .b2c-form-labels-v2 .b2c-hr-bottom {
        padding:0 0 10px 0;
        margin:0 0 10px 0;
    }
}