.b2c-agreement {
    display:none;
}
.b2c-form-title.b2c-collapse {
    font-size: 16px!important
}
.b2c-collapse:after {
      background-position:-13px 0;
}
.b2c-collapse.b2c-active:after {
    background-position:0 0;
}
@media only screen and (max-width : 550px) {
    .b2c-form-container {
        min-width: 200px;
        width: auto;
    }
    .b2c-form-container ::-webkit-input-placeholder {
        font-size: 11px!important;
    }
    .b2c-form-container :-moz-placeholder {
       font-size: 11px!important;
    }    
} 
@media only screen and (max-width : 480px) {
    .b2c-block,
    .b2c-form-container {
        width: auto;
    }        
    .b2c-step1,
    .b2c-step2,
    .b2c-step3 {
        padding: 0 10px;
    }    
    .b2c-form-title {
        font-size: 15px!important;
    }
    .b2c-message {
        font-size: 12px;
    }
    .b2c-check-img {
        left: -30px;
        background: url("../images/bg-check.jpg") no-repeat ;
        width: 270px;
        height: 152px;
    }
    .b2c-progress-bar-wrap span {
        font-size: 15px;
    }
    .b2c-progress-bar-wrap {
        font-size: 12px;
    } 
    .b2c-form-action.b2c-security-logos,
    .b2c-security-logos .b2c-btn-wrap {
        background: none;
    }        
    .b2c-row label {
        font-size: 12px;
    }   
    
    .b2c-title-block>p {
        font-size: 20px;
        font: 700 20px/22px Arial;
        margin:10px auto 20px auto;
    } 
    .b2c-ft-step p {
        font: 700 14px/15px Arial;
        padding-left: 50px;
    }
    .b2c-two-cols .b2c-col {
         float: none;
         width: auto;   
         margin:0 0 10px 0!important;
    }      
    .b2c-three-cols .b2c-col {
        float: none;
        width: 100%;
        margin: 0 0 10px 0!important;
    }

    .ui-widget-overlay {
        opacity: 0.8
    }
    .b2c-dialog {
        width: 300px!important;
        left: 50%!important;
        top: 50%!important;
        margin-left: -150px!important;
        margin-top: 150px!important;
    }    
    .b2c-dialog-text {
        width: 300px!important;
        height:340px!important;
    }
    .b2c-dialog .b2c-title-returned {
        padding: 10px 40px;
    }
    .b2c-dialog .b2c-title-returned p:first-child{ font-size: 22px; line-height: 20px}
    .b2c-dialog .b2c-title-returned p { font-size: 18px;  line-height: 20px}
    .b2c-dialog .ui-dialog-buttonset button {
        width: 200px;
        font-size: 13px;
    }
    a.b2c-btn-verify {
        font-size: 16px;
        padding: 0 5px;
    }
    /*LoanCall*/
    .b2c-loancall .b2c-form-container {
        height:auto;
    }
    .b2c-three-cols.b2c-dob .b2c-col:first-child {
        margin-left:0!important;
    }
    .b2c-three-cols.b2c-dob .b2c-col {
        float:left!important;
        width:25%!important;
        margin-left:2%!important;
    }
    .b2c-three-cols.b2c-dob .b2c-col.b2c-col-year {
        width:46%!important;
    }
    .b2c-date-select.b2c-three-cols .b2c-col{
        width: 30%!important;
        min-width: 0!important;    
	    margin-left:5%!important;
        float: left!important;
        padding-bottom:0;
        margin-bottom: 0;
        clear: none;
    }
    .b2c-date-select.b2c-three-cols .b2c-col:first-child{
	    margin-left:0!important;
    }
    /*Returned*/
    .b2c-returned .b2c-norton-top {
        display: none;
    }
    .b2c-returned .b2c-three-cols .b2c-col{
        width: auto;
        margin: 0 0 10px 0;
        float: none;
    }
}
@media only screen and (max-width : 440px) {
   
    .b2c-col   {
        width: 100%;
        float: none;
    }
    .b2c-zip input[type=text] {
        margin-bottom: 10px;
    }    
    .b2c-ft-step {
        float: none;
        margin:0 0 10px 0;
        width: 96%;
        padding: 10px 2%;
    }

}
@media only screen and (max-width : 320px) {
    .b2c-block,
    .b2c-form-container {
        min-width: 200px;
        max-width: 300px;
    }       
     .b2c-form-title {
        font-size: 13px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;        
    }
    .b2c-two-cols .b2c-row {
        margin-bottom:0!important;
    }
    .b2c-check-img {
        left: auto;
        right: 0;
    }
    .b2c-search-loading-wrap .before,
    .b2c-search-loading-wrap:before,
    .b2c-search-loading-wrap .after,
    .b2c-search-loading-wrap:after {
        display: none;
    }    
    .b2c-error-message {
        white-space: inherit;
        width: auto!important;
    }
    /*Returned*/
    .b2c-returned {
        min-width: 200px;
    }
    .b2c-returned .b2c-norton-top {
        display: none !important;
    }
    .b2c-returned .b2c-three-cols .b2c-col{
        width: auto;
        margin: 0 0 10px 0;
        float: none;
    }
    .b2c-ssn,
    .b2c-zip {
        overflow: hidden
    }
    .b2c-dialog-text .ui-widget-content {
        height:210px!important;
    }
    .b2c-dialog-text {
        width: 300px!important;
        height:340px!important;
    }
    .b2c-consent {
        padding:10px;
    }
    .b2c-consent p {
        margin-bottom:5px!important;
    }
    /*Loancall mobile*/
    .b2c-loancall .b2c-consent {
        height:auto;
    }
    .b2c-three-cols.b2c-dob .b2c-col {
        float:left!important;
        width:25%!important;
        margin-left:2%!important;
    }
    .b2c-three-cols.b2c-dob .b2c-col:first-child {
        margin-left:0!important;
    }
    .b2c-three-cols.b2c-dob .b2c-col.b2c-col-year {
        width:46%!important;
    }
}
