/*Form with labels v2 (with blue background)*/
@import url(//fonts.googleapis.com/css?family=Lato:400,300,700);

body,
.b2c-form-labels-v2 {
    background: #425b84;
}

p.b2c-page-title {
    font: 400 40px/40px 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

p.b2c-page-subtitle {
    font: 300 20px/20px 'Lato', sans-serif;
    color: #859bc0;
    text-align: center;
    margin: 0 0 30px 0;
}

.b2cloader {
    border: 3px solid #859bc0 !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 100px !important;
}

.b2c-form-labels-v2 .b2c-col{
    margin-bottom: 0;
}
.b2c-form-labels-v2,
.b2c-form-labels-v2 .b2c-form-container {
    border: none;
    max-width: 880px;
    padding: 0;
    margin: 0 auto;
}

.b2c-search,
.b2c-form-labels-v2 .b2c-returned,
.b2c-form-labels-v2 .b2c-step {
    background: #fff;
    border: 3px solid #859bc0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 20px;
}

.b2c-form-labels-v2 .b2c-form-title {
    font: 300 26px/26px 'Lato', sans-serif;
    color: #fff;
    background: none;
    margin-bottom: 5px;
    padding: 10px 0 0;
}

.b2c-form-labels-v2 p.b2c-form-subtitle {
    font: 400 13px/13px 'Lato', sans-serif;
    color: #859bc0;
}

.b2c-form-labels-v2 select,
.b2c-form-labels-v2 input[type=tel],
.b2c-form-labels-v2 input[type=text],
.b2c-form-labels-v2 input[type=email],
.b2c-form-labels-v2 input {
    outline: none;
    border: 1px solid #cfdbe0;
    background-color: #fafafa;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-box-shadow: inset 0 1px 0 #f0f0f0;
    -webkit-box-shadow: inset 0 1px 0 #f0f0f0;
    box-shadow: inset 0 1px 0 #f0f0f0;
}

.b2c-form-labels-v2 select {
    padding: 0 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.b2c-row input.b2c-date[type="text"] {
    background-color: #fafafa;
}

.b2c-input-wrap {
    width: 100%;
    float: left;
    max-width: 160px;
}

.b2c-zip-wrap {
    width: 100%;
    max-width: 160px;
    float: left;
}

.b2c-zip .pd-zip-lookup {
    font-size: 12px;
}
.b2c-zip input[type=text] {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.b2c-form-labels-v2 select:focus,
.b2c-form-labels-v2 input[type=tel]:focus,
.b2c-form-labels-v2 input[type=text]:focus,
.b2c-form-labels-v2 input[type=email]:focus,
.b2c-form-labels-v2 input {
    border: 1px solid #fdb214;
    background-color: #fff;
}

.b2c-form-labels-v2 label.PLACEHOLDER-LABEL,
.b2c-form-labels-v2 .placeholder {
    display: none !important;
    text-indent: -9999px;
}

.pd-accept label {
    width: 100%;
    text-align: left;
}

.b2c-form-labels-v2 .b2c-check {
    background: url(../images/label-v2/bg-check-v2.jpg) no-repeat;
    width: 100%;
    max-width: 380px;
    height: 212px;
    float: right;
    background-size: 100%;
}

.b2c-form-labels-v2 .b2c-fl-r {
    float: right !important;
}

.b2c-form-labels-v2 .b2c-step3 .b2c-row {
    margin-bottom: 10px;
}

.b2c-form-labels-v2 .b2c-req-marker {
    display: none;
}

.b2c-form-labels-v2 .b2c-btn:after {
    display: none;
}

.b2c-form-labels-v2 .b2c-btn {
    color: #fae4cd;
    font: 700 24px/50px 'Lato', sans-serif;
    height: 50px;
    padding: 0 35px;
    margin: 20px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ff9700;
    background: -webkit-linear-gradient(top, #fda003 0,#fc8908 100%);
    background: linear-gradient(to bottom, #fda003 0,#fc8908 100%);
    text-shadow: 0 1px 0 #fc8908;
    border: 1px solid #fc8908;
}

.b2c-form-labels-v2 .b2c-btn:hover {
    color: #fae4cd;
    background: #ff9700;
    background: -webkit-linear-gradient(top, #ff9700 0,#ff8e00 100%);
    background: linear-gradient(to bottom, #ff9700 0,#ff8e00 100%);
}

.b2c-form-labels-v2 .b2c-row select.b2c-error,
.b2c-form-labels-v2 .b2c-row input.b2c-error[type="text"],
.b2c-form-labels-v2 .b2c-error {
    border: 1px solid #953b39 !important;
    -moz-box-shadow: 0 0 3px #d99c9b;
    -webkit-box-shadow: 0 0 3px #d99c9b;
    box-shadow: 0 0 3px #d99c9b;
}

.b2c-form-labels-v2 .b2c-error:after {
    display: block;
    content: '';
    background: url(../images/label-v2/ico-error.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -20px;
    top: 0;
}


/*Progress Bar*/
.b2c-progress-bar-wrap {
    background: none;
    border: 2px solid #859bc0;
    margin: 20px 0 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    font: 14px/20px Arial;
}

.b2c-progress-text {
    top: 0;
}

.b2c-progress-bar-line {
    background: #546791;
    border: none;
    height: 20px;
}

.b2c-progress-bar {
    background: #384b73;
    border: none;
    -moz-box-shadow: none -webkit-box-shadow: none box-shadow: none;
}
/*Radio Labels*/
.b2c-form-labels-v2 .b2c-radio-holder {
    float: left;
    max-width: 160px;
}

.b2c-form-labels-v2 .b2c-radio {
    width: auto;
}

.b2c-form-labels-v2 .b2c-radio input {
    float: none;
}

@media only screen and (max-width : 940px) {
    .b2c-form-labels-v2 {
        padding: 10px !important;
    }

    .b2c-form-labels-v2 label {
        text-align: left;
    }

    p.b2c-page-subtitle {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .b2c-form-labels-v2 .b2c-form-title,
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 26px !important;
        line-height: 26px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width : 480px) {
    .b2c-form-labels-v2 p.b2c-page-subtitle {
        font-size: 18px;
        line-height: 18px;
    }

    .b2c-form-labels-v2 .b2c-form-title,
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 30px;
        line-height: 30px;
    }

    .b2c-form-labels-v2 .b2c-form-container {
        min-width: 260px;
        margin-bottom: 200px;
    }

    .b2c-col:first-child,
    .b2c-col {
        float: none;
        width: auto;
        margin: 0;
        clear: both;
        padding-bottom: 40px;
    }

    .b2c-form-labels-v2 .b2c-fl-r {
        float: none !important;
    }

    .b2c-input-wrap,
    .b2c-zip-wrap,
    .b2c-form-labels-v2 label {
        width: 100%;
        margin: 0;
        float: none;
        max-width: none;
    }

    .b2c-form-labels-v2 select,
    .b2c-form-labels-v2 input[type=tel],
    .b2c-form-labels-v2 input[type=text],
    .b2c-form-labels-v2 input[type=email],
    .b2c-form-labels-v2 input {
        max-width: none;
        width: 100% !important;
    }

    .b2c-col-empty {
        display: none;
    }

    .b2cloader {
        margin-top: 10px !important;
        height: 200px !important;
        min-height: 200px !important;
    }

    .b2c-date-select.b2c-three-cols .b2c-col {
        width: 30% !important;
        min-width: 0 !important;
        margin-left: 5% !important;
        float: left !important;
        padding-bottom: 0;
        clear: none;
    }

    .b2c-date-select.b2c-three-cols .b2c-col:first-child {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width : 320px) {
    p.b2c-page-subtitle {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .b2c-form-labels-v2 .b2c-form-title,
    .b2c-form-labels-v2 p.b2c-page-title {
        font-size: 20px !important;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .b2c-form-labels-v2 {
        min-width: 260px;
    }

    .b2c-form-labels-v2 .b2c-form-container {
        min-width: 270px;
    }

    .b2c-form-labels-v2 .b2c-step {
        padding: 20px;
    }

    .b2c-form-labels-v2 .b2c-form-title {
        padding: 0;
        margin: 0 0 10px 0;
    }

    .b2c-form-labels-v2 .b2c-hr-bottom {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
    }
}
