.b2c-loancall  .b2c-form-container {
    background:#feebc3;
    border:3px solid #959595;
    border-radius:10px;
    min-width: 280px;
}
.b2c-loancall .b2c-step2 .b2c-form-title {
    font-size: 13px;
    line-height: 13px;
    padding-bottom:0;
}
.b2c-loancall  .b2c-hr {
    border-color:#888;
}
.b2c-loancall  .b2c-form-title {
    background:none;
    text-align:center;
    color: #555555;
    font-size: 20px;
    font-weight: 700;
    margin-bottom:0;
}

.b2c-loancall .b2c-row .btn {
    margin-top:10px;
}
.b2c-loancall .b2c-step2 .b2c-col {
    margin-bottom:5px;
}
.b2c-loancall p.b2c-form-subtitle {
    font-size: 15px;
}
.b2c-loancall .b2c-row label {
    color:#666;
    font-weight:300;
}
.b2c-loancall .b2c-row select,
.b2c-loancall .b2c-row input[type=tel],
.b2c-loancall .b2c-row input[type=text] {
    border:1px solid #f4f4f4;
    background:#f4f4f4;
    border-radius:0;
    height:34px;
}
.b2c-loancall .b2c-row select {
    padding:7px 5px;
}

.b2c-loancall .b2c-row select:focus,
.b2c-loancall .b2c-row input[type=tel]:focus,
.b2c-loancall .b2c-row input[type=text]:focus {
    border:1px solid #e8bd61;
    box-shadow: 0 0 3px #e3b045;
}
.b2c-loancall .b2c-req-marker {
    display:none;
}
.b2c-loancall .b2c-helper {
    height:30px;
    width:30px;
}
.b2c-loancall .b2c-row .b2c-btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background: #f48127;
    font: 700 20px/45px 'Lato', sans-serif;
    border-radius:2px;
    height: 45px;
    text-shadow: none;
    color: #fff!important;
    padding: 0 18px;
}
.b2c-loancall .b2c-row .b2c-btn:hover {
    background: #ce5a00;
}
.b2c-loancall .ui-slider-range {
    background: #f48127;
}
.b2c-loancall .b2c-row label {
    margin:2px 0;
}
.b2c-loancall .b2c-row .b2c-btn:after {
    display:none;
}
.b2c-hr {
    border-bottom:1px solid #F4F4F4;
}
.b2c-loancall .b2c-form-title {
    margin-right:0;
}
.b2c-loancall .pd-accept > .label,
.b2c-loancall .pd-accept > label {
    font-size: 11px;
    line-height: 12px   
}
.b2c-consent .b2c-form-title {
    margin:0!important;
}