﻿.b2c-form-container {
  min-width: 200px;
}

.b2c-form-1question .b2c-row {
    position: relative;
    width: 90%;
    max-width: 280px;
    margin: 80px auto 100px auto;
}
.b2c-form-1question .b2c-step{
    display: none;
    padding: 0;
    margin: 0 auto;
}
.b2c-form-1question .b2c-step.b2c-step1{
    display: block;
}
.b2c-form-1question .b2c-form-title{
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.b2c-form-1question .b2c-form-action{
    background: #eee;
    margin: 0;
    width: auto;
    max-width: none;
}
.b2c-form-1question .b2c-btn-wrap{
    padding: 10px 0 0;
}
.b2c-form-1question .pd-zip-lookup{
    text-align: center;
}