.b2c-form {
    padding-bottom:10px;
}
.b2c-row {
    margin-bottom:10px;
}
.b2c-form-labels .b2c-row {
    margin-bottom:0;
}
.b2c-col {
    width: 47%;
}
.b2c-row select,
.b2c-row input[type=text] {
    background: #FDFDFD;
    border: 1px solid #97A4AF;
    font: 13px/26px Arial;
    height: 26px;
    padding:0!important;
    position: relative;
    width: 100%;
    border-radius: 3px;
}
.b2c-form-container .b2c-form label.placeholder {
    left: 5px!important;
}
.b2c-progress-bar {
    behavior: !important;
}
.b2c-form-title span{
    background:none;
    padding:0;
    color: #555;
    font-weight:700;
    border:none;
}
.b2c-helper {
    right:-1px;
}
.b2c-col-40 {
    width: 30%;
    float: right
}