﻿@import "../../common/_brand-colors";
@import "../../common/_breakpoints";
@import "../../common/_grid";
@import "../../common/_mixins";

/* form-app single questions (sources/form-app-SQ.less)   ---> */

.loan-form-sq{
    @media(min-width: @media-sm){
        min-height: 96px;
        max-width: 748px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        font-size: 18px;
    }


    #jsf-form{
        min-height: auto;
        min-height: initial;
    }
    
    
    .field-inline{
        margin: 15px 0;

        @media (min-width: @media-sm) {
            width: auto;
            margin-top: 0;
            margin-bottom: 10px;
        }
        

        &::-webkit-input-placeholder {
            color: @brand-black;
            opacity: 0.4; 
        }
        &::-moz-placeholder { 
            color: @brand-black;
            opacity: 0.4;
        }
        &:-ms-input-placeholder { 
            color: @brand-black;
            opacity: 0.4;
        }
        &:-moz-placeholder { 
            color: @brand-black;
            opacity: 0.4;
        }

        &:focus{
            border-color: rgba(0, 0, 0, 0.2);

            &::-webkit-input-placeholder { 
                opacity: 0.2;
            }
            &::-moz-placeholder { 
                opacity: 0.2;
            }
            &:-ms-input-placeholder { 
                opacity: 0.2;
            }
            &:-moz-placeholder { 
                opacity: 0.2;
            }
        }
    }

    input{
        height: 48px;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        font-size: 18px;
        width: 100%;
        padding: 0 14px;
        color: @brand-black;
        outline: none;
        transition: 0.3s ease-in-out;
        transition-property: color, border-color;
        text-align: center;

        @media(min-width: @media-sm){
            text-align: left;
        }
        //margin-bottom: 30px;

        @media(min-width: @media-sm){
            //margin: 0;
        }

        &::-webkit-input-placeholder { 
            color: @brand-black;
            transition: 0.3s ease-in-out;
        }
        &::-moz-placeholder { 
            color: @brand-black;
            transition: 0.3s ease-in-out;
        }
        &:-ms-input-placeholder { 
            color: @brand-black;
            transition: 0.3s ease-in-out;
        }
        &:-moz-placeholder { 
            color: @brand-black;
            transition: 0.3s ease-in-out;
        }

        &:focus{
            border-color: #cccccc;

            &::-webkit-input-placeholder { 
                opacity: 0.2;
            }
            &::-moz-placeholder { 
                opacity: 0.2;
            }
            &:-ms-input-placeholder { 
                opacity: 0.2;
            }
            &:-moz-placeholder { 
                opacity: 0.2;
            }
        }
    }

    .btn{
        height: 48px;
    }

    .loan-form-holder{
        padding: 25px 0 0;
        color: @brand-black;
        position: relative;
        visibility: hidden;


        @media(min-width: @media-sm){
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 22px 26px 24px;
            background-color: @brand-white;
            box-shadow: 0 5px 8px 0 rgba(54, 59, 64, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 3px;
        }
    }

    .radio-group{
        text-align: center;
        margin: 0;
         
        > label{
            margin-bottom: 10px;

            @media(min-width: @media-sm){
                font-size: 18px;
            }
        }
    }

    .input-group{
        validation-message{
            // display: block;
            // overflow: hidden;
            // width: 100%;
            @media (max-width: (@media-sm - 1px)) {
                display: block;
                overflow: hidden;
                width: 100%;
                margin: 0 !important;
            }
        }
    }
    validation-message{
        // display: block;
        // overflow: hidden;
        // width: 100%;
    }
        
    .validation-message{
        //max-height: 0;
        transform: scale(0);
        max-height: 0;
        font-size: 12px;
        transition: 0.4s ease-in-out;
        visibility: hidden;
        opacity: 0;

        @media (min-width: @media-sm) {
            position: absolute;
            top: 64px;
            max-width: 200px;
            left: 0;
            right: 0;
            border-radius: 4px;
            background-color: @brand-black;
            padding: 6px 10px;
            z-index: 3;
            transform: scale(1);
        }
        &:before{
            @media (min-width: @media-sm) {
                content: '';
                position: absolute;
                top: -9px;
                left: 20px;
                border: 5px solid transparent;
                border-bottom: 5px solid #000;
            }
        }
    }

    .invalid-component{
        ~ validation-message{
            margin-top: 7px;

            @media (min-width: @media-sm){
                margin: 0;
            }

            .validation-message{
                transform: scale(1);
                max-height: 100px;
                visibility: visible;
                margin: 5px 0 15px;
                color: red;
                opacity: 1;

                @media (min-width: @media-sm){
                    top: 54px;
                    margin: 0;
                    color: @brand-white;
                }
            }
        }

        // &:focus{
        //     ~ validation-message{
        //         .validation-message{
        //             opacity: 0;
        //             transform: scale(0);
        //             max-height: 0;
        //             margin: 0;

        //             @media(min-width: @media-sm){
        //                 top: 60px;
        //                 transform: scale(1);
        //                 max-height: auto;
        //             }
        //         }
        //     }
        // }
    }

    .list-radio{
        credit-score,
        months-in-business,
        monthly-sales{
            display: flex;
            flex-wrap: wrap;
        }

        input[type="radio"]{
            visibility: hidden;
            display: none;

            &:checked{
                ~ span{
                    background-color: #76a923;
                    color: @brand-white;
                    box-shadow: 0px 0px 7px 0px rgba(118,169,35,0.9);
                    border-color: darken(#76a923,10%);
                }
            }
        }
    }

    .radio-custom{
        width: calc(~"50% - 30px");
        margin: 0 15px 20px;

        @media(min-width: @media-sm){
            width: calc(~"33.3333% - 30px");
        }

        span{
            display: flex;
            min-height: 52px;
            height: 100%;
            padding: 2px 5px;
            align-items: center;
            border: 1px solid #76a923;
            border-radius: 3px;
            justify-content: center;
            color: #76a923;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover{
                border-color: darken(#76a923,10%);
            }
        }
    }

    .title-label{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .nowrap{
        white-space: nowrap;
        margin: 0;
    }
    .content-field{
        margin: 15px 0;
        width: 100%;

        @media (min-width: @media-sm) {
            margin: 0;
            padding-left: 15px;    
        }
    }

    .footer-control{

        @media(min-width: @media-sm){
            margin-top: 25px;
        }
        
        .btn{
            //font-weight: 500;
            font-size: 18px;
            height: 56px;
            min-width: 270px;
        }
    }

    button{
        outline: none;
        min-width: 270px;
        margin-top: 25px;
        padding: 6px 12px;

        @media(min-width: @media-sm){
            margin-top: 0;
            min-width: auto;
            min-width: initial;
        }

        &:focus{
            outline: none;
        }

        &.btn-block{
            max-width: 270px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .agree-holder{
        max-height: 85px;
        //max-width: 440px;
        margin: 40px auto 15px;
        padding: 9px 14px;
        overflow: hidden;
        overflow-y: auto;
        font-size: 14px;
        line-height: 1.43;
        color: rgba(0,0,0,0.4);
        border-radius: 3px;
        border: solid 1px #e5e5e5;

        width: 100%;
    }

    e-mail, first-name, last-name,
    password, primary-phone,
    requested-amount{
        margin: 0;
        position: relative;
        overflow: visible;
        overflow: unset;
        display: block;
    }

    primary-phone,
    e-mail{

        @media (min-width: @media-sm) {
            //display: inline-block;
        }

        input{
        //margin: 15px 0;
        padding-right: 40px;

        @media (min-width: @media-sm) {
            //width: auto;
            margin-top: 0;
            margin-bottom: 10px;
        }

        @media (max-width: (@media-sm - 1px)) {
            padding-left: 40px;
        }

        // &::-webkit-input-placeholder {
        //     color: @brand-black;
        //     opacity: 0.4; 
        // }
        // &::-moz-placeholder { 
        //     color: @brand-black;
        //     opacity: 0.4;
        // }
        // &:-ms-input-placeholder { 
        //     color: @brand-black;
        //     opacity: 0.4;
        // }
        // &:-moz-placeholder { 
        //     color: @brand-black;
        //     opacity: 0.4;
        // }

        &:focus{
            border-color: rgba(0, 0, 0, 0.2);

            &::-webkit-input-placeholder { 
                opacity: 0.2;
            }
            &::-moz-placeholder { 
                opacity: 0.2;
            }
            &:-ms-input-placeholder { 
                opacity: 0.2;
            }
            &:-moz-placeholder { 
                opacity: 0.2;
            }
        }
        }
    }

    br{
        @media(max-width: (@media-sm - 1px)){
            display: none;
        }
    }

    first-name,primary-phone{
        input{
            @media(max-width: (@media-sm - 1px)){
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
    last-name,e-mail{
        @media(max-width: (@media-sm - 1px)){
            margin-top: -1px;
        }
        input{
            background: @brand-white;
            @media(max-width: (@media-sm - 1px)){
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    .input-group{
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;


        .input-group-addon{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            max-height: 48px;
            line-height: 44px;
            width: 45px;
            background-color: #f5f5f5;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            z-index: 2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font-size: 20px;
            text-align: center;

            @media(min-width: @media-sm){
                padding: 6px 15px;
                font-weight: @medium;
                line-height: 1;
                color: @brand-black;
                text-align: center;
                width: 1%;
                white-space: nowrap;
                vertical-align: middle;
                display: table-cell !important;
                position: static;
                z-index: auto;
            }
        }
        input{
            padding-left: 59px;
            position: relative;
            float: left;
            width: 100%;
            margin-bottom: 0;
            display: table-cell;
            //border-left: 0;
            text-align: left;
            background: transparent;
            z-index: 2;

            @media(min-width: @media-sm){
                padding-left: 14px;
                margin-left: -1px;
                background: @brand-white;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }


}

@-webkit-keyframes rightToLeft {
    from {
        opacity: 0;
        //right: -160px;
        transform: translateX(15%);
    }

    to {
        opacity: 1;
        //right: 0;
        transform: translateX(0);
    }
}

@-moz-keyframes rightToLeft {
    from {
        opacity: 0;
        //right: -160px;
        transform: translateX(15%);
    }

    to {
        opacity: 1;
        //right: 0;
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    from {
        opacity: 0;
        //right: -160px;
        transform: translateX(15%);
    }

    to {
        opacity: 1;
        //right: 0;
        transform: translateX(0);
    }
}

.animation-right-to-left {
    @animation-duration: 0.4s;
    @animation-timing-function: ease-in-out;

    .loan-form-holder {
        .animation(rightToLeft,@animation-duration,@animation-timing-function,forwards);
        visibility: visible;
    }
}

.loan-form-holder{
    .form-loader{
        position: fixed !important;
    }
}

.content-blog{
    .loan-form-sq{
        margin-top: 15px;
        margin-bottom: 15px;

        &:first-child{
            margin-top: 0;
        }
    }
}