﻿@import "../../common/_brand-colors";
@import "../../common/_breakpoints";
@import "../../common/_grid";
@import "../../common/_mixins";


.col-2x-input() {
    width: 50%;
    float: left;
}

//.business-loan-form:
@button-holder-width-sm: 190px;
@business-loan-form-control-font-size: 18px;
@business-loan-row-form-min-height: 62px;

@media screen and (min-width:~"0\0") {
    .group-addon-holder .input-group-addon {
        top: 7px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .group-addon-holder .input-group-addon {
        top: 7px;
    }
}


/* form-app.less   ---> */

form-app{
    select{
        color: @brand-black;
        -moz-appearance: none;
        -webkit-appearance:none;
        background-image: url('../images/arrow.png') !important;
        background-repeat: no-repeat;
        background-position: center right 10px;
        background-size: 10px;
        
        &::-ms-expand {
            display: none;
        }        
        
    }


    .modal{
        color: @brand-black;
    }
}

.business-loan-form {
    text-align: left;

    @media(max-width: (@media-sm - 1px)) {
        background: @brand-white;
        padding-top: 30px;
    }

    @media(min-width: @media-sm) {
        .clearfix();
        background: @brand-white;
        color: @brand-black;
        border-radius: 3px;
    }
    

    select.form-control{
        @media(max-width: (@media-sm - 1px)) {
            height: 40px;
        }
    }

    .form-holder{
        color: @brand-black;
    }
    .holder-row{
        @media(min-width: @media-sm) {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }
    }
    .input-holder{
        .clearfix();
        margin-left: -7px;
        margin-right: -7px;

        @media(min-width: @media-sm) {
            width: calc(~'100% - @{button-holder-width-sm}');
            /*float: left;*/
            margin: 0;
        }

        & > .form-group {
            .col-2x-input();
            padding: 0 7px;
            margin-bottom: 20px;
            position: relative;

            @media(min-width: @media-sm) {
                width: 25%;
                border-right: 1px solid rgba(0,0,0,0.1);
                min-height: @business-loan-row-form-min-height;
                padding: 0 10px;
                margin-bottom: 0;
            }

            @media(min-width: @media-md) {
                padding: 0 15px;
            }

            &:nth-child(3) {
                @media(max-width: (@media-sm - 1px)) {
                    clear: both;
                }
            }

            label {
                display: block;
                margin-bottom: 5px;
                font-size: 16px;
                color: @brand-black;
                line-height: 1.4;

                @media(min-width: @media-sm) {
                    margin-bottom: 0;
                    font-size: 13px;
                    margin-top: 10px;
                    opacity: 0.6;
                }

                @media(min-width: @media-md) {
                    margin-bottom: 4px;
                }
            }

            &:last-child {
                @media(min-width: @media-sm) {
                    border-right: 0;
                }
            }

            .form-control {
                color: @brand-black;

                @media(min-width: @media-sm) {
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 0;
                    border: none;
                    padding-top: 0;
                    padding-bottom: 0;
                }

                @media(min-width: @media-md) {
                    font-size: @business-loan-form-control-font-size;
                    height: 22px;
                }
            }

            select {
                &.form-control {
                    @media(min-width: @media-sm) {
                        padding-left: 0;
                    }
                }
            }

            input {
                &.form-control {
                    @media(min-width: @media-sm) {
                        padding-left: 11px;
                    }

                    @media(min-width: @media-md) {
                        padding-left: 14px;
                    }
                }
            }

            .input-group-addon {
                @media(min-width: @media-sm) {
                    left: -1px;
                    top: 5px;
                }

                @media(min-width: @media-md) {
                    font-size: @business-loan-form-control-font-size;
                    top: -1px;
                    left: 1px;
                }
            }
        }
    }
    .button-holder {
        text-align: center;

        @media(min-width: @media-sm) {
            /*float: left;*/
            display: -webkit-box;
                display: -ms-flexbox;
                    display: flex;
            -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            width: @button-holder-width-sm;
        }

        button {
            width: 100%;
            font-size: 16px;
            padding: 18px 47px;
            max-width: 320px;
            border-radius: 30px;
            transition: 0.3s ease-in-out;

            @media(min-width: @media-sm) {
                padding: 0;
                margin: 0;
                min-height: 62px;
                height: 100%;
                border-radius: 3px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.default-form {

    .holder-row {
        //margin: 0 -9px;
    }

    .input-holder {
        @media(min-width: @media-md) {
            width: 80%;
            float: left;
        }
    }

    .button-holder {
        width: 100%;
        margin-top: 20px;
        text-align: center;

        @media(min-width: @media-md) {
            width: 20%;
            float: left;
            margin-top: 24px;
            padding-left: 9px;

        }  
        @media(max-width: (@media-md - 1px)) {
            clear: both;
        }

        button {
            line-height: 26px;
            width: 100%;
            font-size: 16px;
            max-width: 320px;
            padding: 6px 12px;
            border-radius: 25px;
            border: none;

            @media(max-width: (@media-md - 1px)) {
                padding: 18px 47px;
            }

            @media(min-width: @media-md) {
                font-size: 14px;
            }
        }
    }

    .form-group {
        .col-2x-input();
        padding: 0 9px;
        margin-bottom: 20px;
        position: relative;

        @media(min-width: @media-md) {
            width: 25%;
            float: left;
            margin-bottom: 0;
        }

        &:nth-child(2n+2) {
            @media(max-width: (@media-md - 1px)) {
                padding-right: 0;
            }
        }

        &:nth-child(2n+1) {
            @media(max-width: (@media-md - 1px)) {
                padding-left: 0;
            }
        }

        &:nth-child(2n+3) {
            @media(max-width: (@media-md - 1px)) {
                clear: both;
            }
        }

        label {
            font-size: 16px;

            @media(min-width: @media-sm) {
                font-size: 14px;
            }
        }
    }

    .button-holder {
      
    }
}

.default-form-holder{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 20px 0 26px;
    
    .group-addon-holder {
        input{
            padding-left: 23px;
        }
    }
    .input-group-addon{
        left: 10px;
    }
}

first-name, last-name, e-mail, primary-phone, password {
    display: block;
    overflow: hidden;
    margin-bottom: 24px;
}

.content-blog{

    form-app first-step select.form-control{
        padding-right: 30px !important;
    }

    .business-loan-form{
        margin-top: 15px;
        margin-bottom: 15px;

        &:first-child{
            margin-top: 0;
        }
    }
}