﻿.form-control{
	width:100%;
	border:none;
	height:40px;
	text-align:left;
	border: 1px solid rgba(0,0,0,.1);
}

select.form-control {
  cursor: pointer;
  display: block;
  font-weight: 400;
  border-radius: 3px!important;
  padding: 0 48px 0 15px;
  font-size: 14px;
}

label{
    font-weight: 400;
}

.group-addon-holder .input-group{
    position: relative;
}
.group-addon-holder input{
    padding-left: 17px;
}

.group-addon-holder .input-group-addon {
    position: absolute;
    font-size: 18px;
    color: #000;
    top: 8px;
    left: 4px;
    display: inline-block !important;
    line-height: 1.3;
}
.invalid-component{
    .input-group-addon {
        color: red;
    }
}

.popup_errors{
    color: red;
}