#genius-calculator {
    background: rgba(240,244,247,.5);
}

#genius-calculator h1 {
    text-align: center;
    color: #02131F;
    font-size: 36px;
    letter-spacing: -0.41px;
    line-height: 44px;
    font-weight: 300 !important;
    margin-top: 61px;
    margin-bottom: 16px;
}

#genius-calculator .hint {
    color: #8C959A;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    text-align: center;
    max-width: 550px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 43px;
}

#calculator-body {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 55px 50px 60px;
}

#genius-calculator .header {
    color: #02131F;
    font-size: 20px;
    letter-spacing: -0.23px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Open Sans';
}

#calculator-body .item {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#calculator-body .item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#calculator-body .item .title {
    padding-top: 15px;
    padding-bottom: 15px;
}

#calculator-body .item .step{
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    background: #0065b3;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}

#calculator-body .item .title span {
    line-height: 20px;
    color: #02131F;
    font-size: 16px;
}


#calculator-body .item input {
    width: 300px;
    max-width: 300px;
    height: 51px;
    line-height: 51px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 20px;
    border: 1px solid #DBD8D8;
    font-size: 14px;
    color: #8c959a;
}

#calculator-body .item input.invalid {
    border: 1px solid rgba(255,0,0,.4);
}

#calculator-body .item .dollar-sign {
    position: relative;
}
#calculator-body .item .dollar-sign input {
    padding-left: 30px;
}

#calculator-body .item .dollar-sign:before {
    content: '$';
    color: #8c959a;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 20px;
    height: 51px;
    line-height: 51px;
    pointer-events: none;
    font-size: 14px;
}

#calculator-body .item .percent-sign {
    position: relative;
}

#calculator-body .item .percent-sign input{
    padding-right: 33px;
}

#calculator-body .item .percent-sign:after {
    content: '%';
    color: #8c959a;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 20px;
    height: 51px;
    line-height: 51px;
    pointer-events: none;
    font-size: 14px;
}

#calculator-body .bottom {
    text-align: center;
    margin-top: 50px;
}
#calculator-body .bottom button {
    color: #ffffff;
    background: #0065b3;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 170px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
    font-weight: bold;
}

#calculator-body .bottom button:hover {
    background: #274060;
}

#calculator-result {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 55px 50px 60px;
}

#calculator-result .sub-title {
    color: #8C959A;
    font-size: 16px;
    letter-spacing: -0.23px;
    line-height: 19px;
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#calculator-result .table-cell {
    float: left;
    width: 25%;
    text-align: center;
}

#calculator-result .table-cell.first {
    padding-right: 125px;
}

#calculator-result .table-cell.last {
    padding-left: 125px;
}


#calculator-result .table-cell .title {
    color: #8C959A;
    font-size: 12px;
    letter-spacing: -0.17px;
    line-height: 14px;
    margin-bottom: 12px;
}

#calculator-result .table-cell .value {
    color: #02131F;
    font-size: 20px;
    letter-spacing: -0.23px;
    line-height: 24px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

#calculator-embed-form {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 55px 50px 60px;
}

#calculator-embed-form .loan-amount-slider-embed h3 {
    color: #02131F;
    font-size: 20px;
    letter-spacing: -0.23px;
    line-height: 24px;
}

#calculator-embed-form .loan-amount-slider-embed .sum{
    color: #02131F;
    font-size: 36px;
    letter-spacing: -0.41px;
    line-height: 44px;
    font-weight: 300;
}

#calculator-embed-form .loan-amount-slider-embed .want{
    color: #8C959A;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    font-style: normal;
}

#calculator-embed-form .loan-amount-slider-embed .buttons a {
    font-size: 16px;
    width: 170px;
    height: 60px;
    line-height: 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
}

#calculator-embed-form .loan-amount-slider-embed .buttons a:hover {
    background: #274060;
}

@media (max-width: 768px) {
    #calculator-body .item {
        display: block;
    }

    #calculator-body .item input {
        width: 100%;
        max-width: 100%;
    }

    #calculator-result .table-cell {
        width: 100%;
        float: none;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 20px;
    }

    #calculator-body,
    #calculator-result,
    #calculator-embed-form {
        padding-left: 25px;
        padding-right: 25px;
    }

}