@import 'fonts.css';
@import 'bootstrap-3.3.7.css';


h1,
h2,
h3,
.title,
.main,
.name {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
/* Buttons */
.btn-yellow {
    background-color: #FFBF00;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    display: block;
    height: 60px;
    line-height: 60px;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-yellow:hover {
    text-decoration: none;
    color: #2A2A2A;
}

.btn-success-custom {
    border: 2px solid #3d8900;
    color: #3d8900;
    background-color: #fff;
}

/* header */
header#header {
    padding: 19px 0;
    background: #ffffff;
    z-index: 5;
}


#logo a {
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    margin-right: 10px;
}

#logo img {
    vertical-align: top;
    margin-top: -4px;
}

#logo span {
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -1.87px;
    font-family: 'Work Sans', sans-serif;
    color: #0E67A9;
}


#logo span:first-child {
    color: #408800;
}
#logo sup {
    font-size: 60%;
    top: -1em;
}


.nav-button {
    cursor: pointer;
}

.nav-button span {
    font-family: 'Montserrat', sans-serif;
}

.nav-menu {
    position: relative;
    margin-top: 5px;
}

.menu-right-menu-container {
    position: absolute;
    top: 100%;
    right: 0;
    width: 460px;
    background: #ffffff;
    z-index: 5;
    border:1px solid #DADBDD;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.menu-right-menu-container.active {
    visibility: visible;
    opacity: 1;
}

.menu-right-menu-container:before {
    content:'';
    position: absolute;
    right: 5px;
    top: -5px;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #ffffff;
    border-top: 1px solid #DADBDD;
    border-left: 1px solid #DADBDD;
}

#header .menu,
#header .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#header .menu > li {
    display: block;
}

#header .menu > li:not(:last-child) {
    border-bottom: 1px solid #DADBDD;
}
.nav-button,
#header .menu a {
    font-size: 14px;
}
#header .menu > li > a {
    display: block;
    padding: 14px 10px;
    color: #4a4a4a;
}

#header .menu > li > span {
    display: block;
    padding: 14px 10px;
    color: #4a4a4a;
    cursor: pointer;
}

#header .menu > li > .sub-menu > li{
    float: left;
    width: 50%;
    padding: 6px;
}

#header .menu > li > .sub-menu > li:first-child {
    float: none;
    width: 100%;
}

#header .menu > li > .sub-menu > li.menu-item-has-children > a {
    border-bottom: 1px solid #DADBDD;
    pointer-events: none;
    display: block;
    color: #8c959a;
    text-transform: uppercase;
}

#header .menu > li > .sub-menu > li:first-child a {
    pointer-events: auto;
    color: #4a4a4a;
    padding-bottom: 10px;
    border-bottom: 1px solid #DADBDD;
    display: block;
    margin-bottom: 4px;
}

#header .menu > li > .sub-menu > li.menu-item-has-children > span {
    border-bottom: 1px solid #DADBDD;
    pointer-events: none;
    display: block;
    color: #8c959a;
    text-transform: uppercase;
}

#header .menu > li > .sub-menu > li:first-child span {
    pointer-events: auto;
    color: #4a4a4a;
    padding-bottom: 10px;
    border-bottom: 1px solid #DADBDD;
    display: block;
    margin-bottom: 4px;
}

#header .menu > li > .sub-menu {
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#header .menu > li a:focus,
#header .menu > li a:active {
    text-decoration: none;
}


#header .menu > li > .sub-menu.active {
    height: auto;
    padding-bottom: 8px;
    opacity: 1;
    display: block;
}

#header .menu > li > .sub-menu.active .sub-menu {
    display: block;

}

#header .menu > li > .sub-menu > li > .sub-menu a {
    display: block;
    padding: 4px 0;
    color: #4a4a4a;
}

#header .menu a:hover {
    opacity: .8;
    text-decoration: none;
}

.menu-item-has-children {
    overflow: auto;
}

#header .menu>li> [data-href="personal-loans"] + .sub-menu.active > li a {
    color: #4a4a4a;
}

#header .menu>li> [data-href="personal-loans"] + .sub-menu.active > li:first-child {
    float: left;
    width: 50%;
}

#header .menu>li> [data-href="personal-loans"] + .sub-menu.active > li:first-child a  {
    border-bottom: 0;
    display: inline;
    padding: 0;
    margin-bottom: 0;
}


#header .menu > .menu-item-has-children > a:after {
    content:'';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 6px;
    margin-bottom: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

#header .menu > .menu-item-has-children.active > a:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-bottom: 0;
}

#header .menu > .menu-item-has-children > span:after {
    content:'';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 6px;
    margin-bottom: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

#header .menu > .menu-item-has-children.active > span:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-bottom: 0;
}

.menu-item-has-children::after {
    content: "";
    clear: both;
    display: table;
}



.humburger {
    width: 19px;
    float: right;
    margin-left: 12px;
    margin-top: 2px;
}

.humburger .line {
    height: 2px;
    background: #000000;
    margin-bottom: 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


.nav-button.active .humburger .line:last-child {
    display: none;
}
.nav-button.active .humburger .line:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 6px;
}

.nav-button.active .humburger .line:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -6px;
}


.about-us-address {
    padding-top: 90px;
    padding-bottom: 90px;
}
.about-us-address p {
    line-height: 28px;
    font-size: 20px;
}

.about-us-address h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 32px;
}

footer {
    padding-top: 30px;
}

.footer-nav a {
    color: #030303;
    font-size: 16px;
    letter-spacing: -0.27px;
    line-height: 19px;
    display: block;
    font-family: Montserrat, sans-serif;
    margin-bottom: 8px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.footer-nav ul {
    list-style: none;
    padding-left: 0;
}

.footer-nav .menu-item-has-children {
    padding-left: 30px;
    padding-right: 30px;
    width: 33.333333%;
}

.footer-nav .menu-item-has-children > span {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dadbdd;
    display: block;
    color: #8c959a;
    font-size: 18px;
}

/* Footer */
.footer-nav a:hover {
    text-decoration: none;
    color: #030303;
    opacity: .8;
}

.copyright {
    text-align: center;
    opacity: 0.4;
    color: #030303;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 40px;
}

.xs-img img {
    max-width: 100%;
}

/* Media */

@media (max-width:991px) {
    .footer-nav a {
        margin-bottom: 6px;
    }
}

@media (max-width:768px) {
    header#header {
        padding-left: 0;
        padding-right: 0;
    }

    #logo span {
        font-size: 22px;
    }

    .menu-right-menu-container {
        position: fixed;
        left: 0;
        top: 65px;
        width: 100%;
        height: calc(100% - 65px);
        background: #ffffff;
        margin-top: 0;
        overflow-y: auto;
    }
    #header .menu>li>.sub-menu.active {
        height: auto;
    }

    #header .menu>li>.sub-menu>li {
        float: none !important;
        width: 100% !important;
    }
    .footer-nav {
        display: none;
    }

    footer {
        padding-bottom: 40px;
    }

    .secureLogo {
        right: 50% !important;
        margin-right: -56px;
        bottom: 15px !important;
    }
}

/* fAQ page */
.faq-list {
    margin-top: 20px;
}

.faq-list ul{
    padding-left: 18px;
    margin-bottom: 20px;
}

/* Contact page */
.page-contact-us .page-contact-area {
    padding-left: 50px;
    padding-right: 50px;
}

.page-contact-us .page-contact-area form .form-btn {
    text-align: center;
}

.social-buttons ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.social-buttons ul li {
    margin: 3px 5px;

}

.social-buttons a {
    line-height: 0;
}

.social-buttons a:hover {
    text-decoration: none;
    opacity: .8;
}

.social-buttons i {
    font-size: 16px;
    color: #030303;
}


@media (max-width:768px) {
    .page-contact-us .page-contact-area {
        padding-left: 0;
        padding-right: 0;
    }


.page-template-page-form-1-question #header {
    -webkit-box-shadow:  0 4px 4px rgba(0,0,0,.1);
    -moz-box-shadow:  0 4px 4px rgba(0,0,0,.1);
    box-shadow:  0 4px 4px rgba(0,0,0,.1);
}

jsf-form {
    padding-top: 0 !important;
    margin-top: 1px !important;
}

jsf-form .jsf-progress-percents {
    top: 7px !important;
    letter-spacing: 1px;
}

jsf-form .jsf-progress-bar {
    margin-bottom: 40px !important;
}
}


.btn-success-custom {
    border: 2px solid #3d8900;
    color: #3d8900;
    background-color: #fff;
}
.btn-success-custom:focus {
    color: #3d8900;
}
.btn-success-custom:hover {
    color: #fff;
    background-color: #2d8e39;
    border-color: transparent;
}
.hasScrolled .btn-success-custom {
    color: #fff;
    background-color: #2d8e39;
    border-color: transparent;
}
.hasScrolled .btn-success-custom:hover {
    border: 2px solid #3d8900;
    color: #3d8900;
    background: #fff;
}


#tl_popupCL1 + a {
    position: absolute;
    right: 30px;
}