.form-login {
    max-width: 500px;
    margin: 0 auto 30px;

}

.form-apply-title {
    color: #02131F;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 30px;
    text-align: center;
}

.input-wrap {
    margin-bottom: 15px;
}

.form-row label {
    font-size: 14px;
}

.form-row input {
    width: 100%;
    height: 52px;
    padding-left: 12px;
    border: 2px solid #DBD8D8;
    border-radius: 4px;
}

.action-row {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.action-row button {
    background-color: #0767AE;
    border-radius: 2px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    color: #FFF;
    border: 0;
    /*text-transform: uppercase;*/
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.new-request {
    text-align: center;
    color: #656565;
    font-size: 14px;
}

.form-error {
    font-size: 14px;
    color: #ff0000;
    text-align: center;
    margin-bottom: 12px;
}

.form-login label.error {
    font-size: 12px;
    color: #ff0000;
}

.account-page-body {
    background-image: url(/wp-content/themes/lendgenius/style-2018/img/hero-image-min.png?v=1507044271);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.account-page-body h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

.login-description {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 25px;
}

.account-page-body form {
    background: #ffffff;
    padding: 15px 20px;
    margin-bottom: 50px;
}

.page-account-bottom {
    padding-top: 50px;
}

.embed-iframe {
    overflow: visible;
}

/* Embed Slider Form */

.embed-slider {
    height: 90px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.loan-emount-slider-embed-line {
    display: none;
}

.loan-amount-slider-embed h3 {
    text-align: center;
    color: #0D5798;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}
.loan-amount-slider-embed .sum {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -3.1px;
    text-align: center;
    color: #0D5798;
    /*text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);*/
}

.loan-amount-slider-embed .noUi-horizontal .noUi-handle {
    position: absolute;
}
.loan-amount-slider-embed .want {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #000;
    /*text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);*/

}
.loan-amount-slider-embed .irs-line {
    height: 12px;
    top: 25px;
    border-radius: 2.5px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.loan-amount-slider-embed .irs-bar, .loan-amount-slider-embed .noUi-connect {
    background: #d4d4d4;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    border-radius: 2.5px;
}

.loan-amount-slider-embed .noUi-horizontal {
    height: 11px;
}
.loan-amount-slider-embed .irs-single,
.loan-amount-slider-embed .noUi-handle {
    top: -15px !important;
    width: 38px !important;
    height: 38px !important;
    background-color: #0D5798;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 4;
    font-size: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.loan-amount-slider-embed .irs-single:before, .loan-amount-slider-embed .noUi-handle:before {
    content:'';
    position: absolute;
    left: 10px;
    top: 16px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
    background: none;

}

.loan-amount-slider-embed .irs-single:after, .loan-amount-slider-embed .noUi-handle:after {
    content:'';
    position: absolute;
    right: 10px;
    left: auto;
    top: 16px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    border-right:1px solid #fff;
    border-top:1px solid #fff;
    background: none;
}

.loan-amount-slider-embed .irs-max,
.loan-amount-slider-embed .irs-min {
    position: absolute;
    top: 52px;
    left: 30px;
    font-size: 19px;
    letter-spacing: -1.6px;
    text-align: center;
    color: rgba(0,0,0,.7);
    /*text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);*/
    visibility: visible !important;
}

.loan-amount-slider-embed .irs-max {
    right: 30px;
    left: auto;
}


.loan-amount-slider-embed .buttons a {
    max-width: 340px;
    font-size: 16px;
    line-height: 70px;
    height: 70px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #fff;
    margin: auto;
    background: #0D5798;
    display: block;
}

.loan-amount-slider-embed .buttons a {
    font-size: 32px;
}

.loan-amount-slider-embed .buttons a:hover,
.loan-amount-slider-embed .buttons a:focus,
.loan-amount-slider-embed .buttons a:active {
    text-decoration: none;
    opacity: .9;
}


@media (max-width:768px) {

    .page-template-page-form-1-question #header{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    jsf-form {
        min-height: calc(100% - 79px);
        /*height: 100%;*/
        display: flex !important;
        justify-content: stretch;
        flex-direction: column;
        padding-top: 69px !important;
        padding-bottom: 0 !important;
        overflow: visible !important;
    }

    .jsf-row.jsf-body + .jsf-row {
        /*margin-bottom: 120px;*/
    }

    jsf-form jsf-page-resolver {
        position: relative;
    }

    jsf-form .jsf-container:not(.jsf-returning-container) {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: calc(100vh - 69px - 46px);
        width: 100%;
    }

    jsf-form.is-chrome .jsf-container:not(.jsf-returning-container) {
        min-height: calc(100% - 69px - 46px);
    }

    jsf-form .jsf-container > .jsf-row:last-child {
        margin-top: auto;
    }

    jsf-form .jsf-row {
        padding-left: 10px;
        padding-right: 10px;
    }

    jsf-form .jsf-row .jsf-row,
    jsf-form .jsf-field-container,
    jsf-form {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    jsf-form .jsf-appear-form {
        width: 100%;
        min-height: calc( 100vh - 69px);
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
    }


    jsf-page-resolver {
        min-height:calc(100vh - 69px - 46px);
    }

    jsf-form.is-chrome .jsf-appear-form {
        min-height: calc( 100% - 69px);
    }

    .is-chrome jsf-page-resolver {
        min-height:calc(100% - 69px - 46px);
    }

    .jsf-navigation {
        width: 100%;
        max-width: 100% !important;
    }

    jsf-form select,
    jsf-form input {
        height: 47px !important;
    }

    jsf-form .jsf-form-title-main {
        font-size: 18px !important;
    }

    jsf-form .jsf-form-title-sub,
    jsf-form .jsf-form-disclaimer{
        font-size: 12px !important;
    }

    jsf-form .jsf-input-addon:before {
        height: calc(47px - 2px * 2) !important;
        line-height: calc(47px - 2px * 2) !important;
    }

    .jsf-col-sm-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    jsf-form .jsf-ssn-lock:after {
        width: 36px !important;
        height: 36px !important;
        right: 5px !important;
        top: 4px !important;
        z-index: 10 !important;
        pointer-events: none;
    }
}

.vert_banner .btn {
    font-size: 15px !important;
}

.content-blog .loan-amount-slider-embed{
    margin-top: 40px;
    margin-bottom: 40px;
}

.embed-form-container {
    max-width: 650px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.loan-amount-slider-embed {
    max-width: 650px;
    margin: 40px auto;
}

.rates-table.privacy-table.b2c-table th{
    color: #ffffff;
}

/* Blog table */

.table-funding td,
.table-funding th {
    vertical-align: middle;
}

.table-funding dd {
    font-size: 24px;
}

.blog-table.table-funding dd {
    font-size: 20px;
    white-space: normal;
}

.blog-table.table-funding dt {
    font-size: 10px;
    white-space: normal;
}

.blog-table.table-funding img {
    width: 160px;
    max-width: 95%;
}

.blog-table.table-funding .btn-success {
    min-width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}

.blog-table.table-funding td,
.blog-table.table-funding th {
    padding-left: 6px;
    padding-right: 6px;
}

.blog-table.table-funding th {
    font-size: 12px;
}

@media (min-width:768px) {
    .blog-table.table-funding dd {
        max-width: 140px;
        white-space: normal;
    }

    .blog-table.table-funding dt {
        max-width: 140px;
        white-space: normal;
    }

    .container-max-width-fixed .table-funding .btn-success {
        margin-bottom: 0;
    }

}

.container-max-width-fixed .table-funding .btn-success {
    max-width: 160px;
    min-width: 160px;
}

.container-max-width-fixed .table-funding th {
    font-size: 14px;
}
.container-max-width-fixed .table-funding dd{
    font-size: 16px;
}

.container-max-width-fixed .table-funding dt {
    font-size: 12px;
}

.container-max-width-fixed .table-funding td,
.container-max-width-fixed .table-funding th {
    padding-left: 6px;
    padding-right: 6px;
}

.wpcf7-radio input[type=radio] + span {
    position: relative;
    cursor: pointer;
    padding: 6px 10px 6px 20px;
    border: 1px solid transparent;
}

.wpcf7-radio input[type=radio]:checked + span:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 10px;
    width: 10px;
    height: 5px;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
    border-left: 1px solid #0084c4;
    border-bottom: 1px solid #0084c4;
}
.wpcf7-radio input[type=radio]:checked + span {
    border:1px solid #0084c4;

}

.form-row.flex-center {
    display: flex;
    justify-content: center;
}

.long-bottom-margin {
    margin-bottom: 25px !important;
}

.disclosure-box {
background-color: rgba(240,244,247,.5);
padding-top: 100px;
padding-bottom: 120px
}

.disclosure-box article {
    float: left;
    width: 50%;
    font-size: 13px;
}

.disclosure-box article:nth-child(2) {
    padding-right: 50px
}

.disclosure-box article:nth-child(3) {
    padding-left: 50px
}

.disclosure-box article:first-child {
    float: none;
    width: 100%;
    margin-bottom: 50px;
    column-count: 2;
    column-gap: 100px
}

.disclosure-box h2 {
    color: #030303;
    font-size: 20px;
    letter-spacing: -.3px;
    line-height: 30px;
    margin-bottom: 15px !important;
}

.disclosure-box article:first-of-type h2 {
    -webkit-column-span: all;
    column-span: all
}

.disclosure-box p {
    opacity: .6;
    color: #030303;
    font-size: 12px;
    line-height: 22px
}



@media (max-width: 1199px) {
    .table-funding dd {
        font-size: 16px;
    }
    .table-funding .btn-success {
        min-width: 160px;
    }

    .table-funding th {
        font-size: 14px;
    }

    .disclosure-box article {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .disclosure-box article:first-child {
        column-count: 1;
    }

    .disclosure-box article:nth-child(2) {
        padding-right: 0;
    }

    .disclosure-box article:nth-child(3) {
        padding-left: 0;
    }

}

@media (max-width:991px) {
    .disclosure-box article:first-child {
        column-count: 1;
        height: auto;
    }
}


@media (max-width:767px) {

    .table-funding table,
    .table-funding tbody,
    .table-funding tr,
    .table-funding td {
        display: block !important;
        width: 100% !important;
    }
}

.disclaimer {
    max-height: 200px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #a1a1a1;
    font-size: 12px;
    line-height: 16px;
    color: #7c7c7c;
    margin: 0 0 10px;
}

.page-blog h1 {
    margin-bottom: 40px;
}

.paginate-links {
    display: flex;
    justify-content: space-between;
}

.paginate-links.first {
    justify-content: flex-end;
}