.hero-box {
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 560px;
    color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-box .container {
    max-width: 660px;
    padding: 0;
}

.hero-box h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 55px;
}

h1 sup {
    vertical-align: super;
    font-size: 12px;
}

.hero-box .subtitle {
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 20px;
    margin-bottom: 48px;
}

.hero-box .buttons {
    padding-left: 42px;
    padding-right: 42px;
}

.hero-box .buttons .item {
    width: 33.33333%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}



.hero-box .buttons .btn-yellow {
    margin-bottom: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
}

.hero-box .buttons .btn-yellow:active,
.hero-box .buttons .btn-yellow:focus,
.hero-box .buttons .btn-yellow:hover {
    background: #f5ad03;
}

.hero-box .buttons  .hint {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    letter-spacing: 0.7px;
}

.stats-box {
    background: rgba(240,244,247,0.5);
    padding-bottom: 41px;
}

.stats-box h2 {
    color: #02131F;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 30px;
}

.stats-box .items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.stats-box .items .item {
    text-align: center;
}

.stats-box .items .item:nth-child(2) {
    margin-left: 64px;
}

.stats-box .main {
    color: #0767AE;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 44px;
}


.how-it-works-box {
    padding-top: 70px;
    border-bottom: 1px solid #DADBDD;
}

.how-it-works-box h2 {
    color: #02131F;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 50px;
    text-align: center;
}

.how-it-works-box .left-side {
    float: left;
    width: 41.666667%;
}

.how-it-works-box .left-side ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.how-it-works-box .left-side ul li {
    position: relative;
    padding-left: 41px;
    padding-bottom: 24px;
    cursor: pointer;
}

.how-it-works-box .left-side ul li h3 {
    font-size: 20px;
    color: rgba(140,149,154,0.7);
}
.how-it-works-box .left-side ul li.active h3 {
    color: #030303;
}

.how-it-works-box .left-side ul li:not(:last-child) {
    border-bottom: 1px solid #03030314;
}


.how-it-works-box .left-side ul li.active .progressbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0767AE;
}

.how-it-works-box .left-side ul li i {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 28px;
    -webkit-background-size: contain;
    background-size: contain;
}

.xs-img {
    display: none;
}
.how-it-works-box .left-side .hint{
    /*display: none;*/
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.how-it-works-box .left-side .active .hint {
    visibility: visible;
    max-height: 60px;
    opacity: 1;
}

.icon-doc{
    background: url(../img/how-it-works/icon-one@2x.png) center center no-repeat;
    width: 25px;
    height: 28px;
}

.icon-settings {
    background: url(../img/how-it-works/Group-2@2x.png) center center no-repeat;
    width: 20px;
    height: 23px;
    top: -1px !important;
}

.icon-cash {
    background: url(../img/how-it-works/Dollar-Icon@2x.png) center center no-repeat;
    width: 25px;
    height: 25px;
    top: -3px !important;
}

.how-it-works-box .right-side {
    float: left;
    width: 58.333333%;
}

.img-show {
    position: relative;
}
.img-show > div + div {
    position: absolute;
    top: 0;
    left: 0;
}

.img-show > div {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.img-show img {
    width: 100%;
    max-width: 100%;
}

.img-show > .active {
    visibility: visible;
    opacity: 1;
}


/* How it works new slider*/

/*@media (max-width: 767px) {*/
    /*#slider {*/
        /*display:none*/
    /*}*/
/*}*/

/*.slider {*/
    /*padding: 60px 0;*/
    /*background-color: #fff*/
/*}*/

/*@media (max-width: 1200px) {*/
    /*.slider {*/
        /*padding:50px 0 0*/
    /*}*/
/*}*/

/*.slider__head {*/
    /*margin-bottom: 70px*/
/*}*/

/*@media (max-width: 1200px) {*/
    /*.slider__head {*/
        /*margin-bottom:30px*/
    /*}*/
/*}*/

/*@media (max-width: 768px) {*/
    /*.slider__head {*/
        /*margin-bottom:0*/
    /*}*/
/*}*/

/*.slider__body {*/
    /*width: 100%;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-pack: distribute;*/
    /*justify-content: space-around;*/
    /*-ms-flex-align: start;*/
    /*align-items: flex-start*/
/*}*/

/*.slider__image {*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*display: none*/
/*}*/

/*.slider__image.is-active {*/
    /*display: block*/
/*}*/

/*.slider__image-wr {*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
    /*overflow: hidden*/
/*}*/

/*.slider__list {*/
    /*list-style: none;*/
    /*padding-left: 0;*/
    /*margin: 0;*/
    /*margin-right: auto;*/
    /*max-width: 400px*/
/*}*/

/*.slider__item {*/
    /*position: relative;*/
    /*padding-bottom: 10px;*/
    /*margin-bottom: 50px;*/
    /*max-width: 500px;*/
    /*border-bottom: 1px solid rgba(3,3,3,.08);*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-align: start;*/
    /*align-items: flex-start;*/
    /*color: #030303;*/
    /*opacity: 1;*/
    /*cursor: pointer;*/
    /*transition: .25s ease-in-out*/
/*}*/

/*.slider__item:last-child {*/
    /*margin-bottom: 0*/
/*}*/

/*.slider__item:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*bottom: -1px;*/
    /*left: 0;*/
    /*height: 3px;*/
    /*width: 0;*/
    /*background-color: #42caf5;*/
    /*opacity: 0*/
/*}*/

/*.slider__item:not(.is-active) {*/
    /*opacity: .4;*/
    /*border-bottom: 1px solid rgba(3,3,3,.18)*/
/*}*/

/*.slider__item:not(.is-active):hover {*/
    /*opacity: .65*/
/*}*/

/*.slider__item.is-active:after {*/
    /*opacity: 1;*/
    /*animation: 5s 0s a ease-in-out forwards*/
/*}*/

/*.slider__item.is-active .slider__item-body {*/
    /*max-height: 400px;*/
    /*opacity: 1;*/
    /*margin-bottom: 10px*/
/*}*/

/*.slider__item .icon {*/
    /*margin-right: 17px;*/
    /*min-width: 26px;*/
    /*height: 25px;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
    /*font-size: 24px;*/
    /*overflow: auto*/
/*}*/

/*.slider__item-body {*/
    /*width: 100%;*/
    /*max-height: 0;*/
    /*margin-bottom: 0;*/
    /*opacity: 0;*/
    /*transition: .25s ease-in-out .1s*/
/*}*/

/*@media (min-width: 768px) {*/
    /*#accordion {*/
        /*display:none*/
    /*}*/
/*}*/

/*.accordion-container {*/
    /*width: 100%*/
/*}*/

/*.accordion-item {*/
    /*position: relative;*/
    /*padding: 25px 0;*/
    /*border-bottom: 1px solid rgba(3,3,3,.36);*/
    /*color: #030303;*/
    /*transition: opacity .3s ease-in-out*/
/*}*/

/*.accordion-item:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*bottom: -1px;*/
    /*left: 0;*/
    /*width: 0;*/
    /*height: 3px;*/
    /*opacity: 0;*/
    /*background: #42caf5*/
/*}*/

/*.accordion-item.is-active {*/
    /*border-bottom: 1px solid rgba(3,3,3,.36);*/
    /*opacity: 1*/
/*}*/

/*.accordion-item.is-active:after {*/
    /*opacity: 1;*/
    /*animation: 5s 0s a ease-in-out forwards*/
/*}*/

/*.accordion-item.is-active .accordion-item-header {*/
    /*margin-bottom: 20px*/
/*}*/

/*.accordion-item:not(.is-active) {*/
    /*opacity: .6*/
/*}*/

/*.accordion-item:not(.is-active):last-child {*/
    /*border-bottom: 0*/
/*}*/

/*.accordion-item img {*/
    /*margin: 0 auto 30px;*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*max-height: 50vh;*/
    /*display: block*/
/*}*/

/*.accordion-item .title {*/
    /*margin: 0*/
/*}*/

/*.accordion-item-header {*/
    /*transition: .25s ease-in-out*/
/*}*/

/*.accordion-item-header,.accordion-item-header .icon {*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-align: center;*/
    /*align-items: center*/
/*}*/

/*.accordion-item-header .icon {*/
    /*margin-right: 15px;*/
    /*min-width: 26px;*/
    /*height: 25px;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
    /*font-size: 24px;*/
    /*overflow: auto*/
/*}*/

/*.accordion-item-body {*/
    /*display: none*/
/*}*/
/* How it works new slider*/

.choose-your-reason-box {
    padding-top: 47px;
    padding-bottom: 120px;
}

.choose-your-reason-box h2 {
    color: #02131F;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 50px;
}

.choose-your-reason-box .items .item {
    float: left;
    width: 20%;
    height: 371px;
    position: relative;
}

.choose-your-reason-box .items .item a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.choose-your-reason-box .items .item {
    position: relative;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.choose-your-reason-box .items .item .img-desktop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.choose-your-reason-box .items .item .img-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    background: center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.choose-your-reason-box .items .item:hover {
    opacity: .85;
}

.choose-your-reason-box .items .item .name {
    position: absolute;
    color: #ffffff;
    left: 16px;
    bottom: 21px;
    max-width: 156px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 32px;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 8px #000;
}

.featured-box {
    background-color: rgba(240,244,247,0.5);
    padding-top: 60px;
    padding-bottom: 60px;
}

.featured-box h2 {
    color: #02131F;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 64px;
}

.featured-box .items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.featured-box .items .item {
    align-self: center;
    text-align: center;
}

.featured-box .items .item img {
    max-width: 100%;
}

.posts-box {
    padding-top: 120px;
    padding-bottom: 100px;
    background: rgba(240,244,247,0.5);
}

.posts-box h2 {
    color: #02131F;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 17px;
}

.posts-box .subtitle {
    color: #02131F;
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 90px;
}

.posts-box .items .item {
    float: right;
    width: calc(50% - 40px);
    padding-top: 20px;
}

.posts-box .items .item:first-child {
    float: left;
    width: 50%;
    margin-right: 40px;
}

.posts-box .items .item .img-container {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    position: relative;
}

.posts-box .post-content {
    float: left;
    width: calc(100% - 120px);
}

.posts-box .items .item .img-container .img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.posts-box .items .item:first-child .post-content {
    width: 100%;
}

.posts-box .items .item:first-child .img-container {
    width: 100%;
    height: 237px;
    float: none;
}

.posts-box .items .item:not(:first-child){
    border-bottom: 1px solid #03030314;
}
.posts-box .items .item:last-child {
    border-bottom: 0;
}

.posts-box .items .item h3 {
    margin: 0;
    color: #02131F;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.27px;
    line-height: 28px;

}

.posts-box .items .item:first-child h3 {
    color: #02131F;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.33px;
    line-height: 28px;
    margin-bottom: 10px;
}

.posts-box .items .item p {
    color: #8C959A;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 26px;
}

.cta-yellow {
    background-color: #FFBF00;
    padding-top: 150px;
    padding-bottom: 135px;
    text-align: center;
}

.cta-yellow h2 {
    color: #4A4A4A;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 44px;
    margin-bottom: 61px;
    margin-top: 0;
}

.btn-blue {
    background-color: #0767AE;
    border-radius: 2px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.2);
    color: #FFFFFF;
    border: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.43px;
}

.btn-blue:hover {
    background-color: #045692;
    text-decoration: none;
    color: #ffffff;
}

.cta-yellow .btn-blue{
    padding: 28px;
}

.cta-yellow .btn-blue:after {
    content:'';
    display: inline-block;
    border-left: 6px solid #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 5px;
    margin-bottom: 2px;
}

.disclosure-box {
    background-color: rgba(240,244,247,0.5);
    padding-top: 100px;
    padding-bottom: 120px;
}

.disclosure-box article {
    float: left;
    width: 50%;
}

.disclosure-box article:nth-child(2) {
    padding-right: 50px;
}

.disclosure-box article:nth-child(3) {
    padding-left: 50px;
}

.disclosure-box article:first-child {
    float: none;
    width: 100%;
    margin-bottom: 50px;
    column-count: 2;
    column-gap: 100px;
}

.disclosure-box h2 {
    color: #030303;
    font-size: 20px;
    letter-spacing: -0.3px;
    line-height: 30px;
}

.disclosure-box article:first-of-type h2 {
    -webkit-column-span: all;
    column-span: all;
}

.disclosure-box p {
    opacity: 0.6;
    color: #030303;
    font-size: 12px;
    line-height: 22px;
}

/* Slider */
#loan-emount-slider-line {
    display: none;
}
#slider {
    height: 90px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.loan-amount-slider .sum {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -3.1px;
    text-align: center;
    color: #ffbf00;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.loan-amount-slider .want {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}
.irs-line {
    height: 12px;
    top: 25px;
    border-radius: 2.5px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.irs-bar, .noUi-connect {
    background: #d4d4d4;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    border-radius: 2.5px;
}

.noUi-horizontal {
    height: 11px;
}
.irs-single, .noUi-handle {
    top: -15px !important;
    width: 38px !important;
    height: 38px !important;
    background-color: #ffbf00;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 4;
    font-size: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.irs-single:before, .noUi-handle:before {
    content:'';
    position: absolute;
    left: 10px;
    top: 16px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    border-left:1px solid #4a4a4a;
    border-bottom:1px solid #4a4a4a;
    background: none;

}

.irs-single:after, .noUi-handle:after {
    content:'';
    position: absolute;
    right: 10px;
    left: auto;
    top: 16px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    border-right:1px solid #4a4a4a;
    border-top:1px solid #4a4a4a;
    background: none;
}

.irs-max,
.irs-min {
    position: absolute;
    top: 52px;
    left: 30px;
    font-size: 19px;
    letter-spacing: -1.6px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    visibility: visible !important;
}

.irs-max {
    right: 30px;
    left: auto;
}


.buttons a {
    max-width: 340px;
    font-size: 16px;
    line-height: 70px;
    height: 70px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #4a4a4a;
    margin: auto;
}

.loan-amount-slider + .buttons a {
    font-size: 32px;
}

.buttons a:hover,
.buttons a:focus,
.buttons a:active {
    text-decoration: none;
    background: #e4ac02;
}

/* Responsive */
@media (max-width:1199px) {
    .disclosure-box article:first-child {
        /*height: 522px;*/
    }



}

@media (max-width:991px) {


    .how-it-works-box .left-side ul {
        margin-bottom: 40px;
    }

    .featured-box .container,
    .how-it-works-box .container {
        width: 100%;
    }

    .choose-your-reason-box .container {
        width: 100%;
        padding: 0;
    }
    .choose-your-reason-box h2 {
        margin-bottom: 34px;
    }

    .choose-your-reason-box .items .item {
        height: 270px;
    }

    .choose-your-reason-box .items .item .name {
        font-size: 18px;
        line-height: 27px;
    }

    .stats-box .items .item:nth-child(2) {
        margin-left: 0;
    }

    .stats-box .main {
        font-size: 32px;
    }

    .featured-box {
        padding-top: 52px;
        padding-bottom: 52px;
    }

    .posts-box .items .item:first-child,
    .posts-box .items .item {
        float: none;
        width: 100%;
    }

    .posts-box .post-content{
        float: none;
    }

    .disclosure-box article:first-child {
        column-count: 1;
        height: auto;
    }
}

@media (max-width:768px) {

    .hero-box h1 {
        font-size: 30px;
        line-height: 39px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-box .subtitle {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }

    .hero-box .buttons .item {
        float: none;
        width: 100%;
    }

    .hero-box .buttons .btn-yellow {
        margin-bottom: 8px;
        font-size: 18px;
    }

    .hero-box .buttons .hint {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 17px;
    }

    .stats-box .container {
        padding-left: 0;
        padding-right: 0;
    }

    .stats-box h2 {
        font-weight: 400;
    }

    .stats-box .items {
    display: block;
    }

    .stats-box .items .item:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.08);
    }

    .stats-box .items .item {
    padding-bottom: 25px;
    padding-top: 35px;
    }

    .how-it-works-box {
        border-bottom: 0;
        padding-top: 48px;
    }

    .how-it-works-box h2 {
        padding-bottom: 30px;
    }

    .how-it-works-box .left-side {
        float: none;
        width: 100%;
    }
    .how-it-works-box .right-side {
        display: none;
    }

    .how-it-works-box .left-side ul li {
        padding-left: 0;
    }

    .how-it-works-box .left-side ul li h3 {
        padding-left: 40px;
    }

    .active .xs-img {
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .choose-your-reason-box {
        padding-top: 2px;
        padding-bottom: 0;
    }

    .choose-your-reason-box h2 {
        line-height: 37px;
        font-size: 30px;

    }

    .choose-your-reason-box .items .item {
        float: none;
        width: 100%;
        height:120px;
        margin-bottom: 2px;
    }


    .choose-your-reason-box .items .item.item-0 .img-mobile {
        background-position: center bottom;
    }

    .choose-your-reason-box .items .item.item-1 .img-mobile {
        background-position: center top;
    }

    .choose-your-reason-box .items .item .name {
        bottom: 12px;
    }

    .choose-your-reason-box .items .item .img-desktop {
        display: none;
    }

    .choose-your-reason-box .items .item .img-mobile {
        display: block;
    }
    .featured-box {
        padding-top: 21px;
        padding-bottom: 34px;
    }

    .featured-box .items {
        display: block;
    }

    .featured-box .items .item {
        width: 50%;
        float: left;
        margin-bottom: 45px;
    }

    .mobile-hidden {
        display: none;
    }

    .featured-box [src*="e_logo"] {
        display: none;
    }

    .posts-box {
        padding-top: 34px;
        padding-bottom: 78px;
    }

    .posts-box h2 {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 10px;
    }

    .posts-box .subtitle {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .posts-box .post-content {
        width: 100%;
    }

    .posts-box .item:first-child .post-content {
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
    }

    .posts-box .container {
        padding-left: 0;
        padding-right: 0;
    }

    .posts-box .items .item {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .posts-box .items .item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .posts-box .items .item:first-child {
        border-bottom: 1px solid #03030314;
    }


    .posts-box .items .item h3 {
        font-size: 13px;
        line-height: 17px;
        letter-spacing: -.22px;
        margin-bottom: 4px;
    }

    .posts-box .items .item:first-child h3 {
        font-size: 16px;
        letter-spacing: -.27px;
        line-height: 18px;
    }

    .posts-box .items .item p {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: .21px;
    }

    .posts-box .items .item:first-child p {
        line-height: 24px;
        font-size: 16px;

    }

    .posts-box .items .item .img-container {
        margin-right: 10px;
    }

    .cta-yellow {
        /*display: none;*/
        padding-top: 34px;
        padding-bottom: 65px;
    }

    .cta-yellow h2 {
        font-size: 30px;
        line-height: 37px;
    }

    .disclosure-box {
        padding-top: 55px;
    }

    .disclosure-box h2 {
        font-weight: 400;
    }

    .disclosure-box article {
        float: none;
        width: 100%;
        padding: 0 !important;
    }

}
