.three-cols {
    min-height: 400px;
    padding-top: 40px;
}

.three-cols .col {
    float: left;
    width: 33.3333333%;
    padding-right: 15px;
}

.three-cols .col input {
    width: 100%;
    height: 36px;
    padding-left: 6px;
    border: 1px solid #DADBDD;

}

.btn.btn-unsubscribe {
    color: #ffffff;
    background: #337ab7;
    margin-top: 11px;
}

.form-row {
    padding-top: 8px;
}

label.error {
    font-size: 12px;
    color: #ff0000;
}

.disclosure-box {
    background-color: rgba(240,244,247,.5);
    padding-top: 100px;
    padding-bottom: 120px
}

.disclosure-box article {
    float: left;
    width: 50%;
    font-size: 13px
}

.disclosure-box article:nth-child(2) {
    padding-right: 50px
}

.disclosure-box article:nth-child(3) {
    padding-left: 50px
}

.disclosure-box article:first-child {
    float: none;
    width: 100%;
    margin-bottom: 50px;
    column-count: 2;
    column-gap: 100px
}

.disclosure-box h2 {
    color: #030303;
    font-size: 20px;
    letter-spacing: -.3px;
    line-height: 30px;
    margin-bottom: 15px !important
}

.disclosure-box article:first-of-type h2 {
    -webkit-column-span: all;
    column-span: all
}

.disclosure-box p {
    opacity: .6;
    color: #030303;
    font-size: 12px;
    line-height: 22px
}


@media (max-width: 768px) {
    .three-cols .col {
        float: none;
        width: 100%;
        margin-bottom: 40px;
    }
}