.font(){
  font-family: 'Dosis', Arial, sans-serif;
}
//global mods
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-blue {
  color: @blue-main;
}
.f-right{
  float: right!important;
}
.f-left{
  float: left!important;
}
.m-b-md {
  margin-bottom: 15px;
}
//end global mods
@media @smallerThanSM {
  .hidden-sm {
    display: none;
  }
}
@media @smallerThanMD {
  .hidden-md {
    display: none;
  }
}
.pt-none {
  padding-top: 0!important;
}
//ie9 placeholder
.placeholder {
  padding-left: 15px;
  line-height: 44px!important;
}
.apply_form__input--type_left {
  .placeholder {
    left: 35px!important;
  }
}
