@import "reset";
@import "mixes";
@import "variables";
@import "general";
@import "UI/loader";
@import "UI/text";
@import "UI/buttons";
@import "UI/inputs";
@import "UI/logo";
//@import "UI/burger";
@import "UI/text_content";
//@import "UI/quote";
//@import "UI/list_item";
//@import "UI/social";
//@import "UI/secure_list";
//@import "UI/call_us";
@import "UI/menu";
@import "landings/main";
//@import "UI/price";

//@import (less) "../font/style.css";

html {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.body_wrapper {
    //sticky footer//
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    .footer_wrapper, .header_wrapper {
        display: table-row;
    }
    .main {
        display: table-row;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    }
    .header_wrapper {
        &--main {
            position: absolute;
            z-index: 10;
            width: 100%;
        }
    }
    //sticky footer end
    .font();
    color: @black-text-main;
    position: relative;
    min-height: 100%;
    padding: 0 !important;

}
body, html {
    &.menu_opened {
        @media @smallerThanSM {
            overflow: hidden;
            .body_wrapper {
                overflow: hidden;
            }
        }
    }
}

.container {
    max-width: @container-width;
    margin: 0 auto;
    padding: 0;

    @media @smallerThanSM {
        padding: 0;
    }
}

.form-page {
    min-height: 600px;
}

.section {
    position: relative;
    padding: 40px 15px;

    &.bg-img {
        position: relative;
        background-image: url("../images/bg2.jpg");
        background-position: center center;
        background-size: cover;
        min-height: 900px;
        background-repeat: no-repeat;
        padding-top: 120px;
    }
    &.bg-img2 {
        position: relative;
        min-height: 640px;
        background-color: #f8f9fb;
        &:after {
            display: block;
            content: "";
            position: absolute;
            right: 0;
            left: 50%;
            top: 0px;
            bottom: 0px;
            background: url("../images/competition.jpg") no-repeat;
            background-size: cover;
            z-index: 100;
            background-position: center center;
        }
        @media @smallerThanMD {
            &:after {
                height: 310px;
                position: static;
            }
        }
    }
    &.bg-img3 {
        background-image: url("../images/bg_blue.png");
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.bg-color1 {
        background-color: #f7f7f7;
    }
    &.bg-color2 {
        background-color: @blue-main;
        color: white;
        .section_title {
            color: white;
        }
    }
    &.bg-color3 {
        background-color: @green-dark;
        border-top: 1px solid white;
    }
    &-wave {
        @media @largerThanMD {
            &:before {
                content: "";
                background: url("../images/wave.png") repeat-x;
                position: absolute;
                top: 360px;
                left: 0;
                height: 70px;
                right: 0;
                z-index: 101;
            }
            &:after {
                content: "";
                background-color: #f8f9fb;
                position: absolute;
                top: 430px;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}
.main_header {
    font-size: 46px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: 30px;
    color: white;
    text-transform: uppercase;
    @media @smallerThanSM {
        margin-top: 0;
        font-size: 26px;
    }
}
.btn_desclimer {
    font-size: 16px;
    color: white;
    font-weight: 300;
    margin-top: 1em;
}
.strange_title {
    font-size: 34px;
    color: white;
    font-weight: 300;
    margin-top: 40px;
    text-align: center;
}
.text-col {
    padding-right: 110px!important;
    padding-top: 100px;
    .text {
        font-size: 18px;
        line-height: 1.6;
        color: #777777;
        font-weight: 300;
        @media @smallerThanMD {
            margin-bottom: 20px;
        }
    }
    @media @smallerThanMD {
        width: 100%!important;
        padding: 0!important;
    }
}
@section-title-margin-b: 25px;

.section_title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: @section-title-margin-b;
    text-align: left;
    position: relative;
    padding-bottom: 15px;
    color: @blue-main;

    @media @smallerThanSM {
        font-size: 32px;
        text-align: center;
    }
}
.secure_item {
    padding-left: 180px;
    color: inherit;
    position: relative;
    padding-right: 30px;
    &--ola {
        &:before {
            background: url("../images/ola.jpg");
        }
    }
    &--comodo {
        &:before {
            background: url("../images/comodo.png");
        }
    }
    &:before {
        content: "";
        position: absolute;
        width: 150px;
        height: 95px;
        left: 0;
        top: 0;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    @media @smallerThanMD {
        padding-left: 0;
        padding-top: 85px;
        text-align: center;
        &:before {
            height: 70px;
            left: 50%;
            .transform(translateX(-50%));
        }
    }
    &__title {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 18px;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        color: #777777;
    }
}
.no-pb {
    padding-bottom: 5px;
}
.copyrights {
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-top: 30px;
    color: #444444;
    @media @smallerThanSM {
        float: none;
        text-align: center;
    }
}
.thakyoumsg {
    margin-top: 20px;
    color: green;
}
.svcerrormsg {
    margin-top: 20px;
    color: red;
}
.popup-content {
    padding-right:20px;
}
#fancybox-content {
    box-sizing: content-box;
    div {
        box-sizing: content-box;
    }
}
#fancybox-wrap {
    box-sizing: content-box;
}
@import "elements/header";
@import "elements/footer";

@import "project";

@import "collections/b2c-form";

