.transform(@arguments) {
  transform: @arguments;
  -webkit-transform: @arguments;
  -ms-transform: @arguments;
}
.clearfix() {
  &:after {
    clear:both;
    content:" ";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
  }
}