//here are used collections
@import "collections/apply_form";
@import "collections/steps";
//@import "collections/promo";
@import "collections/advantage";
//@import "collections/companies";
@import "collections/contact_form";
@import "collections/unsubscribe";
@import "collections/b_loan";
@import "collections/waysteps";

.custom_cols{
  @mobile-col-margin: 20px;
  .clearfix;
  + .custom_cols {
    @media @smallerThanSM {
      margin-top: @mobile-col-margin;
    }
  }
  &--type1 {

    > .col {
      float: left;

      &:first-child {
        width: 65%;
        padding-right: 30px;
      }
      &:nth-child(2) {
        width: 35%;
      }
      @media @smallerThanSM {

        &:first-child {
          margin-bottom: @mobile-col-margin;
          padding: 0;
        }
        &:first-child, &:last-child {
          width: 100%;
        }
      }
    }
  }

  &--two {
    &.custom_cols--fb {
      >.col {
        &:nth-child(1) {
          width:60%;
        }
        &:nth-child(2) {
          width:40%;
        }
        @media @smallerThanSM {
          width: 100%!important;
        }
      }
    }
    > .col {
      width: 50%;
      &:nth-child(1) {
        padding-right: 25px;
        float: left;
      }
      &:nth-child(2) {
        padding-left: 25px;
        float: right;
      }
      @media @smallerThanSM {
        width: 100%;
        &:nth-child(1) {
          margin-bottom: 25px;
        }
        &:nth-child(1), &:nth-child(2) {
          padding: 0!important;
        }
      }
    }
  }
  &--four {
    //max-width: 570px;
    //position: absolute;
    //bottom: 90px;
    //left: 50%;
    //.transform(translateX(-50%));
    margin-bottom: 20px;
    .clearfix;
    .col {
      width: 25%;
      float: left;
      padding: 5px;
    }
    @media @smallerThanMD {
      margin: 0 0;
      width: 100%;
      .col {
        width: 100%;
      }
    }
    @media @smallerThanXS {
      .col:not(.mob--two) {
        width: 100%;
      }
    }
  }
  &--three {
    > .col {
      width: 33.33%;
      float: left;
      padding-right: 30px;
      min-height: 1px;
      &:nth-child(1) {
        padding: 0 30px 0 0;
      }
      &:nth-child(2) {
        padding: 0 15px;
      }
      &:nth-child(3) {
        padding: 0 0 0 30px;
      }
    }
    &.border-between {
      > .col {
        &:nth-child(2) {
          position: relative;
          &:before, &:after {
            content: "";
            height: 145px;
            width: 1px;
            background-color: @gray-border;
            position: absolute;
            top: 50%;
            .transform(translateY(-50%));
          }
          &:before {
            left: 0;
          }
          &:after {
            right: 0;
          }
          @media @smallerThanSM {
            &:before, &:after {
              width: 100%;
              height: 1px;
            }
            &:before {
              top: 0;
            }
            &:after {
              top: auto;
              bottom: 0;
            }
          }
        }
      }
    }
    @media @smallerThanSM {
      > .col {
        width: 100%;
        margin-bottom: @mobile-col-margin;
        &:nth-child(1),&:nth-child(2),&:nth-child(3) {
          padding: 0;
        }
        &:nth-child(3) {
          margin-bottom: 0;
        }
      }
    }
  }
}
.img {
  &--girl {
    margin-top: 20px;
    height: 360px;
    background-image: url("../images/girl.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

//Here are some project exceptions