//main colors
@black-text-main: #000000;
@black-text-secondary: #555555;

@gray-border: #e6e6e6;
@gray-text: #a3a3a3;
@gray-background: #f8f8f8;

@red: #e60b00;
@red-main-controls: #e60b00;
@red-link: #e60b00;
@blue-link: #00c0ff;
@cyan-border: #506b87;

@orange: #ec5f27;

@blue-main: #403953;
@blue-secondary: #be9722;
@blue-light: #014aa5;
@blue-background: #093e73;

@green-main: #00b573;
@green-dark: #007909;

//main font sizes
@text-sm: 14px;
@text-normal-size: 16px;
@text-md: 18px;
@text-lg: 20px;

//other
@header-height: 80px;
@header-mobile-height: 60px;

@container-width: 1180px;
@container-padding: 0 15px;

@border-radius: 7px;

@hover-transition: .15s linear;

@footer-height: 425px;

//breakpoints
@smallerThanLG: ~'(max-width: 1279px)';
@smallerThanMD: ~'(max-width: 1023px)';
@LpSmallerThanMD: ~'(max-width: 991px)';
@smallerThanSM: ~'(max-width: 767px)';
@smallerThanXS: ~'(max-width: 480px)';

@LargerThanLG: ~'(max-width: 1280px)';
@largerThanMD: ~'(min-width: 1024px)';
@largerThanSM: ~'(min-width: 768px)';
@largerThanXS: ~'(min-width: 481px)';