﻿@import "../../common/_breakpoints";
@import "../../common/_brand-colors";
@import "../../common/_mixins";
@import "../../common/font-variables";

@blog-author_photo-size: 170px;
@blog-author-block-padding-xs: 15px;
@blog-author-block-padding-sm: 50px;

/* author-page.less ----> */
.author-page{
    font-family: 'Work Sans';
    font-size: 16px;
    @media(min-width: @media-sm){
        margin-bottom: 70px;
    }
    .blog-author-block{
        background-color: #f5f5f5;
        padding: 0 @blog-author-block-padding-xs;
        margin-top: (@blog-author_photo-size / 2);
        font-size: 16px;

        @media(min-width: @media-sm){
            padding: 0 @blog-author-block-padding-sm;
            margin-top: (@blog-author_photo-size / 2) - 10px;
        }
    }

    .blog-holder-photo{
        max-height: (@blog-author_photo-size / 2);
        margin-bottom: 15px;
    }

    .blog-author_photo{
        max-width: @blog-author_photo-size;
        height: auto;
        border: 4px solid @brand-white;
        box-sizing: padding-box;
        display: block;
        margin: 0 auto;
        transform: translateY(-(@blog-author_photo-size / 2));
        border-radius: 50%;
    }

    .blog-author-title{
        display: inline-block;
        font-weight: @light;
        margin-bottom: 21px;
    }
    p{
        line-height: 1.43;
        letter-spacing: 0.2px;
    }

    .author_info-footer{
        overflow: hidden;
        padding: 10px @blog-author-block-padding-xs;
        margin: 0 -(@blog-author-block-padding-xs);
        box-shadow: inset 0 2px 0 0 @brand-white;
        text-align: center;
        margin-top: 30px;

        @media(min-width: @media-sm){
            padding: 23px @blog-author-block-padding-sm;
            margin: 0 -(@blog-author-block-padding-sm);
            text-align: left;
        }

        &:before{
            display: none;
        }
    }
    .btn{
        min-width: 217px;
        padding: 8px 12px;
    }
}

.content-blog-reamore{
    margin: 35px 0 25px 0;
    font-family: 'Work Sans';
    .btn{
        min-width: 217px;
        padding: 8px 12px;
    }
}
.blog-author-block{
  margin: 0 0 15px;
}

.total-posts{
    font-size: 24px;
    line-height: 0.92;
    margin: 38px 0 22px 0;
}

.list-posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0 -15px;
    flex-direction: column;

    @media(min-width: @media-sm) {
        flex-direction: row;
    }

    .blog-item-sub {
        padding: 0 15px;
        margin: 0 auto 30px auto;
        max-width: 370px;
    
        @media(min-width: @media-sm) {
            width: 50%;
            margin: 0 0 30px 0;
            max-width: none;
        }
    }
    
    .blog-item-sub-img {
        height: auto;
    }

    .content-blog-reamore {
        width: 100%;
    }

    .blog-item-sub-author {
        color: @brand-black;
        font-size: 14px;

        a {
            color: inherit;
            &:hover{
                color: @link-color;
            }
        }
    }

    .blog-item-sub-title {
        margin-bottom: 5px;
    }
}

.blog-item-sub-author{
    .fa-circle{    
        font-size: 4px;
        position: relative;
        top: -2px;
    }
}