﻿@import "../../common/_breakpoints";
@import "../../common/_brand-colors";

/* how-it-works.less*/

.work-sans {
    font-family: 'Work Sans';
}

.section-video {
    @video-inflow-height-lg: 433px;

    .video-inflow {
        position: relative;
        margin-top: 30px;
        padding-bottom: 35px;

        &:before {
            content: '';
            position: absolute;
            top: 45%;
            left: 0;
            right: 0;
            bottom: 0;
            background: @brand-gray-light;
        }

        ~ div {
            padding-bottom: 50px;
        }
    }

    h2 {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.content-rd {
    color: @brand-black;

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.44;
        letter-spacing: 0.1px;
    }

    h2{
        text-align: center;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}


.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.various-sided-wrapper {
    padding: 50px 0 0 0;

    h2 {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.sided-item-logo {
    font-size: 90px;
    text-align: center;
}

.various-sided-item {
    padding: 30px 0 40px 0;

    @media(min-width: @media-sm) {
        padding: 70px 0;
    }


    &:nth-child(2n+2) {
        background: @brand-gray-light;

        .flex {
            @media(min-width:@media-sm) {
                flex-direction: row-reverse;
            }
        }

        .sided-item-logo {
            @media(min-width:@media-sm) {
                margin-left: 30px;
            }
        }

        .sided-item-content {
            @media(min-width:@media-sm) {
                padding-left: 110px;
                text-align: right;
            }
        }
    }

    &:nth-child(2n+1) {
        .sided-item-logo {
            @media(min-width:@media-sm) {
                margin-right: 30px;
            }
        }

        .sided-item-content {
            @media(min-width:@media-sm) {
                padding-right: 120px;
            }
        }
    }

    .flex {
        @media(max-width: (@media-sm - 1px)) {
            flex-direction: column;
        }
    }
}

.sided-item-content {
    .sided-item-title {
        font-size: 24px;
        line-height: 0.92;
        margin-bottom: 10px;
    }
}

.steps-icon {
    padding: 32px 0 52px 0;
    h2{
        font-weight: 300;
        margin-top: 0;
        &:last-child{
            margin-bottom: 0;
        }
      
    }
    @media(min-width: @media-sm) {
        padding: 45px 0 30px 0;
    }

    .steps-item {
        margin-top: 45px;
    }

    .steps-item-icon {
        font-size: 80px;
        color: @icon-color-success;
        margin-bottom: 18px;
        text-align: center;
        line-height: 1;
    }

    .steps-item-title {
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.1px;
        color: #323232;
        margin-bottom: 6px;
    }

    p {
        color: #565454;
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: -0.3px;
    }
}

.content-how-much--grandient{
    padding: 90px 0 75px;
    background: rgba(115, 168, 40,0.7);
    background: -moz-linear-gradient(186deg,#73a828,#1697f2);
    background: -webkit-linear-gradient(186deg,#73a828,#1697f2);
    background: linear-gradient(186deg,#73a828,#1697f2);
    text-align: center;
    color: @brand-white;

    .how-much-title{
        font-size: 38px;
        font-weight: 600;
        line-height: 1.21;
        text-align: center;
        margin-bottom: 35px;

        @media(min-width: @media-md){
            font-size: 50px;
        }
    }
}

.content-how-much--thin{
    font-weight: 300;

    .how-much-title{
        font-weight: 300;
    }
}