﻿@import "../../common/_brand-colors";
@import "../../common/_breakpoints";
@import "../../common/_mixins";
@import "../../common/font-variables";

@find-loan-grid-max-width: 470px;

/* loans-page.less ---> */

.slogan-section{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 200px 0 35px 0;
    font-family: 'Work Sans';
    min-height: 506px;

    @media(min-width: @media-sm){
        min-height: 563px;
        padding: 320px 0 50px 0;
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.6));
        z-index: 0;
    }

    > div{
        position: relative;
        z-index: 1;
    }
    ~ div, ~ section{
        font-family: 'Work Sans';
    }
}

.title-page{
    margin-top: 0;

    @media(min-width: @media-sm){
        font-size: 48px;
        font-weight: @bold;
    }

    &:last-child{
        margin-bottom: 0;
    }
}

.lg_loans{
    padding-bottom: 50px;

    h2{
        margin: 0 0 25px 0; 
        font-weight: @light;
        color: #323232;
        @media(min-width: @media-sm){
            margin-bottom: 40px;
        }
    }
    p:not(.description){
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.3px;
        color: @brand-black;
    }
}

.find_loan{
    .finance_products{
        @media(min-width: @media-sm){
            padding-top: 0;
        }    
    }
    .grid{
        border: solid 0.8px rgba(0, 0, 0, 0.1);
        background: @brand-white;
        max-width: @find-loan-grid-max-width;
        margin: 0 auto;
    }
    .finance_product{
        @media(min-width: @media-sm){
            width: 50%;

        }    
        
        &:last-child{
            @media screen and (min-width: @media-sm) and (max-width: (@media-md - 1px) ) {
                position: static;
            }

            &:before{
                @media screen and (min-width: @media-sm) and (max-width: (@media-md - 1px) ) {
                    display: none;
                }
            }
            
        }

        /*&:nth-child(2n + 2){
            border-right: none;
        }*/
        &:nth-child(6n + 5),
        &:nth-child(6n + 6){
            border-bottom: none;
        }
    }
    .product_line{
        &:after{
            content: '';
            position: absolute;
            width: 2px;
            left: 50%;
            top: 0;
            right: auto;
            height: auto;
            bottom: -100px;
            margin-left: -2px;
            background: @brand-gray-light;   
        }
        
    }
}

.finance-slick-controls{
    display: none;

    @media(min-width: 510px){
        display: block;
        max-width: @find-loan-grid-max-width;
        margin: 20px auto;
        padding: 0;
        overflow: hidden;
        text-align: center;
        line-height: 25px;
        text-transform: uppercase;
        font-size: 14px;
        color: @brand-black;
        position: relative;
        z-index: 1;
    }

    .slick-prev{
        float: left;
    }
    .slick-next{
        float: right;
    }
    .slick-controls{
        font-size: 20px;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}