﻿@import "../../common/_brand-colors";

.var-rejection(){
    @grid-padding: 15px;
    @width-container: 540px + (@grid-padding * 2);
}

.body-rejection{
    background-color: @brand-gray-light;
    font-family: 'Work Sans', sans-serif;

    p{
        line-height: 1.38;
        margin-bottom: 15px;
    }
    a{
        text-decoration: none;
    }

    .white-bg{
        background: @brand-white;
    }
}


.container-rejection{
    .var-rejection();

    padding: 0 @grid-padding;
    max-width: @width-container;
    margin: 0 auto;
}


.header_only-logo{
    padding: 40px 0 35px;
    text-align: center;

    img{
        max-width: 176px;
        height: auto;
        width: 100%;
    }
}

.panel-reject{
    padding: 44px 15px 55px 15px;
    text-align: center;
    margin-bottom: 30px;

    @media(min-width: 570px){ //570px = @width-container
        padding-left: 40px;
        padding-right: 40px;
    }

    p{
        a{
            color: #76a923;

            &:hover{
                color: @brand-primary;
            }
        }
    }
    
    .btn{
        margin: 0 auto 35px auto;
    }

    span{
        max-width: 318px;
        display: block;
        font-size: 14px;
        line-height: 1.29;
        color: rgba(0,0,0,.4);
        margin: 0 auto 16px auto;
    }
}

.panel-reject_title{
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 24px;
}

.emoji-face{
    margin-bottom: 24px;
}

.hr-success{
    background: @brand-success;
    width: 60px;
    height: 2px;
    margin: 22px auto;
}

.panel-reject_tel{
    color: @brand-black;
    font-size: 22px;
    line-height: 0.9;
    transition: 0.3s ease-in-out;

    &:focus{
        text-decoration: underline;
    }

    &:hover{
        opacity: 0.6;
    }

    &:active{
        opacity: 1;
    }
}