﻿@import "../../font/variables-icomoon";
/*startUp-page.less*/

.loans-var() {
    @padding-banner: 30px;
    @min-height: 40vh;
}

.loans_subpage_banner {
    .loans-var();
    background-size: cover;
    background-repeat: no-repeat;
    /*display: flex;
    align-items: center;*/
    padding: @padding-banner 0;
    font-family: 'Work Sans';
    min-height: @min-height;

    .darken-lining {
        margin: -(@padding-banner) 0;
        padding: @padding-banner 0;
        min-height: @min-height;
        display: flex;
        align-items: center;

        @media(max-width: (@media-sm - 1px)) {
            padding-bottom: 0;
        }

        > div {
            
                //unncomment if full screen
                //width: 100%;

           // @media(min-width: @media-sm) {
                //padding-left: 35px;
            //}
        }
    }


    h1 {
        font-weight: @bold;
        margin-bottom: 10px;
        margin-top: 0;

        &:last-child {
            margin-bottom: 0;
        }

        @media(min-width: @media-sm) {
            font-size: 47px;
        }
    }

    p {
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: 0.1px;
        opacity: 0.7;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .banner-form-wrapper {
        background: rgba(255,255,255,0.2);
        padding: 15px;
        margin-top: 25px;

        @media(min-width: @media-sm) {
            margin: -(@padding-banner) 0;
            padding: @padding-banner;
            min-height: @min-height;
            //display: flex;
            //flex-direction: column;
            //justify-content: center;
            //margin: 0 -15px;
        }
    }

    ~ div:not(.footer-nav),
    ~ div:not(.footer-copyright),
    ~ section {
        font-family: 'Work Sans';
    }
}

.content_rd {
    ul, ol {
        .list-success-circle;
        padding-left: 20px;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            padding-left: 15px;
            text-align: left;
        }
    }

    h2 {
        font-weight: 300;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-top: 10px;
    }
    .blog-item-general-img{
        margin: 10px 0 30px;
    }

    .fix-ie-flex{
        max-width: 820px;
    }

    
}

.darken-lining {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    color: @brand-white;
}

.at_a_glance {
    padding: 10px 0 50px;

    h2 {
        font-weight: 300;
        line-height: 1.12;

        @media(min-width: @media-sm) {
            margin-bottom: 26px;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.53;
        letter-spacing: 0.2px;
    }

    .small_grid {
        display: flex;
        flex-wrap: wrap;

        .image {
            font-size: 31px;
            min-width: 27px;
            margin-right: 22px;
        }

        .col {
            display: flex;
            margin-bottom: 20px;

            .b {
                display: block;
                font-size: 18px;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.1px;
            }

            span {
                font-size: 15px;
                line-height: 1.33;
                letter-spacing: -0.2px;
                color: @brand-black;
                opacity: 0.6;
                line-height: 1.2;
            }
        }
    }
}

.banner-form-wrapper {
    color: @brand-black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #jsf-form {
        min-height: 285px;
        margin-top: 20px;
        position: relative;

        @media(min-width: @media-sm){
            min-height: 321px;
            margin-top: 0;
        }

        @media(min-width: @media-md){
            min-height: 317px;
        }

        @media(min-width: 1200px){
            min-height: 294px;
        }
        .step-wrapper {
            max-width: none;
        }
        .step-holder{
            max-width: none;
            margin-bottom: 0 !important;
        }
        .wrapper-single-questions{
            min-height: auto;
        }
    }

    .loading-form-ng {
        min-height: 288px;
        border-radius: 0;
    }
}


.green-pink-blur {
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 47%;
        bottom: 0;
        opacity: 0.1;
        -webkit-filter: blur(50px);
        filter: blur(50px);
        background-color: #76a923;
    }

    &:after {
        left: 47%;
        right: 0;
        background-color: #dc2d26;
    }

    > div {
        position: relative;
        z-index: 1;
    }
}

.sba_loans_features {
    padding: 40px 0;
    background: url(../images/advantages-bg.png) no-repeat center center;
    background-size: cover;

    .h2 {
        font-weight: 300;
        margin-top: 0;
    }

    .title-section {
        :last-child {
            margin-bottom: 38px;
        }
    }

    .success, .error {
        ul {
            padding: 0;
        }

        li {
            list-style: none;
            font-size: 17px;
            line-height: 1.53;
            letter-spacing: 0.2px;
            padding-left: 55px;
            position: relative;
            min-height: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 38px;
                font-family: 'icomoon-new' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }

    .success {
        li {
            &:before {
                content: @icomoon-circle-plus;
                color: #76a923;
            }
        }
    }

    .error {
        li {
            &:before {
                content: @icomoon-circle-minus;
                color: #e01616;
            }
        }
    }
}

.cta-business-holder {
    padding: 30px 0;
    min-height: 272px;
    color: @brand-black;

    .h4 {
        font-size: 24px;
    }

    .btn {
        margin-top: 24px;
    }
}

.h2 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 38px;
}

.loans-template{
    .video-holder{
        margin-top: 20px;
        margin-bottom: 20px;

        @media(min-width: @media-sm){
            margin-top: 35px;
            margin-bottom: 35px;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    .steps-list-wraper{
        padding: 25px 0 25px;
    }
}

.about-business-txt {
    padding: 25px 0 30px 0;

    p {
        font-size: 17px;
        font-weight: @light;
        letter-spacing: 0.2px;
    }

    .item-article{
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.loans_options {
    @default-padding-item: 14px;

    .options_item {
        margin: 0 auto 20px;
        background-color: @brand-white;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 23px 0 0;
        width: 100%;
        max-width: 400px;

        @media(min-width: @media-sm) {
            //width: calc(~"33.33333% - 15px");
            margin-bottom: 0;
        }

        &-icon {
            font-size: 77px;
            min-height: 77px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: @brand-success;
            margin-bottom: 15px;
            padding: 0 14px;
        }

        &-title {
            font-size: 18px;
            padding-bottom: @default-padding-item + 1px;
            position: relative;
            color: @brand-black;
            max-width: 140px;
            margin: 0 auto 8px;
            line-height: 1.1;
            display: flex;
            align-items: center;
            text-align: center;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 2px;
                width: 40px;
                background-color: #6aa63c;
                transform: translateX(-50%);
            }
        }

        dl {
            margin-bottom: 0;
            display: flex;
            padding: 11px @default-padding-item;
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
            font-size: 14px;

            &:last-child {
                box-shadow: none;
            }
        }

        dt {
            opacity: 0.4;
            color: @brand-black;
            width: 100%;
            max-width: 70px;
            padding-right: @default-padding-item;
            line-height: 1.1;
            font-weight: 400;
        }

        dd {
            line-height: 1.1;
        }
    }
}

.how-works-section {
    color: @brand-black;

    p {
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0.2px;
        line-height: 1.53;
    }

    h3, .h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    h2,.h2{
        &:first-child{
            margin-top: 0;
        }
    }

}

.table-compare {
    &-holder {
        margin-top: 43px;
    }

    td, th, tr {
        border: 0;
        font-size: 16px;
    }

    tr {
        min-height: 100px;

        th {
            padding: 8px 10px;
            font-size: 14px;
            font-weight: 500;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        td {
            padding: 18px 15px;
            vertical-align: middle;

            &:first-child {
                padding-left: 0;

                > div {
                    position: relative;
                    min-height: 66px;
                    display: flex;
                    //align-items: center;
                    justify-content: center;
                    padding-left: 110px;
                    flex-direction: column;

                    [class^="icomoon-"] {
                        position: absolute;
                        top: 50%;
                        left: 18px;
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &:nth-child(odd) {
            td {
                background-color: @brand-gray-light;
            }
        }
    }

    [class^="icomoon-"] {
        font-size: 64px;
        vertical-align: middle;
        //margin: 0 26px 0 18px;
    }
}

.instruction {
    &-qualify {
        padding: 40px 0 15px;
        color: @brand-black;

        .header_title {
            padding: 20px 0;
            //border-bottom: 2px solid @brand-gray-light;

            h2 {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        h2 {
            font-weight: 300;
            margin-top: 0;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        padding: 20px 0 30px;
        border-bottom: 2px solid @brand-gray-light;

        @media(min-width: @media-sm) {
            flex-direction: row;
        }

        &:last-child {
            margin-bottom: 60px;
        }

        &:first-child{
            margin-top: 20px;
            border-top: 2px solid @brand-gray-light;
        }

        .number {
            width: 60px;
            height: 60px;
            border: 1px solid @brand-success;
            border-radius: 100%;
            font-size: 34px;
            color: @brand-success;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width: (@media-sm - 1px)) {
                margin: 0 auto;
            }


            &-holder {
                min-width: 175px;

                @media(max-width: (@media-sm - 1px)) {
                    margin-bottom: 15px;
                }
            }
        }

        .content {
            @media(max-width: (@media-sm - 1px)) {
                text-align: center;
            }

            .title {
                margin-bottom: 10px;
                font-size: 17px;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.71;
                letter-spacing: 0.2px;
            }

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}

.user-feedback-business {
    margin-top: 25px;
    text-align: center;

    @media(min-width: @media-sm) {
        margin-top: -25px;
        text-align: left;
    }


    .photo {
        overflow: hidden;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin: 0 auto 10px;

        @media(min-width: @media-sm) {
            margin-left: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .quotes {
        @line-height: 3px;
        @line-width: 46px;

        font-size: 28px;
        font-weight: 300;
        line-height: 1.29;
        position: relative;
        padding-bottom: 20px + @line-height;
        margin-bottom: 18px;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: @line-width;
            height: @line-height;
            background: @brand-success;
            @media(max-width: (@media-sm - 1px)){
                left: 50%;
                margin-left: -(@line-width/2);
            }
        }
    }

    .info {
        .name {
            font-size: 22px;
            font-weight: 500;
        }
    }
}

.header-list{
    font-size: 14px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    padding: 8px 0 6px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.jump-list{
    padding: 0;
    counter-reset: listNumber;

    li{
        list-style: none;
        margin-top: 12px;
        position: relative;
        padding-left: 25px;
        
        &:before{
            counter-increment: listNumber;
            content: counter(listNumber);
            position: absolute;
            top: 3px;
            left: 0;
            color: @brand-black;
            font-size: 12px;
        }
        a{
            color: @brand-success;
            font-weight: 500;

            &:focus{
                color: lighten(@brand-success,10%);
                text-decoration: underline;
            }

            &:hover{
                color: darken(@brand-success,10%);
                text-decoration: none;
            }

            &:active{
                color: @brand-black;
            }
        }
    }
}

.blog-item-general-title{
    margin-bottom: 20px !important;
}

.white-txt{
    color: @brand-white;
}