<div class="loans-wrapper">
    <div class="spinner-holder" *ngIf="loadingService.loading" >
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="spinner-text">Loading...</div>
    </div>
    <div class="spinner-holder empty-collection" *ngIf="emptyCollection" >
        <div class="spinner-text">
            Sorry!<br/>
            We don’t have any funding options that match your search at the moment.<br/>
            Please adjust your search filters or try again in a few days.
        </div>
    </div>
    <div *ngFor="let category of categories; let catIndex = index; " class="category-item">
        <div class="row">
            <h3>{{category.category}}</h3>
            <p [innerHTML]="category.description"></p>
        </div>
        <div class="row loan-header">
            <div class="col-md-2">
                Funding Options
            </div>
            <div class="col-md-2">
                APR
            </div>
            <div class="col-md-2">
                Do you qualify?
            </div>
            <div class="col-md-2">
                Time in Business
            </div>
            <div class="col-md-2">
                Annual Revenue
            </div>
            <div class="col-md-2 last">
            </div>
        </div>
        <div *ngFor="let item of category.items; let itemIndex = index;" class="loan-item">
            <div class="row loan-line">
                <div class="col-md-2 logo-holder">
                    <img src="{{item.logo}}" *ngIf="item.logo"/>
                    <p *ngIf="!item.logo" class="item-name-l">{{item.name}}</p>
                    <a (click)="showHideItems(catIndex, itemIndex)" class="info-icon"> 
                        <div *ngIf="itemsState[catIndex][itemIndex]">Hide Details <i class="fa fa-arrow-up" aria-hidden="true"></i></div>
                        <div *ngIf="!itemsState[catIndex][itemIndex]">View Details <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                    </a>
                </div>
                <div class="col-md-2">
                    <p>{{item.interest}}</p>
                    <p class="add-info">{{item.interestText}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{item.creditScore}}</p>
                    <p class="add-info">min credit score</p>
                </div>
                <div class="col-md-2">
                    <p>{{item.timeInBusiness}}</p>
                    <p class="add-info"></p>
                </div>
                <div class="col-md-2">
                    <p>{{item.annualRevenue}}</p>
                    <p class="add-info"></p>
                </div>
                <div class="col-md-2 last">
                    <a href="{{item.redirectLink}}" target="_blank" class="redirect-button" (click)="trackRedirect(item.name)">{{item.buttonText}}</a>
                    <!--<span class="redirect-info">Pre-qualify with LendGenius</span>-->
                    <a (click)="showHideItems(catIndex, itemIndex)" class="info-icon-mobile"> 
                        <div *ngIf="itemsState[catIndex][itemIndex]">Hide Details <i class="fa fa-arrow-up" aria-hidden="true"></i></div>
                        <div *ngIf="!itemsState[catIndex][itemIndex]">View Details <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                    </a>
                </div>
            </div>
            <div class="row row-eq-height loan-line-info" *ngIf="itemsState[catIndex][itemIndex]">
                <div class="col-md-6 no-border">
                    <div class="border-holder">
                        <h4>Qualifications</h4>
                        <ul>
                            <li *ngFor="let qItem of item.qualifications">{{qItem.name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 last">
                    <h4>Pros</h4>
                    <ul>
                        <li *ngFor="let qItem of item.pros">{{qItem.name}}</li>
                    </ul>
                </div>
                <div class="col-md-3 last">
                    <h4>Cons</h4>
                    <ul class="red">
                        <li *ngFor="let qItem of item.cons">{{qItem.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
