<div class="filters-wrapper">
    <h3>Filter results</h3>
    <div class="green-deck"></div>

    <div class="filter-holder"> 
        <loan-amount [filtersValues]="filtersValues"></loan-amount>
    </div>
    <div class="filter-holder"> 
        <age-of-business [filtersValues]="filtersValues"></age-of-business>
    </div>
    <div class="filter-holder"> 
        <annual-revenue [filtersValues]="filtersValues"></annual-revenue>
    </div>
    <div class="filter-holder"> 
        <credit-score [filtersValues]="filtersValues"></credit-score>
    </div>
    <a (click)="getAllOptions()" class="all-options">Show All Loan Options</a>
    <!--div class="filter-holder"> 
        <is-profitable [filtersValues]="filtersValues"></is-profitable>
    </div-->
</div>
