@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ntr70h");
  src: url("../fonts/icomoon.eot?ntr70h#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ntr70h") format("truetype"), url("../fonts/icomoon.woff?ntr70h") format("woff"), url("../fonts/icomoon.svg?ntr70h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SvgIcons";
  src: url("../fonts/SvgIcons.eot");
  src: url("../fonts/SvgIcons.eot?#iefix") format("eot"), url("../fonts/SvgIcons.woff2") format("woff2"), url("../fonts/SvgIcons.woff") format("woff"), url("../fonts/SvgIcons.ttf") format("truetype"), url("../fonts/SvgIcons.svg#SvgIcons") format("svg");
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon:before {
  font-family: "SvgIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-search:before {
  content: "\e90a";
}

.icon-calculator:before {
  content: "\e900";
}

.icon-cards:before {
  content: "\e901";
}

.icon-cash:before {
  content: "\e902";
}

.icon-credit-cards:before {
  content: "\e903";
}

.icon-equipment:before {
  content: "\e904";
}

.icon-loans:before {
  content: "\e905";
}

.icon-sba:before {
  content: "\e906";
}

.icon-term:before {
  content: "\e907";
}

.icon-tools:before {
  content: "\e908";
}

.icon-video:before {
  content: "\e909";
}

.font-icon-arrow-down:before {
  content: "\E001";
}

.font-icon-bag:before {
  content: "\E002";
}

.font-icon-business-line-credit:before {
  content: "\E003";
}

.font-icon-creditcards:before {
  content: "\E004";
}

.font-icon-equipment:before {
  content: "\E005";
}

.font-icon-invoice:before {
  content: "\E006";
}

.font-icon-loan_options:before {
  content: "\E007";
}

.font-icon-merchant:before {
  content: "\E008";
}

.font-icon-money_aproved:before {
  content: "\E009";
}

.font-icon-online_form:before {
  content: "\E00A";
}

.font-icon-sba:before {
  content: "\E00C";
}

.font-icon-select:before {
  content: "\E00D";
}

.font-icon-short_term:before {
  content: "\E00F";
}

.font-icon-small_business:before {
  content: "\E010";
}

.font-icon-startup_loan:before {
  content: "\E012";
}

.font-icon-stop-arrow:before {
  content: "\E013";
}

.font-icon-terms:before {
  content: "\E014";
}
